set_location blink_counter_119_add_4_10_lut 2 24 0 # SB_LUT4 (LogicCell: blink_counter_119__i8_LC_0)
set_location blink_counter_119__i8 2 24 0 # SB_DFF (LogicCell: blink_counter_119__i8_LC_0)
set_location blink_counter_119_add_4_10 2 24 0 # SB_CARRY (LogicCell: blink_counter_119__i8_LC_0)
set_location blink_counter_119_add_4_11_lut 2 24 1 # SB_LUT4 (LogicCell: blink_counter_119__i9_LC_1)
set_location blink_counter_119__i9 2 24 1 # SB_DFF (LogicCell: blink_counter_119__i9_LC_1)
set_location blink_counter_119_add_4_11 2 24 1 # SB_CARRY (LogicCell: blink_counter_119__i9_LC_1)
set_location blink_counter_119_add_4_12_lut 2 24 2 # SB_LUT4 (LogicCell: blink_counter_119__i10_LC_2)
set_location blink_counter_119__i10 2 24 2 # SB_DFF (LogicCell: blink_counter_119__i10_LC_2)
set_location blink_counter_119_add_4_12 2 24 2 # SB_CARRY (LogicCell: blink_counter_119__i10_LC_2)
set_location blink_counter_119_add_4_13_lut 2 24 3 # SB_LUT4 (LogicCell: blink_counter_119__i11_LC_3)
set_location blink_counter_119__i11 2 24 3 # SB_DFF (LogicCell: blink_counter_119__i11_LC_3)
set_location blink_counter_119_add_4_13 2 24 3 # SB_CARRY (LogicCell: blink_counter_119__i11_LC_3)
set_location blink_counter_119_add_4_14_lut 2 24 4 # SB_LUT4 (LogicCell: blink_counter_119__i12_LC_4)
set_location blink_counter_119__i12 2 24 4 # SB_DFF (LogicCell: blink_counter_119__i12_LC_4)
set_location blink_counter_119_add_4_14 2 24 4 # SB_CARRY (LogicCell: blink_counter_119__i12_LC_4)
set_location blink_counter_119_add_4_15_lut 2 24 5 # SB_LUT4 (LogicCell: blink_counter_119__i13_LC_5)
set_location blink_counter_119__i13 2 24 5 # SB_DFF (LogicCell: blink_counter_119__i13_LC_5)
set_location blink_counter_119_add_4_15 2 24 5 # SB_CARRY (LogicCell: blink_counter_119__i13_LC_5)
set_location blink_counter_119_add_4_16_lut 2 24 6 # SB_LUT4 (LogicCell: blink_counter_119__i14_LC_6)
set_location blink_counter_119__i14 2 24 6 # SB_DFF (LogicCell: blink_counter_119__i14_LC_6)
set_location blink_counter_119_add_4_16 2 24 6 # SB_CARRY (LogicCell: blink_counter_119__i14_LC_6)
set_location blink_counter_119_add_4_17_lut 2 24 7 # SB_LUT4 (LogicCell: blink_counter_119__i15_LC_7)
set_location blink_counter_119__i15 2 24 7 # SB_DFF (LogicCell: blink_counter_119__i15_LC_7)
set_location blink_counter_119_add_4_17 2 24 7 # SB_CARRY (LogicCell: blink_counter_119__i15_LC_7)
set_location blink_counter_119_add_4_18_lut 2 25 0 # SB_LUT4 (LogicCell: blink_counter_119__i16_LC_8)
set_location blink_counter_119__i16 2 25 0 # SB_DFF (LogicCell: blink_counter_119__i16_LC_8)
set_location blink_counter_119_add_4_18 2 25 0 # SB_CARRY (LogicCell: blink_counter_119__i16_LC_8)
set_location blink_counter_119_add_4_19_lut 2 25 1 # SB_LUT4 (LogicCell: blink_counter_119__i17_LC_9)
set_location blink_counter_119__i17 2 25 1 # SB_DFF (LogicCell: blink_counter_119__i17_LC_9)
set_location blink_counter_119_add_4_19 2 25 1 # SB_CARRY (LogicCell: blink_counter_119__i17_LC_9)
set_location blink_counter_119_add_4_20_lut 2 25 2 # SB_LUT4 (LogicCell: blink_counter_119__i18_LC_10)
set_location blink_counter_119__i18 2 25 2 # SB_DFF (LogicCell: blink_counter_119__i18_LC_10)
set_location blink_counter_119_add_4_20 2 25 2 # SB_CARRY (LogicCell: blink_counter_119__i18_LC_10)
set_location blink_counter_119_add_4_21_lut 2 25 3 # SB_LUT4 (LogicCell: blink_counter_119__i19_LC_11)
set_location blink_counter_119__i19 2 25 3 # SB_DFF (LogicCell: blink_counter_119__i19_LC_11)
set_location blink_counter_119_add_4_21 2 25 3 # SB_CARRY (LogicCell: blink_counter_119__i19_LC_11)
set_location blink_counter_119_add_4_22_lut 2 25 4 # SB_LUT4 (LogicCell: blink_counter_119__i20_LC_12)
set_location blink_counter_119__i20 2 25 4 # SB_DFF (LogicCell: blink_counter_119__i20_LC_12)
set_location blink_counter_119_add_4_22 2 25 4 # SB_CARRY (LogicCell: blink_counter_119__i20_LC_12)
set_location blink_counter_119_add_4_23_lut 2 25 5 # SB_LUT4 (LogicCell: blink_counter_119__i21_LC_13)
set_location blink_counter_119__i21 2 25 5 # SB_DFF (LogicCell: blink_counter_119__i21_LC_13)
set_location blink_counter_119_add_4_23 2 25 5 # SB_CARRY (LogicCell: blink_counter_119__i21_LC_13)
set_location blink_counter_119_add_4_24_lut 2 25 6 # SB_LUT4 (LogicCell: blink_counter_119__i22_LC_14)
set_location blink_counter_119__i22 2 25 6 # SB_DFF (LogicCell: blink_counter_119__i22_LC_14)
set_location blink_counter_119_add_4_24 2 25 6 # SB_CARRY (LogicCell: blink_counter_119__i22_LC_14)
set_location blink_counter_119_add_4_25_lut 2 25 7 # SB_LUT4 (LogicCell: blink_counter_119__i23_LC_15)
set_location blink_counter_119__i23 2 25 7 # SB_DFF (LogicCell: blink_counter_119__i23_LC_15)
set_location blink_counter_119_add_4_25 2 25 7 # SB_CARRY (LogicCell: blink_counter_119__i23_LC_15)
set_location blink_counter_119_add_4_26_lut 2 26 0 # SB_LUT4 (LogicCell: blink_counter_119__i24_LC_16)
set_location blink_counter_119__i24 2 26 0 # SB_DFF (LogicCell: blink_counter_119__i24_LC_16)
set_location blink_counter_119_add_4_26 2 26 0 # SB_CARRY (LogicCell: blink_counter_119__i24_LC_16)
set_location blink_counter_119_add_4_27_lut 2 26 1 # SB_LUT4 (LogicCell: blink_counter_119__i25_LC_17)
set_location blink_counter_119__i25 2 26 1 # SB_DFF (LogicCell: blink_counter_119__i25_LC_17)
set_location blink_counter_119_add_4_2_lut 2 23 0 # SB_LUT4 (LogicCell: blink_counter_119__i0_LC_18)
set_location blink_counter_119__i0 2 23 0 # SB_DFF (LogicCell: blink_counter_119__i0_LC_18)
set_location blink_counter_119_add_4_2 2 23 0 # SB_CARRY (LogicCell: blink_counter_119__i0_LC_18)
set_location blink_counter_119_add_4_3_lut 2 23 1 # SB_LUT4 (LogicCell: blink_counter_119__i1_LC_19)
set_location blink_counter_119__i1 2 23 1 # SB_DFF (LogicCell: blink_counter_119__i1_LC_19)
set_location blink_counter_119_add_4_3 2 23 1 # SB_CARRY (LogicCell: blink_counter_119__i1_LC_19)
set_location blink_counter_119_add_4_4_lut 2 23 2 # SB_LUT4 (LogicCell: blink_counter_119__i2_LC_20)
set_location blink_counter_119__i2 2 23 2 # SB_DFF (LogicCell: blink_counter_119__i2_LC_20)
set_location blink_counter_119_add_4_4 2 23 2 # SB_CARRY (LogicCell: blink_counter_119__i2_LC_20)
set_location blink_counter_119_add_4_5_lut 2 23 3 # SB_LUT4 (LogicCell: blink_counter_119__i3_LC_21)
set_location blink_counter_119__i3 2 23 3 # SB_DFF (LogicCell: blink_counter_119__i3_LC_21)
set_location blink_counter_119_add_4_5 2 23 3 # SB_CARRY (LogicCell: blink_counter_119__i3_LC_21)
set_location blink_counter_119_add_4_6_lut 2 23 4 # SB_LUT4 (LogicCell: blink_counter_119__i4_LC_22)
set_location blink_counter_119__i4 2 23 4 # SB_DFF (LogicCell: blink_counter_119__i4_LC_22)
set_location blink_counter_119_add_4_6 2 23 4 # SB_CARRY (LogicCell: blink_counter_119__i4_LC_22)
set_location blink_counter_119_add_4_7_lut 2 23 5 # SB_LUT4 (LogicCell: blink_counter_119__i5_LC_23)
set_location blink_counter_119__i5 2 23 5 # SB_DFF (LogicCell: blink_counter_119__i5_LC_23)
set_location blink_counter_119_add_4_7 2 23 5 # SB_CARRY (LogicCell: blink_counter_119__i5_LC_23)
set_location blink_counter_119_add_4_8_lut 2 23 6 # SB_LUT4 (LogicCell: blink_counter_119__i6_LC_24)
set_location blink_counter_119__i6 2 23 6 # SB_DFF (LogicCell: blink_counter_119__i6_LC_24)
set_location blink_counter_119_add_4_8 2 23 6 # SB_CARRY (LogicCell: blink_counter_119__i6_LC_24)
set_location blink_counter_119_add_4_9_lut 2 23 7 # SB_LUT4 (LogicCell: blink_counter_119__i7_LC_25)
set_location blink_counter_119__i7 2 23 7 # SB_DFF (LogicCell: blink_counter_119__i7_LC_25)
set_location blink_counter_119_add_4_9 2 23 7 # SB_CARRY (LogicCell: blink_counter_119__i7_LC_25)
set_location clk_divider_116_add_4_10_lut 1 23 0 # SB_LUT4 (LogicCell: clk_divider_116__i8_LC_26)
set_location clk_divider_116__i8 1 23 0 # SB_DFFSR (LogicCell: clk_divider_116__i8_LC_26)
set_location clk_divider_116_add_4_10 1 23 0 # SB_CARRY (LogicCell: clk_divider_116__i8_LC_26)
set_location clk_divider_116_add_4_11_lut 1 23 1 # SB_LUT4 (LogicCell: clk_divider_116__i9_LC_27)
set_location clk_divider_116__i9 1 23 1 # SB_DFFSR (LogicCell: clk_divider_116__i9_LC_27)
set_location clk_divider_116_add_4_11 1 23 1 # SB_CARRY (LogicCell: clk_divider_116__i9_LC_27)
set_location clk_divider_116_add_4_12_lut 1 23 2 # SB_LUT4 (LogicCell: clk_divider_116__i10_LC_28)
set_location clk_divider_116__i10 1 23 2 # SB_DFFSR (LogicCell: clk_divider_116__i10_LC_28)
set_location clk_divider_116_add_4_12 1 23 2 # SB_CARRY (LogicCell: clk_divider_116__i10_LC_28)
set_location clk_divider_116_add_4_13_lut 1 23 3 # SB_LUT4 (LogicCell: clk_divider_116__i11_LC_29)
set_location clk_divider_116__i11 1 23 3 # SB_DFFSR (LogicCell: clk_divider_116__i11_LC_29)
set_location clk_divider_116_add_4_13 1 23 3 # SB_CARRY (LogicCell: clk_divider_116__i11_LC_29)
set_location clk_divider_116_add_4_14_lut 1 23 4 # SB_LUT4 (LogicCell: clk_divider_116__i12_LC_30)
set_location clk_divider_116__i12 1 23 4 # SB_DFFSR (LogicCell: clk_divider_116__i12_LC_30)
set_location clk_divider_116_add_4_14 1 23 4 # SB_CARRY (LogicCell: clk_divider_116__i12_LC_30)
set_location clk_divider_116_add_4_15_lut 1 23 5 # SB_LUT4 (LogicCell: clk_divider_116__i13_LC_31)
set_location clk_divider_116__i13 1 23 5 # SB_DFFSR (LogicCell: clk_divider_116__i13_LC_31)
set_location clk_divider_116_add_4_15 1 23 5 # SB_CARRY (LogicCell: clk_divider_116__i13_LC_31)
set_location clk_divider_116_add_4_16_lut 1 23 6 # SB_LUT4 (LogicCell: clk_divider_116__i14_LC_32)
set_location clk_divider_116__i14 1 23 6 # SB_DFFSR (LogicCell: clk_divider_116__i14_LC_32)
set_location clk_divider_116_add_4_16 1 23 6 # SB_CARRY (LogicCell: clk_divider_116__i14_LC_32)
set_location clk_divider_116_add_4_17_lut 1 23 7 # SB_LUT4 (LogicCell: clk_divider_116__i15_LC_33)
set_location clk_divider_116__i15 1 23 7 # SB_DFFSR (LogicCell: clk_divider_116__i15_LC_33)
set_location clk_divider_116_add_4_17 1 23 7 # SB_CARRY (LogicCell: clk_divider_116__i15_LC_33)
set_location clk_divider_116_add_4_18_lut 1 24 0 # SB_LUT4 (LogicCell: clk_divider_116__i16_LC_34)
set_location clk_divider_116__i16 1 24 0 # SB_DFFSR (LogicCell: clk_divider_116__i16_LC_34)
set_location clk_divider_116_add_4_18 1 24 0 # SB_CARRY (LogicCell: clk_divider_116__i16_LC_34)
set_location clk_divider_116_add_4_19_lut 1 24 1 # SB_LUT4 (LogicCell: clk_divider_116__i17_LC_35)
set_location clk_divider_116__i17 1 24 1 # SB_DFFSR (LogicCell: clk_divider_116__i17_LC_35)
set_location clk_divider_116_add_4_19 1 24 1 # SB_CARRY (LogicCell: clk_divider_116__i17_LC_35)
set_location clk_divider_116_add_4_20_lut 1 24 2 # SB_LUT4 (LogicCell: clk_divider_116__i18_LC_36)
set_location clk_divider_116__i18 1 24 2 # SB_DFFSR (LogicCell: clk_divider_116__i18_LC_36)
set_location clk_divider_116_add_4_20 1 24 2 # SB_CARRY (LogicCell: clk_divider_116__i18_LC_36)
set_location clk_divider_116_add_4_21_lut 1 24 3 # SB_LUT4 (LogicCell: clk_divider_116__i19_LC_37)
set_location clk_divider_116__i19 1 24 3 # SB_DFFSR (LogicCell: clk_divider_116__i19_LC_37)
set_location clk_divider_116_add_4_21 1 24 3 # SB_CARRY (LogicCell: clk_divider_116__i19_LC_37)
set_location clk_divider_116_add_4_22_lut 1 24 4 # SB_LUT4 (LogicCell: clk_divider_116__i20_LC_38)
set_location clk_divider_116__i20 1 24 4 # SB_DFFSR (LogicCell: clk_divider_116__i20_LC_38)
set_location clk_divider_116_add_4_22 1 24 4 # SB_CARRY (LogicCell: clk_divider_116__i20_LC_38)
set_location clk_divider_116_add_4_23_lut 1 24 5 # SB_LUT4 (LogicCell: clk_divider_116__i21_LC_39)
set_location clk_divider_116__i21 1 24 5 # SB_DFFSR (LogicCell: clk_divider_116__i21_LC_39)
set_location clk_divider_116_add_4_23 1 24 5 # SB_CARRY (LogicCell: clk_divider_116__i21_LC_39)
set_location clk_divider_116_add_4_24_lut 1 24 6 # SB_LUT4 (LogicCell: clk_divider_116__i22_LC_40)
set_location clk_divider_116__i22 1 24 6 # SB_DFFSR (LogicCell: clk_divider_116__i22_LC_40)
set_location clk_divider_116_add_4_24 1 24 6 # SB_CARRY (LogicCell: clk_divider_116__i22_LC_40)
set_location clk_divider_116_add_4_25_lut 1 24 7 # SB_LUT4 (LogicCell: clk_divider_116__i23_LC_41)
set_location clk_divider_116__i23 1 24 7 # SB_DFFSR (LogicCell: clk_divider_116__i23_LC_41)
set_location clk_divider_116_add_4_25 1 24 7 # SB_CARRY (LogicCell: clk_divider_116__i23_LC_41)
set_location clk_divider_116_add_4_26_lut 1 25 0 # SB_LUT4 (LogicCell: clk_divider_116__i24_LC_42)
set_location clk_divider_116__i24 1 25 0 # SB_DFFSR (LogicCell: clk_divider_116__i24_LC_42)
set_location clk_divider_116_add_4_26 1 25 0 # SB_CARRY (LogicCell: clk_divider_116__i24_LC_42)
set_location clk_divider_116_add_4_27_lut 1 25 1 # SB_LUT4 (LogicCell: clk_divider_116__i25_LC_43)
set_location clk_divider_116__i25 1 25 1 # SB_DFFSR (LogicCell: clk_divider_116__i25_LC_43)
set_location clk_divider_116_add_4_27 1 25 1 # SB_CARRY (LogicCell: clk_divider_116__i25_LC_43)
set_location clk_divider_116_add_4_28_lut 1 25 2 # SB_LUT4 (LogicCell: clk_divider_116__i26_LC_44)
set_location clk_divider_116__i26 1 25 2 # SB_DFFSR (LogicCell: clk_divider_116__i26_LC_44)
set_location clk_divider_116_add_4_28 1 25 2 # SB_CARRY (LogicCell: clk_divider_116__i26_LC_44)
set_location clk_divider_116_add_4_29_lut 1 25 3 # SB_LUT4 (LogicCell: clk_divider_116__i27_LC_45)
set_location clk_divider_116__i27 1 25 3 # SB_DFFSR (LogicCell: clk_divider_116__i27_LC_45)
set_location clk_divider_116_add_4_29 1 25 3 # SB_CARRY (LogicCell: clk_divider_116__i27_LC_45)
set_location clk_divider_116_add_4_2_lut 1 22 0 # SB_LUT4 (LogicCell: clk_divider_116__i0_LC_46)
set_location clk_divider_116__i0 1 22 0 # SB_DFFSR (LogicCell: clk_divider_116__i0_LC_46)
set_location clk_divider_116_add_4_2 1 22 0 # SB_CARRY (LogicCell: clk_divider_116__i0_LC_46)
set_location clk_divider_116_add_4_30_lut 1 25 4 # SB_LUT4 (LogicCell: clk_divider_116__i28_LC_47)
set_location clk_divider_116__i28 1 25 4 # SB_DFFSR (LogicCell: clk_divider_116__i28_LC_47)
set_location clk_divider_116_add_4_30 1 25 4 # SB_CARRY (LogicCell: clk_divider_116__i28_LC_47)
set_location clk_divider_116_add_4_31_lut 1 25 5 # SB_LUT4 (LogicCell: clk_divider_116__i29_LC_48)
set_location clk_divider_116__i29 1 25 5 # SB_DFFSR (LogicCell: clk_divider_116__i29_LC_48)
set_location clk_divider_116_add_4_31 1 25 5 # SB_CARRY (LogicCell: clk_divider_116__i29_LC_48)
set_location clk_divider_116_add_4_32_lut 1 25 6 # SB_LUT4 (LogicCell: clk_divider_116__i30_LC_49)
set_location clk_divider_116__i30 1 25 6 # SB_DFFSR (LogicCell: clk_divider_116__i30_LC_49)
set_location clk_divider_116_add_4_32 1 25 6 # SB_CARRY (LogicCell: clk_divider_116__i30_LC_49)
set_location clk_divider_116_add_4_33_lut 1 25 7 # SB_LUT4 (LogicCell: clk_divider_116__i31_LC_50)
set_location clk_divider_116__i31 1 25 7 # SB_DFFSR (LogicCell: clk_divider_116__i31_LC_50)
set_location clk_divider_116_add_4_3_lut 1 22 1 # SB_LUT4 (LogicCell: clk_divider_116__i1_LC_51)
set_location clk_divider_116__i1 1 22 1 # SB_DFFSR (LogicCell: clk_divider_116__i1_LC_51)
set_location clk_divider_116_add_4_3 1 22 1 # SB_CARRY (LogicCell: clk_divider_116__i1_LC_51)
set_location clk_divider_116_add_4_4_lut 1 22 2 # SB_LUT4 (LogicCell: clk_divider_116__i2_LC_52)
set_location clk_divider_116__i2 1 22 2 # SB_DFFSR (LogicCell: clk_divider_116__i2_LC_52)
set_location clk_divider_116_add_4_4 1 22 2 # SB_CARRY (LogicCell: clk_divider_116__i2_LC_52)
set_location clk_divider_116_add_4_5_lut 1 22 3 # SB_LUT4 (LogicCell: clk_divider_116__i3_LC_53)
set_location clk_divider_116__i3 1 22 3 # SB_DFFSR (LogicCell: clk_divider_116__i3_LC_53)
set_location clk_divider_116_add_4_5 1 22 3 # SB_CARRY (LogicCell: clk_divider_116__i3_LC_53)
set_location clk_divider_116_add_4_6_lut 1 22 4 # SB_LUT4 (LogicCell: clk_divider_116__i4_LC_54)
set_location clk_divider_116__i4 1 22 4 # SB_DFFSR (LogicCell: clk_divider_116__i4_LC_54)
set_location clk_divider_116_add_4_6 1 22 4 # SB_CARRY (LogicCell: clk_divider_116__i4_LC_54)
set_location clk_divider_116_add_4_7_lut 1 22 5 # SB_LUT4 (LogicCell: clk_divider_116__i5_LC_55)
set_location clk_divider_116__i5 1 22 5 # SB_DFFSR (LogicCell: clk_divider_116__i5_LC_55)
set_location clk_divider_116_add_4_7 1 22 5 # SB_CARRY (LogicCell: clk_divider_116__i5_LC_55)
set_location clk_divider_116_add_4_8_lut 1 22 6 # SB_LUT4 (LogicCell: clk_divider_116__i6_LC_56)
set_location clk_divider_116__i6 1 22 6 # SB_DFFSR (LogicCell: clk_divider_116__i6_LC_56)
set_location clk_divider_116_add_4_8 1 22 6 # SB_CARRY (LogicCell: clk_divider_116__i6_LC_56)
set_location clk_divider_116_add_4_9_lut 1 22 7 # SB_LUT4 (LogicCell: clk_divider_116__i7_LC_57)
set_location clk_divider_116__i7 1 22 7 # SB_DFFSR (LogicCell: clk_divider_116__i7_LC_57)
set_location clk_divider_116_add_4_9 1 22 7 # SB_CARRY (LogicCell: clk_divider_116__i7_LC_57)
set_location counter_117_add_4_10_lut 3 23 0 # SB_LUT4 (LogicCell: counter_117__i8_LC_58)
set_location counter_117__i8 3 23 0 # SB_DFFSR (LogicCell: counter_117__i8_LC_58)
set_location counter_117_add_4_10 3 23 0 # SB_CARRY (LogicCell: counter_117__i8_LC_58)
set_location counter_117_add_4_11_lut 3 23 1 # SB_LUT4 (LogicCell: counter_117__i9_LC_59)
set_location counter_117__i9 3 23 1 # SB_DFFSR (LogicCell: counter_117__i9_LC_59)
set_location counter_117_add_4_11 3 23 1 # SB_CARRY (LogicCell: counter_117__i9_LC_59)
set_location counter_117_add_4_12_lut 3 23 2 # SB_LUT4 (LogicCell: counter_117__i10_LC_60)
set_location counter_117__i10 3 23 2 # SB_DFFSR (LogicCell: counter_117__i10_LC_60)
set_location counter_117_add_4_12 3 23 2 # SB_CARRY (LogicCell: counter_117__i10_LC_60)
set_location counter_117_add_4_13_lut 3 23 3 # SB_LUT4 (LogicCell: counter_117__i11_LC_61)
set_location counter_117__i11 3 23 3 # SB_DFFSR (LogicCell: counter_117__i11_LC_61)
set_location counter_117_add_4_13 3 23 3 # SB_CARRY (LogicCell: counter_117__i11_LC_61)
set_location counter_117_add_4_14_lut 3 23 4 # SB_LUT4 (LogicCell: counter_117__i12_LC_62)
set_location counter_117__i12 3 23 4 # SB_DFFSR (LogicCell: counter_117__i12_LC_62)
set_location counter_117_add_4_14 3 23 4 # SB_CARRY (LogicCell: counter_117__i12_LC_62)
set_location counter_117_add_4_15_lut 3 23 5 # SB_LUT4 (LogicCell: counter_117__i13_LC_63)
set_location counter_117__i13 3 23 5 # SB_DFFSR (LogicCell: counter_117__i13_LC_63)
set_location counter_117_add_4_15 3 23 5 # SB_CARRY (LogicCell: counter_117__i13_LC_63)
set_location counter_117_add_4_16_lut 3 23 6 # SB_LUT4 (LogicCell: counter_117__i14_LC_64)
set_location counter_117__i14 3 23 6 # SB_DFFSR (LogicCell: counter_117__i14_LC_64)
set_location counter_117_add_4_16 3 23 6 # SB_CARRY (LogicCell: counter_117__i14_LC_64)
set_location counter_117_add_4_17_lut 3 23 7 # SB_LUT4 (LogicCell: counter_117__i15_LC_65)
set_location counter_117__i15 3 23 7 # SB_DFFSR (LogicCell: counter_117__i15_LC_65)
set_location counter_117_add_4_17 3 23 7 # SB_CARRY (LogicCell: counter_117__i15_LC_65)
set_location counter_117_add_4_18_lut 3 24 0 # SB_LUT4 (LogicCell: counter_117__i16_LC_66)
set_location counter_117__i16 3 24 0 # SB_DFFSR (LogicCell: counter_117__i16_LC_66)
set_location counter_117_add_4_18 3 24 0 # SB_CARRY (LogicCell: counter_117__i16_LC_66)
set_location counter_117_add_4_19_lut 3 24 1 # SB_LUT4 (LogicCell: counter_117__i17_LC_67)
set_location counter_117__i17 3 24 1 # SB_DFFSR (LogicCell: counter_117__i17_LC_67)
set_location counter_117_add_4_19 3 24 1 # SB_CARRY (LogicCell: counter_117__i17_LC_67)
set_location counter_117_add_4_20_lut 3 24 2 # SB_LUT4 (LogicCell: counter_117__i18_LC_68)
set_location counter_117__i18 3 24 2 # SB_DFFSR (LogicCell: counter_117__i18_LC_68)
set_location counter_117_add_4_20 3 24 2 # SB_CARRY (LogicCell: counter_117__i18_LC_68)
set_location counter_117_add_4_21_lut 3 24 3 # SB_LUT4 (LogicCell: counter_117__i19_LC_69)
set_location counter_117__i19 3 24 3 # SB_DFFSR (LogicCell: counter_117__i19_LC_69)
set_location counter_117_add_4_21 3 24 3 # SB_CARRY (LogicCell: counter_117__i19_LC_69)
set_location counter_117_add_4_22_lut 3 24 4 # SB_LUT4 (LogicCell: counter_117__i20_LC_70)
set_location counter_117__i20 3 24 4 # SB_DFFSR (LogicCell: counter_117__i20_LC_70)
set_location counter_117_add_4_22 3 24 4 # SB_CARRY (LogicCell: counter_117__i20_LC_70)
set_location counter_117_add_4_23_lut 3 24 5 # SB_LUT4 (LogicCell: counter_117__i21_LC_71)
set_location counter_117__i21 3 24 5 # SB_DFFSR (LogicCell: counter_117__i21_LC_71)
set_location counter_117_add_4_23 3 24 5 # SB_CARRY (LogicCell: counter_117__i21_LC_71)
set_location counter_117_add_4_24_lut 3 24 6 # SB_LUT4 (LogicCell: counter_117__i22_LC_72)
set_location counter_117__i22 3 24 6 # SB_DFFSR (LogicCell: counter_117__i22_LC_72)
set_location counter_117_add_4_24 3 24 6 # SB_CARRY (LogicCell: counter_117__i22_LC_72)
set_location counter_117_add_4_25_lut 3 24 7 # SB_LUT4 (LogicCell: counter_117__i23_LC_73)
set_location counter_117__i23 3 24 7 # SB_DFFSR (LogicCell: counter_117__i23_LC_73)
set_location counter_117_add_4_25 3 24 7 # SB_CARRY (LogicCell: counter_117__i23_LC_73)
set_location counter_117_add_4_26_lut 3 25 0 # SB_LUT4 (LogicCell: counter_117__i24_LC_74)
set_location counter_117__i24 3 25 0 # SB_DFFSR (LogicCell: counter_117__i24_LC_74)
set_location counter_117_add_4_26 3 25 0 # SB_CARRY (LogicCell: counter_117__i24_LC_74)
set_location counter_117_add_4_27_lut 3 25 1 # SB_LUT4 (LogicCell: counter_117__i25_LC_75)
set_location counter_117__i25 3 25 1 # SB_DFFSR (LogicCell: counter_117__i25_LC_75)
set_location counter_117_add_4_27 3 25 1 # SB_CARRY (LogicCell: counter_117__i25_LC_75)
set_location counter_117_add_4_28_lut 3 25 2 # SB_LUT4 (LogicCell: counter_117__i26_LC_76)
set_location counter_117__i26 3 25 2 # SB_DFFSR (LogicCell: counter_117__i26_LC_76)
set_location counter_117_add_4_28 3 25 2 # SB_CARRY (LogicCell: counter_117__i26_LC_76)
set_location counter_117_add_4_29_lut 3 25 3 # SB_LUT4 (LogicCell: counter_117__i27_LC_77)
set_location counter_117__i27 3 25 3 # SB_DFFSR (LogicCell: counter_117__i27_LC_77)
set_location counter_117_add_4_29 3 25 3 # SB_CARRY (LogicCell: counter_117__i27_LC_77)
set_location counter_117_add_4_2_lut 3 22 0 # SB_LUT4 (LogicCell: counter_117__i0_LC_78)
set_location counter_117__i0 3 22 0 # SB_DFFSR (LogicCell: counter_117__i0_LC_78)
set_location counter_117_add_4_2 3 22 0 # SB_CARRY (LogicCell: counter_117__i0_LC_78)
set_location counter_117_add_4_30_lut 3 25 4 # SB_LUT4 (LogicCell: counter_117__i28_LC_79)
set_location counter_117__i28 3 25 4 # SB_DFFSR (LogicCell: counter_117__i28_LC_79)
set_location counter_117_add_4_30 3 25 4 # SB_CARRY (LogicCell: counter_117__i28_LC_79)
set_location counter_117_add_4_31_lut 3 25 5 # SB_LUT4 (LogicCell: counter_117__i29_LC_80)
set_location counter_117__i29 3 25 5 # SB_DFFSR (LogicCell: counter_117__i29_LC_80)
set_location counter_117_add_4_31 3 25 5 # SB_CARRY (LogicCell: counter_117__i29_LC_80)
set_location counter_117_add_4_32_lut 3 25 6 # SB_LUT4 (LogicCell: counter_117__i30_LC_81)
set_location counter_117__i30 3 25 6 # SB_DFFSR (LogicCell: counter_117__i30_LC_81)
set_location counter_117_add_4_32 3 25 6 # SB_CARRY (LogicCell: counter_117__i30_LC_81)
set_location counter_117_add_4_33_lut 3 25 7 # SB_LUT4 (LogicCell: counter_117__i31_LC_82)
set_location counter_117__i31 3 25 7 # SB_DFFSR (LogicCell: counter_117__i31_LC_82)
set_location counter_117_add_4_3_lut 3 22 1 # SB_LUT4 (LogicCell: counter_117__i1_LC_83)
set_location counter_117__i1 3 22 1 # SB_DFFSR (LogicCell: counter_117__i1_LC_83)
set_location counter_117_add_4_3 3 22 1 # SB_CARRY (LogicCell: counter_117__i1_LC_83)
set_location counter_117_add_4_4_lut 3 22 2 # SB_LUT4 (LogicCell: counter_117__i2_LC_84)
set_location counter_117__i2 3 22 2 # SB_DFFSR (LogicCell: counter_117__i2_LC_84)
set_location counter_117_add_4_4 3 22 2 # SB_CARRY (LogicCell: counter_117__i2_LC_84)
set_location counter_117_add_4_5_lut 3 22 3 # SB_LUT4 (LogicCell: counter_117__i3_LC_85)
set_location counter_117__i3 3 22 3 # SB_DFFSR (LogicCell: counter_117__i3_LC_85)
set_location counter_117_add_4_5 3 22 3 # SB_CARRY (LogicCell: counter_117__i3_LC_85)
set_location counter_117_add_4_6_lut 3 22 4 # SB_LUT4 (LogicCell: counter_117__i4_LC_86)
set_location counter_117__i4 3 22 4 # SB_DFFSR (LogicCell: counter_117__i4_LC_86)
set_location counter_117_add_4_6 3 22 4 # SB_CARRY (LogicCell: counter_117__i4_LC_86)
set_location counter_117_add_4_7_lut 3 22 5 # SB_LUT4 (LogicCell: counter_117__i5_LC_87)
set_location counter_117__i5 3 22 5 # SB_DFFSR (LogicCell: counter_117__i5_LC_87)
set_location counter_117_add_4_7 3 22 5 # SB_CARRY (LogicCell: counter_117__i5_LC_87)
set_location counter_117_add_4_8_lut 3 22 6 # SB_LUT4 (LogicCell: counter_117__i6_LC_88)
set_location counter_117__i6 3 22 6 # SB_DFFSR (LogicCell: counter_117__i6_LC_88)
set_location counter_117_add_4_8 3 22 6 # SB_CARRY (LogicCell: counter_117__i6_LC_88)
set_location counter_117_add_4_9_lut 3 22 7 # SB_LUT4 (LogicCell: counter_117__i7_LC_89)
set_location counter_117__i7 3 22 7 # SB_DFFSR (LogicCell: counter_117__i7_LC_89)
set_location counter_117_add_4_9 3 22 7 # SB_CARRY (LogicCell: counter_117__i7_LC_89)
set_location i1069_4_lut 2 27 6 # SB_LUT4 (LogicCell: i1069_4_lut_LC_90)
set_location i1070_4_lut 2 27 0 # SB_LUT4 (LogicCell: i1070_4_lut_LC_91)
set_location i1071_3_lut 2 27 1 # SB_LUT4 (LogicCell: i1071_3_lut_LC_92)
set_location i12_3_lut 4 24 6 # SB_LUT4 (LogicCell: i12_3_lut_LC_93)
set_location i13_4_lut 4 24 0 # SB_LUT4 (LogicCell: i13_4_lut_LC_94)
set_location i14_4_lut 4 24 5 # SB_LUT4 (LogicCell: i14_4_lut_LC_95)
set_location i14_4_lut_adj_4 2 22 3 # SB_LUT4 (LogicCell: i14_4_lut_adj_4_LC_96)
set_location i15_4_lut 4 23 2 # SB_LUT4 (LogicCell: i15_4_lut_LC_97)
set_location i15_4_lut_adj_1 2 21 2 # SB_LUT4 (LogicCell: i15_4_lut_adj_1_LC_98)
set_location i16_4_lut 4 24 4 # SB_LUT4 (LogicCell: i16_4_lut_LC_99)
set_location i16_4_lut_adj_2 2 21 3 # SB_LUT4 (LogicCell: i16_4_lut_adj_2_LC_100)
set_location i17_4_lut 4 24 3 # SB_LUT4 (LogicCell: i17_4_lut_LC_101)
set_location i17_4_lut_adj_3 2 22 6 # SB_LUT4 (LogicCell: i17_4_lut_adj_3_LC_102)
set_location i18_4_lut 2 21 1 # SB_LUT4 (LogicCell: i18_4_lut_LC_103)
set_location i19_4_lut 2 22 4 # SB_LUT4 (LogicCell: i19_4_lut_LC_104)
set_location i21_4_lut 4 23 3 # SB_LUT4 (LogicCell: i21_4_lut_LC_105)
set_location i23_4_lut 3 21 5 # SB_LUT4 (LogicCell: i23_4_lut_LC_106)
set_location i24_4_lut 2 21 4 # SB_LUT4 (LogicCell: i24_4_lut_LC_107)
set_location i291_4_lut 2 21 5 # SB_LUT4 (LogicCell: i291_4_lut_LC_108)
set_location i2_2_lut 2 22 2 # SB_LUT4 (LogicCell: i2_2_lut_LC_109)
set_location i3_4_lut_4_lut 2 19 0 # SB_LUT4 (LogicCell: uart.r_SM_Main_i2_LC_110)
set_location uart.r_SM_Main_i2 2 19 0 # SB_DFF (LogicCell: uart.r_SM_Main_i2_LC_110)
set_location i634_3_lut 4 21 6 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i0_LC_111)
set_location uart.r_Tx_Data_i0 4 21 6 # SB_DFF (LogicCell: uart.r_Tx_Data_i0_LC_111)
set_location i635_3_lut 4 24 7 # SB_LUT4 (LogicCell: data_out_i0_i7_LC_112)
set_location data_out_i0_i7 4 24 7 # SB_DFF (LogicCell: data_out_i0_i7_LC_112)
set_location i639_3_lut_4_lut 4 19 4 # SB_LUT4 (LogicCell: uart.r_Bit_Index_i0_LC_113)
set_location uart.r_Bit_Index_i0 4 19 4 # SB_DFF (LogicCell: uart.r_Bit_Index_i0_LC_113)
set_location i640_3_lut 4 23 7 # SB_LUT4 (LogicCell: data_out_i0_i6_LC_114)
set_location data_out_i0_i6 4 23 7 # SB_DFF (LogicCell: data_out_i0_i6_LC_114)
set_location i641_3_lut 4 22 0 # SB_LUT4 (LogicCell: data_out_i0_i5_LC_115)
set_location data_out_i0_i5 4 22 0 # SB_DFF (LogicCell: data_out_i0_i5_LC_115)
set_location i642_3_lut 4 23 5 # SB_LUT4 (LogicCell: data_out_i0_i4_LC_116)
set_location data_out_i0_i4 4 23 5 # SB_DFF (LogicCell: data_out_i0_i4_LC_116)
set_location i643_3_lut 4 22 6 # SB_LUT4 (LogicCell: data_out_i0_i3_LC_117)
set_location data_out_i0_i3 4 22 6 # SB_DFF (LogicCell: data_out_i0_i3_LC_117)
set_location i644_3_lut 4 21 5 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i7_LC_118)
set_location uart.r_Tx_Data_i7 4 21 5 # SB_DFF (LogicCell: uart.r_Tx_Data_i7_LC_118)
set_location i645_3_lut 4 20 6 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i6_LC_119)
set_location uart.r_Tx_Data_i6 4 20 6 # SB_DFF (LogicCell: uart.r_Tx_Data_i6_LC_119)
set_location i646_3_lut 4 20 3 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i5_LC_120)
set_location uart.r_Tx_Data_i5 4 20 3 # SB_DFF (LogicCell: uart.r_Tx_Data_i5_LC_120)
set_location i647_3_lut 4 23 1 # SB_LUT4 (LogicCell: data_out_i0_i2_LC_121)
set_location data_out_i0_i2 4 23 1 # SB_DFF (LogicCell: data_out_i0_i2_LC_121)
set_location i648_3_lut 4 23 0 # SB_LUT4 (LogicCell: data_out_i0_i1_LC_122)
set_location data_out_i0_i1 4 23 0 # SB_DFF (LogicCell: data_out_i0_i1_LC_122)
set_location i650_3_lut 4 22 5 # SB_LUT4 (LogicCell: data_out_i0_i0_LC_123)
set_location data_out_i0_i0 4 22 5 # SB_DFF (LogicCell: data_out_i0_i0_LC_123)
set_location i651_3_lut 4 20 0 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i4_LC_124)
set_location uart.r_Tx_Data_i4 4 20 0 # SB_DFF (LogicCell: uart.r_Tx_Data_i4_LC_124)
set_location i652_3_lut 4 21 3 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i3_LC_125)
set_location uart.r_Tx_Data_i3 4 21 3 # SB_DFF (LogicCell: uart.r_Tx_Data_i3_LC_125)
set_location i653_3_lut 4 21 7 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i2_LC_126)
set_location uart.r_Tx_Data_i2 4 21 7 # SB_DFF (LogicCell: uart.r_Tx_Data_i2_LC_126)
set_location i654_3_lut 4 21 2 # SB_LUT4 (LogicCell: uart.r_Tx_Data_i1_LC_127)
set_location uart.r_Tx_Data_i1 4 21 2 # SB_DFF (LogicCell: uart.r_Tx_Data_i1_LC_127)
set_location i708_4_lut 2 22 0 # SB_LUT4 (LogicCell: i708_4_lut_LC_128)
set_location i710_4_lut 4 23 4 # SB_LUT4 (LogicCell: i710_4_lut_LC_129)
set_location integrator_118_add_4_2_lut 5 23 0 # SB_LUT4 (LogicCell: integrator_118__i0_LC_130)
set_location integrator_118__i0 5 23 0 # SB_DFFSR (LogicCell: integrator_118__i0_LC_130)
set_location integrator_118_add_4_2 5 23 0 # SB_CARRY (LogicCell: integrator_118__i0_LC_130)
set_location integrator_118_add_4_3_lut 5 23 1 # SB_LUT4 (LogicCell: integrator_118__i1_LC_131)
set_location integrator_118__i1 5 23 1 # SB_DFFSR (LogicCell: integrator_118__i1_LC_131)
set_location integrator_118_add_4_3 5 23 1 # SB_CARRY (LogicCell: integrator_118__i1_LC_131)
set_location integrator_118_add_4_4_lut 5 23 2 # SB_LUT4 (LogicCell: integrator_118__i2_LC_132)
set_location integrator_118__i2 5 23 2 # SB_DFFSR (LogicCell: integrator_118__i2_LC_132)
set_location integrator_118_add_4_4 5 23 2 # SB_CARRY (LogicCell: integrator_118__i2_LC_132)
set_location integrator_118_add_4_5_lut 5 23 3 # SB_LUT4 (LogicCell: integrator_118__i3_LC_133)
set_location integrator_118__i3 5 23 3 # SB_DFFSR (LogicCell: integrator_118__i3_LC_133)
set_location integrator_118_add_4_5 5 23 3 # SB_CARRY (LogicCell: integrator_118__i3_LC_133)
set_location integrator_118_add_4_6_lut 5 23 4 # SB_LUT4 (LogicCell: integrator_118__i4_LC_134)
set_location integrator_118__i4 5 23 4 # SB_DFFSR (LogicCell: integrator_118__i4_LC_134)
set_location integrator_118_add_4_6 5 23 4 # SB_CARRY (LogicCell: integrator_118__i4_LC_134)
set_location integrator_118_add_4_7_lut 5 23 5 # SB_LUT4 (LogicCell: integrator_118__i5_LC_135)
set_location integrator_118__i5 5 23 5 # SB_DFFSR (LogicCell: integrator_118__i5_LC_135)
set_location integrator_118_add_4_7 5 23 5 # SB_CARRY (LogicCell: integrator_118__i5_LC_135)
set_location integrator_118_add_4_8_lut 5 23 6 # SB_LUT4 (LogicCell: integrator_118__i6_LC_136)
set_location integrator_118__i6 5 23 6 # SB_DFFSR (LogicCell: integrator_118__i6_LC_136)
set_location integrator_118_add_4_8 5 23 6 # SB_CARRY (LogicCell: integrator_118__i6_LC_136)
set_location integrator_118_add_4_9_lut 5 23 7 # SB_LUT4 (LogicCell: integrator_118__i7_LC_137)
set_location integrator_118__i7 5 23 7 # SB_DFFSR (LogicCell: integrator_118__i7_LC_137)
set_location uart.i1088_4_lut 2 19 4 # SB_LUT4 (LogicCell: uart.i1088_4_lut_LC_138)
set_location uart.i1091_2_lut_3_lut 4 19 7 # SB_LUT4 (LogicCell: uart.i1091_2_lut_3_lut_LC_139)
set_location uart.i1095_3_lut_4_lut 4 19 6 # SB_LUT4 (LogicCell: uart.i1095_3_lut_4_lut_LC_140)
set_location uart.i10_2_lut 2 19 5 # SB_LUT4 (LogicCell: uart.i10_2_lut_LC_141)
set_location uart.i134_2_lut 5 19 1 # SB_LUT4 (LogicCell: uart.r_Bit_Index_i1_LC_142)
set_location uart.r_Bit_Index_i1 5 19 1 # SB_DFFESR (LogicCell: uart.r_Bit_Index_i1_LC_142)
set_location uart.i13_4_lut 2 20 5 # SB_LUT4 (LogicCell: uart.i13_4_lut_LC_143)
set_location uart.i141_3_lut 3 20 3 # SB_LUT4 (LogicCell: uart.r_Bit_Index_i2_LC_144)
set_location uart.r_Bit_Index_i2 3 20 3 # SB_DFFESR (LogicCell: uart.r_Bit_Index_i2_LC_144)
set_location uart.i14_4_lut 2 20 4 # SB_LUT4 (LogicCell: uart.i14_4_lut_LC_145)
set_location uart.i15_4_lut 2 20 0 # SB_LUT4 (LogicCell: uart.i15_4_lut_LC_146)
set_location uart.i16_4_lut 2 20 3 # SB_LUT4 (LogicCell: uart.i16_4_lut_LC_147)
set_location uart.i18_4_lut 2 19 1 # SB_LUT4 (LogicCell: uart.i18_4_lut_LC_148)
set_location uart.i1_1_lut 2 20 2 # SB_LUT4 (LogicCell: uart.i1_1_lut_LC_149)
set_location uart.i1_4_lut 2 19 3 # SB_LUT4 (LogicCell: uart.i1_4_lut_LC_150)
set_location uart.i21_4_lut 2 19 2 # SB_LUT4 (LogicCell: uart.i21_4_lut_LC_151)
set_location uart.i22_4_lut 2 20 6 # SB_LUT4 (LogicCell: uart.i22_4_lut_LC_152)
set_location uart.i2_3_lut 4 19 3 # SB_LUT4 (LogicCell: uart.i2_3_lut_LC_153)
set_location uart.i2_3_lut_4_lut 4 20 7 # SB_LUT4 (LogicCell: uart.i2_3_lut_4_lut_LC_154)
set_location uart.i3_4_lut 2 18 1 # SB_LUT4 (LogicCell: uart.i3_4_lut_LC_155)
set_location uart.i515_4_lut 2 19 7 # SB_LUT4 (LogicCell: uart.i515_4_lut_LC_156)
set_location uart.i516_3_lut 3 19 0 # SB_LUT4 (LogicCell: uart.r_SM_Main_i0_LC_157)
set_location uart.r_SM_Main_i0 3 19 0 # SB_DFFSR (LogicCell: uart.r_SM_Main_i0_LC_157)
set_location uart.i537_3_lut 3 19 1 # SB_LUT4 (LogicCell: uart.r_SM_Main_i1_LC_158)
set_location uart.r_SM_Main_i1 3 19 1 # SB_DFFSR (LogicCell: uart.r_SM_Main_i1_LC_158)
set_location uart.i806_4_lut 2 18 0 # SB_LUT4 (LogicCell: uart.i806_4_lut_LC_159)
set_location uart.i8225_i1_3_lut 3 21 0 # SB_LUT4 (LogicCell: uart.i8225_i1_3_lut_LC_160)
set_location uart.n2422_bdd_4_lut 4 20 5 # SB_LUT4 (LogicCell: uart.n2422_bdd_4_lut_LC_161)
set_location uart.n2428_bdd_4_lut 4 20 2 # SB_LUT4 (LogicCell: uart.n2428_bdd_4_lut_LC_162)
set_location uart.r_Bit_Index_0__bdd_4_lut 4 20 1 # SB_LUT4 (LogicCell: uart.r_Bit_Index_0__bdd_4_lut_LC_163)
set_location uart.r_Bit_Index_0__bdd_4_lut_1104 4 20 4 # SB_LUT4 (LogicCell: uart.r_Bit_Index_0__bdd_4_lut_1104_LC_164)
set_location uart.r_Clock_Count_121_add_4_10_lut 1 19 0 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i8_LC_165)
set_location uart.r_Clock_Count_121__i8 1 19 0 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i8_LC_165)
set_location uart.r_Clock_Count_121_add_4_10 1 19 0 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i8_LC_165)
set_location uart.r_Clock_Count_121_add_4_11_lut 1 19 1 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i9_LC_166)
set_location uart.r_Clock_Count_121__i9 1 19 1 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i9_LC_166)
set_location uart.r_Clock_Count_121_add_4_11 1 19 1 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i9_LC_166)
set_location uart.r_Clock_Count_121_add_4_12_lut 1 19 2 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i10_LC_167)
set_location uart.r_Clock_Count_121__i10 1 19 2 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i10_LC_167)
set_location uart.r_Clock_Count_121_add_4_12 1 19 2 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i10_LC_167)
set_location uart.r_Clock_Count_121_add_4_13_lut 1 19 3 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i11_LC_168)
set_location uart.r_Clock_Count_121__i11 1 19 3 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i11_LC_168)
set_location uart.r_Clock_Count_121_add_4_13 1 19 3 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i11_LC_168)
set_location uart.r_Clock_Count_121_add_4_14_lut 1 19 4 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i12_LC_169)
set_location uart.r_Clock_Count_121__i12 1 19 4 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i12_LC_169)
set_location uart.r_Clock_Count_121_add_4_14 1 19 4 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i12_LC_169)
set_location uart.r_Clock_Count_121_add_4_15_lut 1 19 5 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i13_LC_170)
set_location uart.r_Clock_Count_121__i13 1 19 5 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i13_LC_170)
set_location uart.r_Clock_Count_121_add_4_15 1 19 5 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i13_LC_170)
set_location uart.r_Clock_Count_121_add_4_16_lut 1 19 6 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i14_LC_171)
set_location uart.r_Clock_Count_121__i14 1 19 6 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i14_LC_171)
set_location uart.r_Clock_Count_121_add_4_16 1 19 6 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i14_LC_171)
set_location uart.r_Clock_Count_121_add_4_17_lut 1 19 7 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i15_LC_172)
set_location uart.r_Clock_Count_121__i15 1 19 7 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i15_LC_172)
set_location uart.r_Clock_Count_121_add_4_17 1 19 7 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i15_LC_172)
set_location uart.r_Clock_Count_121_add_4_18_lut 1 20 0 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i16_LC_173)
set_location uart.r_Clock_Count_121__i16 1 20 0 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i16_LC_173)
set_location uart.r_Clock_Count_121_add_4_18 1 20 0 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i16_LC_173)
set_location uart.r_Clock_Count_121_add_4_19_lut 1 20 1 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i17_LC_174)
set_location uart.r_Clock_Count_121__i17 1 20 1 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i17_LC_174)
set_location uart.r_Clock_Count_121_add_4_19 1 20 1 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i17_LC_174)
set_location uart.r_Clock_Count_121_add_4_20_lut 1 20 2 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i18_LC_175)
set_location uart.r_Clock_Count_121__i18 1 20 2 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i18_LC_175)
set_location uart.r_Clock_Count_121_add_4_20 1 20 2 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i18_LC_175)
set_location uart.r_Clock_Count_121_add_4_21_lut 1 20 3 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i19_LC_176)
set_location uart.r_Clock_Count_121__i19 1 20 3 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i19_LC_176)
set_location uart.r_Clock_Count_121_add_4_21 1 20 3 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i19_LC_176)
set_location uart.r_Clock_Count_121_add_4_22_lut 1 20 4 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i20_LC_177)
set_location uart.r_Clock_Count_121__i20 1 20 4 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i20_LC_177)
set_location uart.r_Clock_Count_121_add_4_22 1 20 4 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i20_LC_177)
set_location uart.r_Clock_Count_121_add_4_23_lut 1 20 5 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i21_LC_178)
set_location uart.r_Clock_Count_121__i21 1 20 5 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i21_LC_178)
set_location uart.r_Clock_Count_121_add_4_23 1 20 5 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i21_LC_178)
set_location uart.r_Clock_Count_121_add_4_24_lut 1 20 6 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i22_LC_179)
set_location uart.r_Clock_Count_121__i22 1 20 6 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i22_LC_179)
set_location uart.r_Clock_Count_121_add_4_24 1 20 6 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i22_LC_179)
set_location uart.r_Clock_Count_121_add_4_25_lut 1 20 7 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i23_LC_180)
set_location uart.r_Clock_Count_121__i23 1 20 7 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i23_LC_180)
set_location uart.r_Clock_Count_121_add_4_25 1 20 7 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i23_LC_180)
set_location uart.r_Clock_Count_121_add_4_26_lut 1 21 0 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i24_LC_181)
set_location uart.r_Clock_Count_121__i24 1 21 0 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i24_LC_181)
set_location uart.r_Clock_Count_121_add_4_26 1 21 0 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i24_LC_181)
set_location uart.r_Clock_Count_121_add_4_27_lut 1 21 1 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i25_LC_182)
set_location uart.r_Clock_Count_121__i25 1 21 1 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i25_LC_182)
set_location uart.r_Clock_Count_121_add_4_27 1 21 1 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i25_LC_182)
set_location uart.r_Clock_Count_121_add_4_28_lut 1 21 2 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i26_LC_183)
set_location uart.r_Clock_Count_121__i26 1 21 2 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i26_LC_183)
set_location uart.r_Clock_Count_121_add_4_28 1 21 2 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i26_LC_183)
set_location uart.r_Clock_Count_121_add_4_29_lut 1 21 3 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i27_LC_184)
set_location uart.r_Clock_Count_121__i27 1 21 3 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i27_LC_184)
set_location uart.r_Clock_Count_121_add_4_29 1 21 3 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i27_LC_184)
set_location uart.r_Clock_Count_121_add_4_2_lut 1 18 0 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i0_LC_185)
set_location uart.r_Clock_Count_121__i0 1 18 0 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i0_LC_185)
set_location uart.r_Clock_Count_121_add_4_2 1 18 0 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i0_LC_185)
set_location uart.r_Clock_Count_121_add_4_30_lut 1 21 4 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i28_LC_186)
set_location uart.r_Clock_Count_121__i28 1 21 4 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i28_LC_186)
set_location uart.r_Clock_Count_121_add_4_30 1 21 4 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i28_LC_186)
set_location uart.r_Clock_Count_121_add_4_31_lut 1 21 5 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i29_LC_187)
set_location uart.r_Clock_Count_121__i29 1 21 5 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i29_LC_187)
set_location uart.r_Clock_Count_121_add_4_31 1 21 5 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i29_LC_187)
set_location uart.r_Clock_Count_121_add_4_32_lut 1 21 6 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i30_LC_188)
set_location uart.r_Clock_Count_121__i30 1 21 6 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i30_LC_188)
set_location uart.r_Clock_Count_121_add_4_32 1 21 6 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i30_LC_188)
set_location uart.r_Clock_Count_121_add_4_33_lut 1 21 7 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i31_LC_189)
set_location uart.r_Clock_Count_121__i31 1 21 7 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i31_LC_189)
set_location uart.r_Clock_Count_121_add_4_3_lut 1 18 1 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i1_LC_190)
set_location uart.r_Clock_Count_121__i1 1 18 1 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i1_LC_190)
set_location uart.r_Clock_Count_121_add_4_3 1 18 1 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i1_LC_190)
set_location uart.r_Clock_Count_121_add_4_4_lut 1 18 2 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i2_LC_191)
set_location uart.r_Clock_Count_121__i2 1 18 2 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i2_LC_191)
set_location uart.r_Clock_Count_121_add_4_4 1 18 2 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i2_LC_191)
set_location uart.r_Clock_Count_121_add_4_5_lut 1 18 3 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i3_LC_192)
set_location uart.r_Clock_Count_121__i3 1 18 3 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i3_LC_192)
set_location uart.r_Clock_Count_121_add_4_5 1 18 3 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i3_LC_192)
set_location uart.r_Clock_Count_121_add_4_6_lut 1 18 4 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i4_LC_193)
set_location uart.r_Clock_Count_121__i4 1 18 4 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i4_LC_193)
set_location uart.r_Clock_Count_121_add_4_6 1 18 4 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i4_LC_193)
set_location uart.r_Clock_Count_121_add_4_7_lut 1 18 5 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i5_LC_194)
set_location uart.r_Clock_Count_121__i5 1 18 5 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i5_LC_194)
set_location uart.r_Clock_Count_121_add_4_7 1 18 5 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i5_LC_194)
set_location uart.r_Clock_Count_121_add_4_8_lut 1 18 6 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i6_LC_195)
set_location uart.r_Clock_Count_121__i6 1 18 6 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i6_LC_195)
set_location uart.r_Clock_Count_121_add_4_8 1 18 6 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i6_LC_195)
set_location uart.r_Clock_Count_121_add_4_9_lut 1 18 7 # SB_LUT4 (LogicCell: uart.r_Clock_Count_121__i7_LC_196)
set_location uart.r_Clock_Count_121__i7 1 18 7 # SB_DFFESR (LogicCell: uart.r_Clock_Count_121__i7_LC_196)
set_location uart.r_Clock_Count_121_add_4_9 1 18 7 # SB_CARRY (LogicCell: uart.r_Clock_Count_121__i7_LC_196)
set_location uart.r_SM_Main_2__I_0_62_i3_3_lut 2 22 1 # SB_LUT4 (LogicCell: uart.r_SM_Main_2__I_0_62_i3_3_lut_LC_197)
set_location i708_4_lut_clk_slow_25_REP_LUT4_0 2 22 7 # SB_LUT4 (LogicCell: clk_slow_25_LC_198)
set_location clk_slow_25 2 22 7 # SB_DFF (LogicCell: clk_slow_25_LC_198)
set_location i710_4_lut_send_29_REP_LUT4_0 4 23 6 # SB_LUT4 (LogicCell: send_29_LC_199)
set_location send_29 4 23 6 # SB_DFF (LogicCell: send_29_LC_199)
set_location GND -1 -1 -1 # GND
set_io LED_pad 5 33 1 # ICE_IO
set_io PIN_18_pad 33 4 1 # ICE_IO
set_io PIN_2_pad 2 33 1 # ICE_IO
set_io differential_input 0 3 0 # ICE_IO
set_io CLK_pad 0 30 0 # ICE_IO
set_io CLK_pad_gb 0 17 0 # ICE_GB
