ble_pack uart.r_Clock_Count_121__i0_LC_1_18_0 { uart.r_Clock_Count_121_add_4_2_lut, uart.r_Clock_Count_121__i0, uart.r_Clock_Count_121_add_4_2 }
ble_pack uart.r_Clock_Count_121__i1_LC_1_18_1 { uart.r_Clock_Count_121_add_4_3_lut, uart.r_Clock_Count_121__i1, uart.r_Clock_Count_121_add_4_3 }
ble_pack uart.r_Clock_Count_121__i2_LC_1_18_2 { uart.r_Clock_Count_121_add_4_4_lut, uart.r_Clock_Count_121__i2, uart.r_Clock_Count_121_add_4_4 }
ble_pack uart.r_Clock_Count_121__i3_LC_1_18_3 { uart.r_Clock_Count_121_add_4_5_lut, uart.r_Clock_Count_121__i3, uart.r_Clock_Count_121_add_4_5 }
ble_pack uart.r_Clock_Count_121__i4_LC_1_18_4 { uart.r_Clock_Count_121_add_4_6_lut, uart.r_Clock_Count_121__i4, uart.r_Clock_Count_121_add_4_6 }
ble_pack uart.r_Clock_Count_121__i5_LC_1_18_5 { uart.r_Clock_Count_121_add_4_7_lut, uart.r_Clock_Count_121__i5, uart.r_Clock_Count_121_add_4_7 }
ble_pack uart.r_Clock_Count_121__i6_LC_1_18_6 { uart.r_Clock_Count_121_add_4_8_lut, uart.r_Clock_Count_121__i6, uart.r_Clock_Count_121_add_4_8 }
ble_pack uart.r_Clock_Count_121__i7_LC_1_18_7 { uart.r_Clock_Count_121_add_4_9_lut, uart.r_Clock_Count_121__i7, uart.r_Clock_Count_121_add_4_9 }
clb_pack LT_1_18 { uart.r_Clock_Count_121__i0_LC_1_18_0, uart.r_Clock_Count_121__i1_LC_1_18_1, uart.r_Clock_Count_121__i2_LC_1_18_2, uart.r_Clock_Count_121__i3_LC_1_18_3, uart.r_Clock_Count_121__i4_LC_1_18_4, uart.r_Clock_Count_121__i5_LC_1_18_5, uart.r_Clock_Count_121__i6_LC_1_18_6, uart.r_Clock_Count_121__i7_LC_1_18_7 }
set_location LT_1_18 1 18
ble_pack uart.r_Clock_Count_121__i8_LC_1_19_0 { uart.r_Clock_Count_121_add_4_10_lut, uart.r_Clock_Count_121__i8, uart.r_Clock_Count_121_add_4_10 }
ble_pack uart.r_Clock_Count_121__i9_LC_1_19_1 { uart.r_Clock_Count_121_add_4_11_lut, uart.r_Clock_Count_121__i9, uart.r_Clock_Count_121_add_4_11 }
ble_pack uart.r_Clock_Count_121__i10_LC_1_19_2 { uart.r_Clock_Count_121_add_4_12_lut, uart.r_Clock_Count_121__i10, uart.r_Clock_Count_121_add_4_12 }
ble_pack uart.r_Clock_Count_121__i11_LC_1_19_3 { uart.r_Clock_Count_121_add_4_13_lut, uart.r_Clock_Count_121__i11, uart.r_Clock_Count_121_add_4_13 }
ble_pack uart.r_Clock_Count_121__i12_LC_1_19_4 { uart.r_Clock_Count_121_add_4_14_lut, uart.r_Clock_Count_121__i12, uart.r_Clock_Count_121_add_4_14 }
ble_pack uart.r_Clock_Count_121__i13_LC_1_19_5 { uart.r_Clock_Count_121_add_4_15_lut, uart.r_Clock_Count_121__i13, uart.r_Clock_Count_121_add_4_15 }
ble_pack uart.r_Clock_Count_121__i14_LC_1_19_6 { uart.r_Clock_Count_121_add_4_16_lut, uart.r_Clock_Count_121__i14, uart.r_Clock_Count_121_add_4_16 }
ble_pack uart.r_Clock_Count_121__i15_LC_1_19_7 { uart.r_Clock_Count_121_add_4_17_lut, uart.r_Clock_Count_121__i15, uart.r_Clock_Count_121_add_4_17 }
clb_pack LT_1_19 { uart.r_Clock_Count_121__i8_LC_1_19_0, uart.r_Clock_Count_121__i9_LC_1_19_1, uart.r_Clock_Count_121__i10_LC_1_19_2, uart.r_Clock_Count_121__i11_LC_1_19_3, uart.r_Clock_Count_121__i12_LC_1_19_4, uart.r_Clock_Count_121__i13_LC_1_19_5, uart.r_Clock_Count_121__i14_LC_1_19_6, uart.r_Clock_Count_121__i15_LC_1_19_7 }
set_location LT_1_19 1 19
ble_pack uart.r_Clock_Count_121__i16_LC_1_20_0 { uart.r_Clock_Count_121_add_4_18_lut, uart.r_Clock_Count_121__i16, uart.r_Clock_Count_121_add_4_18 }
ble_pack uart.r_Clock_Count_121__i17_LC_1_20_1 { uart.r_Clock_Count_121_add_4_19_lut, uart.r_Clock_Count_121__i17, uart.r_Clock_Count_121_add_4_19 }
ble_pack uart.r_Clock_Count_121__i18_LC_1_20_2 { uart.r_Clock_Count_121_add_4_20_lut, uart.r_Clock_Count_121__i18, uart.r_Clock_Count_121_add_4_20 }
ble_pack uart.r_Clock_Count_121__i19_LC_1_20_3 { uart.r_Clock_Count_121_add_4_21_lut, uart.r_Clock_Count_121__i19, uart.r_Clock_Count_121_add_4_21 }
ble_pack uart.r_Clock_Count_121__i20_LC_1_20_4 { uart.r_Clock_Count_121_add_4_22_lut, uart.r_Clock_Count_121__i20, uart.r_Clock_Count_121_add_4_22 }
ble_pack uart.r_Clock_Count_121__i21_LC_1_20_5 { uart.r_Clock_Count_121_add_4_23_lut, uart.r_Clock_Count_121__i21, uart.r_Clock_Count_121_add_4_23 }
ble_pack uart.r_Clock_Count_121__i22_LC_1_20_6 { uart.r_Clock_Count_121_add_4_24_lut, uart.r_Clock_Count_121__i22, uart.r_Clock_Count_121_add_4_24 }
ble_pack uart.r_Clock_Count_121__i23_LC_1_20_7 { uart.r_Clock_Count_121_add_4_25_lut, uart.r_Clock_Count_121__i23, uart.r_Clock_Count_121_add_4_25 }
clb_pack LT_1_20 { uart.r_Clock_Count_121__i16_LC_1_20_0, uart.r_Clock_Count_121__i17_LC_1_20_1, uart.r_Clock_Count_121__i18_LC_1_20_2, uart.r_Clock_Count_121__i19_LC_1_20_3, uart.r_Clock_Count_121__i20_LC_1_20_4, uart.r_Clock_Count_121__i21_LC_1_20_5, uart.r_Clock_Count_121__i22_LC_1_20_6, uart.r_Clock_Count_121__i23_LC_1_20_7 }
set_location LT_1_20 1 20
ble_pack uart.r_Clock_Count_121__i24_LC_1_21_0 { uart.r_Clock_Count_121_add_4_26_lut, uart.r_Clock_Count_121__i24, uart.r_Clock_Count_121_add_4_26 }
ble_pack uart.r_Clock_Count_121__i25_LC_1_21_1 { uart.r_Clock_Count_121_add_4_27_lut, uart.r_Clock_Count_121__i25, uart.r_Clock_Count_121_add_4_27 }
ble_pack uart.r_Clock_Count_121__i26_LC_1_21_2 { uart.r_Clock_Count_121_add_4_28_lut, uart.r_Clock_Count_121__i26, uart.r_Clock_Count_121_add_4_28 }
ble_pack uart.r_Clock_Count_121__i27_LC_1_21_3 { uart.r_Clock_Count_121_add_4_29_lut, uart.r_Clock_Count_121__i27, uart.r_Clock_Count_121_add_4_29 }
ble_pack uart.r_Clock_Count_121__i28_LC_1_21_4 { uart.r_Clock_Count_121_add_4_30_lut, uart.r_Clock_Count_121__i28, uart.r_Clock_Count_121_add_4_30 }
ble_pack uart.r_Clock_Count_121__i29_LC_1_21_5 { uart.r_Clock_Count_121_add_4_31_lut, uart.r_Clock_Count_121__i29, uart.r_Clock_Count_121_add_4_31 }
ble_pack uart.r_Clock_Count_121__i30_LC_1_21_6 { uart.r_Clock_Count_121_add_4_32_lut, uart.r_Clock_Count_121__i30, uart.r_Clock_Count_121_add_4_32 }
ble_pack uart.r_Clock_Count_121__i31_LC_1_21_7 { uart.r_Clock_Count_121_add_4_33_lut, uart.r_Clock_Count_121__i31 }
clb_pack LT_1_21 { uart.r_Clock_Count_121__i24_LC_1_21_0, uart.r_Clock_Count_121__i25_LC_1_21_1, uart.r_Clock_Count_121__i26_LC_1_21_2, uart.r_Clock_Count_121__i27_LC_1_21_3, uart.r_Clock_Count_121__i28_LC_1_21_4, uart.r_Clock_Count_121__i29_LC_1_21_5, uart.r_Clock_Count_121__i30_LC_1_21_6, uart.r_Clock_Count_121__i31_LC_1_21_7 }
set_location LT_1_21 1 21
ble_pack clk_divider_116__i0_LC_1_22_0 { clk_divider_116_add_4_2_lut, clk_divider_116__i0, clk_divider_116_add_4_2 }
ble_pack clk_divider_116__i1_LC_1_22_1 { clk_divider_116_add_4_3_lut, clk_divider_116__i1, clk_divider_116_add_4_3 }
ble_pack clk_divider_116__i2_LC_1_22_2 { clk_divider_116_add_4_4_lut, clk_divider_116__i2, clk_divider_116_add_4_4 }
ble_pack clk_divider_116__i3_LC_1_22_3 { clk_divider_116_add_4_5_lut, clk_divider_116__i3, clk_divider_116_add_4_5 }
ble_pack clk_divider_116__i4_LC_1_22_4 { clk_divider_116_add_4_6_lut, clk_divider_116__i4, clk_divider_116_add_4_6 }
ble_pack clk_divider_116__i5_LC_1_22_5 { clk_divider_116_add_4_7_lut, clk_divider_116__i5, clk_divider_116_add_4_7 }
ble_pack clk_divider_116__i6_LC_1_22_6 { clk_divider_116_add_4_8_lut, clk_divider_116__i6, clk_divider_116_add_4_8 }
ble_pack clk_divider_116__i7_LC_1_22_7 { clk_divider_116_add_4_9_lut, clk_divider_116__i7, clk_divider_116_add_4_9 }
clb_pack LT_1_22 { clk_divider_116__i0_LC_1_22_0, clk_divider_116__i1_LC_1_22_1, clk_divider_116__i2_LC_1_22_2, clk_divider_116__i3_LC_1_22_3, clk_divider_116__i4_LC_1_22_4, clk_divider_116__i5_LC_1_22_5, clk_divider_116__i6_LC_1_22_6, clk_divider_116__i7_LC_1_22_7 }
set_location LT_1_22 1 22
ble_pack clk_divider_116__i8_LC_1_23_0 { clk_divider_116_add_4_10_lut, clk_divider_116__i8, clk_divider_116_add_4_10 }
ble_pack clk_divider_116__i9_LC_1_23_1 { clk_divider_116_add_4_11_lut, clk_divider_116__i9, clk_divider_116_add_4_11 }
ble_pack clk_divider_116__i10_LC_1_23_2 { clk_divider_116_add_4_12_lut, clk_divider_116__i10, clk_divider_116_add_4_12 }
ble_pack clk_divider_116__i11_LC_1_23_3 { clk_divider_116_add_4_13_lut, clk_divider_116__i11, clk_divider_116_add_4_13 }
ble_pack clk_divider_116__i12_LC_1_23_4 { clk_divider_116_add_4_14_lut, clk_divider_116__i12, clk_divider_116_add_4_14 }
ble_pack clk_divider_116__i13_LC_1_23_5 { clk_divider_116_add_4_15_lut, clk_divider_116__i13, clk_divider_116_add_4_15 }
ble_pack clk_divider_116__i14_LC_1_23_6 { clk_divider_116_add_4_16_lut, clk_divider_116__i14, clk_divider_116_add_4_16 }
ble_pack clk_divider_116__i15_LC_1_23_7 { clk_divider_116_add_4_17_lut, clk_divider_116__i15, clk_divider_116_add_4_17 }
clb_pack LT_1_23 { clk_divider_116__i8_LC_1_23_0, clk_divider_116__i9_LC_1_23_1, clk_divider_116__i10_LC_1_23_2, clk_divider_116__i11_LC_1_23_3, clk_divider_116__i12_LC_1_23_4, clk_divider_116__i13_LC_1_23_5, clk_divider_116__i14_LC_1_23_6, clk_divider_116__i15_LC_1_23_7 }
set_location LT_1_23 1 23
ble_pack clk_divider_116__i16_LC_1_24_0 { clk_divider_116_add_4_18_lut, clk_divider_116__i16, clk_divider_116_add_4_18 }
ble_pack clk_divider_116__i17_LC_1_24_1 { clk_divider_116_add_4_19_lut, clk_divider_116__i17, clk_divider_116_add_4_19 }
ble_pack clk_divider_116__i18_LC_1_24_2 { clk_divider_116_add_4_20_lut, clk_divider_116__i18, clk_divider_116_add_4_20 }
ble_pack clk_divider_116__i19_LC_1_24_3 { clk_divider_116_add_4_21_lut, clk_divider_116__i19, clk_divider_116_add_4_21 }
ble_pack clk_divider_116__i20_LC_1_24_4 { clk_divider_116_add_4_22_lut, clk_divider_116__i20, clk_divider_116_add_4_22 }
ble_pack clk_divider_116__i21_LC_1_24_5 { clk_divider_116_add_4_23_lut, clk_divider_116__i21, clk_divider_116_add_4_23 }
ble_pack clk_divider_116__i22_LC_1_24_6 { clk_divider_116_add_4_24_lut, clk_divider_116__i22, clk_divider_116_add_4_24 }
ble_pack clk_divider_116__i23_LC_1_24_7 { clk_divider_116_add_4_25_lut, clk_divider_116__i23, clk_divider_116_add_4_25 }
clb_pack LT_1_24 { clk_divider_116__i16_LC_1_24_0, clk_divider_116__i17_LC_1_24_1, clk_divider_116__i18_LC_1_24_2, clk_divider_116__i19_LC_1_24_3, clk_divider_116__i20_LC_1_24_4, clk_divider_116__i21_LC_1_24_5, clk_divider_116__i22_LC_1_24_6, clk_divider_116__i23_LC_1_24_7 }
set_location LT_1_24 1 24
ble_pack clk_divider_116__i24_LC_1_25_0 { clk_divider_116_add_4_26_lut, clk_divider_116__i24, clk_divider_116_add_4_26 }
ble_pack clk_divider_116__i25_LC_1_25_1 { clk_divider_116_add_4_27_lut, clk_divider_116__i25, clk_divider_116_add_4_27 }
ble_pack clk_divider_116__i26_LC_1_25_2 { clk_divider_116_add_4_28_lut, clk_divider_116__i26, clk_divider_116_add_4_28 }
ble_pack clk_divider_116__i27_LC_1_25_3 { clk_divider_116_add_4_29_lut, clk_divider_116__i27, clk_divider_116_add_4_29 }
ble_pack clk_divider_116__i28_LC_1_25_4 { clk_divider_116_add_4_30_lut, clk_divider_116__i28, clk_divider_116_add_4_30 }
ble_pack clk_divider_116__i29_LC_1_25_5 { clk_divider_116_add_4_31_lut, clk_divider_116__i29, clk_divider_116_add_4_31 }
ble_pack clk_divider_116__i30_LC_1_25_6 { clk_divider_116_add_4_32_lut, clk_divider_116__i30, clk_divider_116_add_4_32 }
ble_pack clk_divider_116__i31_LC_1_25_7 { clk_divider_116_add_4_33_lut, clk_divider_116__i31 }
clb_pack LT_1_25 { clk_divider_116__i24_LC_1_25_0, clk_divider_116__i25_LC_1_25_1, clk_divider_116__i26_LC_1_25_2, clk_divider_116__i27_LC_1_25_3, clk_divider_116__i28_LC_1_25_4, clk_divider_116__i29_LC_1_25_5, clk_divider_116__i30_LC_1_25_6, clk_divider_116__i31_LC_1_25_7 }
set_location LT_1_25 1 25
ble_pack uart.i806_4_lut_LC_2_18_0 { uart.i806_4_lut }
ble_pack uart.i3_4_lut_LC_2_18_1 { uart.i3_4_lut }
clb_pack LT_2_18 { uart.i806_4_lut_LC_2_18_0, uart.i3_4_lut_LC_2_18_1 }
set_location LT_2_18 2 18
ble_pack uart.r_SM_Main_i2_LC_2_19_0 { i3_4_lut_4_lut, uart.r_SM_Main_i2 }
ble_pack uart.i18_4_lut_LC_2_19_1 { uart.i18_4_lut }
ble_pack uart.i21_4_lut_LC_2_19_2 { uart.i21_4_lut }
ble_pack uart.i1_4_lut_LC_2_19_3 { uart.i1_4_lut }
ble_pack uart.i1088_4_lut_LC_2_19_4 { uart.i1088_4_lut }
ble_pack uart.i10_2_lut_LC_2_19_5 { uart.i10_2_lut }
ble_pack uart.i515_4_lut_LC_2_19_7 { uart.i515_4_lut }
clb_pack LT_2_19 { uart.r_SM_Main_i2_LC_2_19_0, uart.i18_4_lut_LC_2_19_1, uart.i21_4_lut_LC_2_19_2, uart.i1_4_lut_LC_2_19_3, uart.i1088_4_lut_LC_2_19_4, uart.i10_2_lut_LC_2_19_5, uart.i515_4_lut_LC_2_19_7 }
set_location LT_2_19 2 19
ble_pack uart.i15_4_lut_LC_2_20_0 { uart.i15_4_lut }
ble_pack uart.i1_1_lut_LC_2_20_2 { uart.i1_1_lut }
ble_pack uart.i16_4_lut_LC_2_20_3 { uart.i16_4_lut }
ble_pack uart.i14_4_lut_LC_2_20_4 { uart.i14_4_lut }
ble_pack uart.i13_4_lut_LC_2_20_5 { uart.i13_4_lut }
ble_pack uart.i22_4_lut_LC_2_20_6 { uart.i22_4_lut }
clb_pack LT_2_20 { uart.i15_4_lut_LC_2_20_0, uart.i1_1_lut_LC_2_20_2, uart.i16_4_lut_LC_2_20_3, uart.i14_4_lut_LC_2_20_4, uart.i13_4_lut_LC_2_20_5, uart.i22_4_lut_LC_2_20_6 }
set_location LT_2_20 2 20
ble_pack i18_4_lut_LC_2_21_1 { i18_4_lut }
ble_pack i15_4_lut_adj_1_LC_2_21_2 { i15_4_lut_adj_1 }
ble_pack i16_4_lut_adj_2_LC_2_21_3 { i16_4_lut_adj_2 }
ble_pack i24_4_lut_LC_2_21_4 { i24_4_lut }
ble_pack i291_4_lut_LC_2_21_5 { i291_4_lut }
clb_pack LT_2_21 { i18_4_lut_LC_2_21_1, i15_4_lut_adj_1_LC_2_21_2, i16_4_lut_adj_2_LC_2_21_3, i24_4_lut_LC_2_21_4, i291_4_lut_LC_2_21_5 }
set_location LT_2_21 2 21
ble_pack i708_4_lut_LC_2_22_0 { i708_4_lut }
ble_pack uart.r_SM_Main_2__I_0_62_i3_3_lut_LC_2_22_1 { uart.r_SM_Main_2__I_0_62_i3_3_lut }
ble_pack i2_2_lut_LC_2_22_2 { i2_2_lut }
ble_pack i14_4_lut_adj_4_LC_2_22_3 { i14_4_lut_adj_4 }
ble_pack i19_4_lut_LC_2_22_4 { i19_4_lut }
ble_pack i17_4_lut_adj_3_LC_2_22_6 { i17_4_lut_adj_3 }
ble_pack clk_slow_25_LC_2_22_7 { i708_4_lut_clk_slow_25_REP_LUT4_0, clk_slow_25 }
clb_pack LT_2_22 { i708_4_lut_LC_2_22_0, uart.r_SM_Main_2__I_0_62_i3_3_lut_LC_2_22_1, i2_2_lut_LC_2_22_2, i14_4_lut_adj_4_LC_2_22_3, i19_4_lut_LC_2_22_4, i17_4_lut_adj_3_LC_2_22_6, clk_slow_25_LC_2_22_7 }
set_location LT_2_22 2 22
ble_pack blink_counter_119__i0_LC_2_23_0 { blink_counter_119_add_4_2_lut, blink_counter_119__i0, blink_counter_119_add_4_2 }
ble_pack blink_counter_119__i1_LC_2_23_1 { blink_counter_119_add_4_3_lut, blink_counter_119__i1, blink_counter_119_add_4_3 }
ble_pack blink_counter_119__i2_LC_2_23_2 { blink_counter_119_add_4_4_lut, blink_counter_119__i2, blink_counter_119_add_4_4 }
ble_pack blink_counter_119__i3_LC_2_23_3 { blink_counter_119_add_4_5_lut, blink_counter_119__i3, blink_counter_119_add_4_5 }
ble_pack blink_counter_119__i4_LC_2_23_4 { blink_counter_119_add_4_6_lut, blink_counter_119__i4, blink_counter_119_add_4_6 }
ble_pack blink_counter_119__i5_LC_2_23_5 { blink_counter_119_add_4_7_lut, blink_counter_119__i5, blink_counter_119_add_4_7 }
ble_pack blink_counter_119__i6_LC_2_23_6 { blink_counter_119_add_4_8_lut, blink_counter_119__i6, blink_counter_119_add_4_8 }
ble_pack blink_counter_119__i7_LC_2_23_7 { blink_counter_119_add_4_9_lut, blink_counter_119__i7, blink_counter_119_add_4_9 }
clb_pack LT_2_23 { blink_counter_119__i0_LC_2_23_0, blink_counter_119__i1_LC_2_23_1, blink_counter_119__i2_LC_2_23_2, blink_counter_119__i3_LC_2_23_3, blink_counter_119__i4_LC_2_23_4, blink_counter_119__i5_LC_2_23_5, blink_counter_119__i6_LC_2_23_6, blink_counter_119__i7_LC_2_23_7 }
set_location LT_2_23 2 23
ble_pack blink_counter_119__i8_LC_2_24_0 { blink_counter_119_add_4_10_lut, blink_counter_119__i8, blink_counter_119_add_4_10 }
ble_pack blink_counter_119__i9_LC_2_24_1 { blink_counter_119_add_4_11_lut, blink_counter_119__i9, blink_counter_119_add_4_11 }
ble_pack blink_counter_119__i10_LC_2_24_2 { blink_counter_119_add_4_12_lut, blink_counter_119__i10, blink_counter_119_add_4_12 }
ble_pack blink_counter_119__i11_LC_2_24_3 { blink_counter_119_add_4_13_lut, blink_counter_119__i11, blink_counter_119_add_4_13 }
ble_pack blink_counter_119__i12_LC_2_24_4 { blink_counter_119_add_4_14_lut, blink_counter_119__i12, blink_counter_119_add_4_14 }
ble_pack blink_counter_119__i13_LC_2_24_5 { blink_counter_119_add_4_15_lut, blink_counter_119__i13, blink_counter_119_add_4_15 }
ble_pack blink_counter_119__i14_LC_2_24_6 { blink_counter_119_add_4_16_lut, blink_counter_119__i14, blink_counter_119_add_4_16 }
ble_pack blink_counter_119__i15_LC_2_24_7 { blink_counter_119_add_4_17_lut, blink_counter_119__i15, blink_counter_119_add_4_17 }
clb_pack LT_2_24 { blink_counter_119__i8_LC_2_24_0, blink_counter_119__i9_LC_2_24_1, blink_counter_119__i10_LC_2_24_2, blink_counter_119__i11_LC_2_24_3, blink_counter_119__i12_LC_2_24_4, blink_counter_119__i13_LC_2_24_5, blink_counter_119__i14_LC_2_24_6, blink_counter_119__i15_LC_2_24_7 }
set_location LT_2_24 2 24
ble_pack blink_counter_119__i16_LC_2_25_0 { blink_counter_119_add_4_18_lut, blink_counter_119__i16, blink_counter_119_add_4_18 }
ble_pack blink_counter_119__i17_LC_2_25_1 { blink_counter_119_add_4_19_lut, blink_counter_119__i17, blink_counter_119_add_4_19 }
ble_pack blink_counter_119__i18_LC_2_25_2 { blink_counter_119_add_4_20_lut, blink_counter_119__i18, blink_counter_119_add_4_20 }
ble_pack blink_counter_119__i19_LC_2_25_3 { blink_counter_119_add_4_21_lut, blink_counter_119__i19, blink_counter_119_add_4_21 }
ble_pack blink_counter_119__i20_LC_2_25_4 { blink_counter_119_add_4_22_lut, blink_counter_119__i20, blink_counter_119_add_4_22 }
ble_pack blink_counter_119__i21_LC_2_25_5 { blink_counter_119_add_4_23_lut, blink_counter_119__i21, blink_counter_119_add_4_23 }
ble_pack blink_counter_119__i22_LC_2_25_6 { blink_counter_119_add_4_24_lut, blink_counter_119__i22, blink_counter_119_add_4_24 }
ble_pack blink_counter_119__i23_LC_2_25_7 { blink_counter_119_add_4_25_lut, blink_counter_119__i23, blink_counter_119_add_4_25 }
clb_pack LT_2_25 { blink_counter_119__i16_LC_2_25_0, blink_counter_119__i17_LC_2_25_1, blink_counter_119__i18_LC_2_25_2, blink_counter_119__i19_LC_2_25_3, blink_counter_119__i20_LC_2_25_4, blink_counter_119__i21_LC_2_25_5, blink_counter_119__i22_LC_2_25_6, blink_counter_119__i23_LC_2_25_7 }
set_location LT_2_25 2 25
ble_pack blink_counter_119__i24_LC_2_26_0 { blink_counter_119_add_4_26_lut, blink_counter_119__i24, blink_counter_119_add_4_26 }
ble_pack blink_counter_119__i25_LC_2_26_1 { blink_counter_119_add_4_27_lut, blink_counter_119__i25 }
clb_pack LT_2_26 { blink_counter_119__i24_LC_2_26_0, blink_counter_119__i25_LC_2_26_1 }
set_location LT_2_26 2 26
ble_pack i1070_4_lut_LC_2_27_0 { i1070_4_lut }
ble_pack i1071_3_lut_LC_2_27_1 { i1071_3_lut }
ble_pack i1069_4_lut_LC_2_27_6 { i1069_4_lut }
clb_pack LT_2_27 { i1070_4_lut_LC_2_27_0, i1071_3_lut_LC_2_27_1, i1069_4_lut_LC_2_27_6 }
set_location LT_2_27 2 27
ble_pack uart.r_SM_Main_i0_LC_3_19_0 { uart.i516_3_lut, uart.r_SM_Main_i0 }
ble_pack uart.r_SM_Main_i1_LC_3_19_1 { uart.i537_3_lut, uart.r_SM_Main_i1 }
clb_pack LT_3_19 { uart.r_SM_Main_i0_LC_3_19_0, uart.r_SM_Main_i1_LC_3_19_1 }
set_location LT_3_19 3 19
ble_pack uart.r_Bit_Index_i2_LC_3_20_3 { uart.i141_3_lut, uart.r_Bit_Index_i2 }
clb_pack LT_3_20 { uart.r_Bit_Index_i2_LC_3_20_3 }
set_location LT_3_20 3 20
ble_pack uart.i8225_i1_3_lut_LC_3_21_0 { uart.i8225_i1_3_lut }
ble_pack i23_4_lut_LC_3_21_5 { i23_4_lut }
clb_pack LT_3_21 { uart.i8225_i1_3_lut_LC_3_21_0, i23_4_lut_LC_3_21_5 }
set_location LT_3_21 3 21
ble_pack counter_117__i0_LC_3_22_0 { counter_117_add_4_2_lut, counter_117__i0, counter_117_add_4_2 }
ble_pack counter_117__i1_LC_3_22_1 { counter_117_add_4_3_lut, counter_117__i1, counter_117_add_4_3 }
ble_pack counter_117__i2_LC_3_22_2 { counter_117_add_4_4_lut, counter_117__i2, counter_117_add_4_4 }
ble_pack counter_117__i3_LC_3_22_3 { counter_117_add_4_5_lut, counter_117__i3, counter_117_add_4_5 }
ble_pack counter_117__i4_LC_3_22_4 { counter_117_add_4_6_lut, counter_117__i4, counter_117_add_4_6 }
ble_pack counter_117__i5_LC_3_22_5 { counter_117_add_4_7_lut, counter_117__i5, counter_117_add_4_7 }
ble_pack counter_117__i6_LC_3_22_6 { counter_117_add_4_8_lut, counter_117__i6, counter_117_add_4_8 }
ble_pack counter_117__i7_LC_3_22_7 { counter_117_add_4_9_lut, counter_117__i7, counter_117_add_4_9 }
clb_pack LT_3_22 { counter_117__i0_LC_3_22_0, counter_117__i1_LC_3_22_1, counter_117__i2_LC_3_22_2, counter_117__i3_LC_3_22_3, counter_117__i4_LC_3_22_4, counter_117__i5_LC_3_22_5, counter_117__i6_LC_3_22_6, counter_117__i7_LC_3_22_7 }
set_location LT_3_22 3 22
ble_pack counter_117__i8_LC_3_23_0 { counter_117_add_4_10_lut, counter_117__i8, counter_117_add_4_10 }
ble_pack counter_117__i9_LC_3_23_1 { counter_117_add_4_11_lut, counter_117__i9, counter_117_add_4_11 }
ble_pack counter_117__i10_LC_3_23_2 { counter_117_add_4_12_lut, counter_117__i10, counter_117_add_4_12 }
ble_pack counter_117__i11_LC_3_23_3 { counter_117_add_4_13_lut, counter_117__i11, counter_117_add_4_13 }
ble_pack counter_117__i12_LC_3_23_4 { counter_117_add_4_14_lut, counter_117__i12, counter_117_add_4_14 }
ble_pack counter_117__i13_LC_3_23_5 { counter_117_add_4_15_lut, counter_117__i13, counter_117_add_4_15 }
ble_pack counter_117__i14_LC_3_23_6 { counter_117_add_4_16_lut, counter_117__i14, counter_117_add_4_16 }
ble_pack counter_117__i15_LC_3_23_7 { counter_117_add_4_17_lut, counter_117__i15, counter_117_add_4_17 }
clb_pack LT_3_23 { counter_117__i8_LC_3_23_0, counter_117__i9_LC_3_23_1, counter_117__i10_LC_3_23_2, counter_117__i11_LC_3_23_3, counter_117__i12_LC_3_23_4, counter_117__i13_LC_3_23_5, counter_117__i14_LC_3_23_6, counter_117__i15_LC_3_23_7 }
set_location LT_3_23 3 23
ble_pack counter_117__i16_LC_3_24_0 { counter_117_add_4_18_lut, counter_117__i16, counter_117_add_4_18 }
ble_pack counter_117__i17_LC_3_24_1 { counter_117_add_4_19_lut, counter_117__i17, counter_117_add_4_19 }
ble_pack counter_117__i18_LC_3_24_2 { counter_117_add_4_20_lut, counter_117__i18, counter_117_add_4_20 }
ble_pack counter_117__i19_LC_3_24_3 { counter_117_add_4_21_lut, counter_117__i19, counter_117_add_4_21 }
ble_pack counter_117__i20_LC_3_24_4 { counter_117_add_4_22_lut, counter_117__i20, counter_117_add_4_22 }
ble_pack counter_117__i21_LC_3_24_5 { counter_117_add_4_23_lut, counter_117__i21, counter_117_add_4_23 }
ble_pack counter_117__i22_LC_3_24_6 { counter_117_add_4_24_lut, counter_117__i22, counter_117_add_4_24 }
ble_pack counter_117__i23_LC_3_24_7 { counter_117_add_4_25_lut, counter_117__i23, counter_117_add_4_25 }
clb_pack LT_3_24 { counter_117__i16_LC_3_24_0, counter_117__i17_LC_3_24_1, counter_117__i18_LC_3_24_2, counter_117__i19_LC_3_24_3, counter_117__i20_LC_3_24_4, counter_117__i21_LC_3_24_5, counter_117__i22_LC_3_24_6, counter_117__i23_LC_3_24_7 }
set_location LT_3_24 3 24
ble_pack counter_117__i24_LC_3_25_0 { counter_117_add_4_26_lut, counter_117__i24, counter_117_add_4_26 }
ble_pack counter_117__i25_LC_3_25_1 { counter_117_add_4_27_lut, counter_117__i25, counter_117_add_4_27 }
ble_pack counter_117__i26_LC_3_25_2 { counter_117_add_4_28_lut, counter_117__i26, counter_117_add_4_28 }
ble_pack counter_117__i27_LC_3_25_3 { counter_117_add_4_29_lut, counter_117__i27, counter_117_add_4_29 }
ble_pack counter_117__i28_LC_3_25_4 { counter_117_add_4_30_lut, counter_117__i28, counter_117_add_4_30 }
ble_pack counter_117__i29_LC_3_25_5 { counter_117_add_4_31_lut, counter_117__i29, counter_117_add_4_31 }
ble_pack counter_117__i30_LC_3_25_6 { counter_117_add_4_32_lut, counter_117__i30, counter_117_add_4_32 }
ble_pack counter_117__i31_LC_3_25_7 { counter_117_add_4_33_lut, counter_117__i31 }
clb_pack LT_3_25 { counter_117__i24_LC_3_25_0, counter_117__i25_LC_3_25_1, counter_117__i26_LC_3_25_2, counter_117__i27_LC_3_25_3, counter_117__i28_LC_3_25_4, counter_117__i29_LC_3_25_5, counter_117__i30_LC_3_25_6, counter_117__i31_LC_3_25_7 }
set_location LT_3_25 3 25
ble_pack uart.i2_3_lut_LC_4_19_3 { uart.i2_3_lut }
ble_pack uart.r_Bit_Index_i0_LC_4_19_4 { i639_3_lut_4_lut, uart.r_Bit_Index_i0 }
ble_pack uart.i1095_3_lut_4_lut_LC_4_19_6 { uart.i1095_3_lut_4_lut }
ble_pack uart.i1091_2_lut_3_lut_LC_4_19_7 { uart.i1091_2_lut_3_lut }
clb_pack LT_4_19 { uart.i2_3_lut_LC_4_19_3, uart.r_Bit_Index_i0_LC_4_19_4, uart.i1095_3_lut_4_lut_LC_4_19_6, uart.i1091_2_lut_3_lut_LC_4_19_7 }
set_location LT_4_19 4 19
ble_pack uart.r_Tx_Data_i4_LC_4_20_0 { i651_3_lut, uart.r_Tx_Data_i4 }
ble_pack uart.r_Bit_Index_0__bdd_4_lut_LC_4_20_1 { uart.r_Bit_Index_0__bdd_4_lut }
ble_pack uart.n2428_bdd_4_lut_LC_4_20_2 { uart.n2428_bdd_4_lut }
ble_pack uart.r_Tx_Data_i5_LC_4_20_3 { i646_3_lut, uart.r_Tx_Data_i5 }
ble_pack uart.r_Bit_Index_0__bdd_4_lut_1104_LC_4_20_4 { uart.r_Bit_Index_0__bdd_4_lut_1104 }
ble_pack uart.n2422_bdd_4_lut_LC_4_20_5 { uart.n2422_bdd_4_lut }
ble_pack uart.r_Tx_Data_i6_LC_4_20_6 { i645_3_lut, uart.r_Tx_Data_i6 }
ble_pack uart.i2_3_lut_4_lut_LC_4_20_7 { uart.i2_3_lut_4_lut }
clb_pack LT_4_20 { uart.r_Tx_Data_i4_LC_4_20_0, uart.r_Bit_Index_0__bdd_4_lut_LC_4_20_1, uart.n2428_bdd_4_lut_LC_4_20_2, uart.r_Tx_Data_i5_LC_4_20_3, uart.r_Bit_Index_0__bdd_4_lut_1104_LC_4_20_4, uart.n2422_bdd_4_lut_LC_4_20_5, uart.r_Tx_Data_i6_LC_4_20_6, uart.i2_3_lut_4_lut_LC_4_20_7 }
set_location LT_4_20 4 20
ble_pack uart.r_Tx_Data_i1_LC_4_21_2 { i654_3_lut, uart.r_Tx_Data_i1 }
ble_pack uart.r_Tx_Data_i3_LC_4_21_3 { i652_3_lut, uart.r_Tx_Data_i3 }
ble_pack uart.r_Tx_Data_i7_LC_4_21_5 { i644_3_lut, uart.r_Tx_Data_i7 }
ble_pack uart.r_Tx_Data_i0_LC_4_21_6 { i634_3_lut, uart.r_Tx_Data_i0 }
ble_pack uart.r_Tx_Data_i2_LC_4_21_7 { i653_3_lut, uart.r_Tx_Data_i2 }
clb_pack LT_4_21 { uart.r_Tx_Data_i1_LC_4_21_2, uart.r_Tx_Data_i3_LC_4_21_3, uart.r_Tx_Data_i7_LC_4_21_5, uart.r_Tx_Data_i0_LC_4_21_6, uart.r_Tx_Data_i2_LC_4_21_7 }
set_location LT_4_21 4 21
ble_pack data_out_i0_i5_LC_4_22_0 { i641_3_lut, data_out_i0_i5 }
ble_pack data_out_i0_i0_LC_4_22_5 { i650_3_lut, data_out_i0_i0 }
ble_pack data_out_i0_i3_LC_4_22_6 { i643_3_lut, data_out_i0_i3 }
clb_pack LT_4_22 { data_out_i0_i5_LC_4_22_0, data_out_i0_i0_LC_4_22_5, data_out_i0_i3_LC_4_22_6 }
set_location LT_4_22 4 22
ble_pack data_out_i0_i1_LC_4_23_0 { i648_3_lut, data_out_i0_i1 }
ble_pack data_out_i0_i2_LC_4_23_1 { i647_3_lut, data_out_i0_i2 }
ble_pack i15_4_lut_LC_4_23_2 { i15_4_lut }
ble_pack i21_4_lut_LC_4_23_3 { i21_4_lut }
ble_pack i710_4_lut_LC_4_23_4 { i710_4_lut }
ble_pack data_out_i0_i4_LC_4_23_5 { i642_3_lut, data_out_i0_i4 }
ble_pack send_29_LC_4_23_6 { i710_4_lut_send_29_REP_LUT4_0, send_29 }
ble_pack data_out_i0_i6_LC_4_23_7 { i640_3_lut, data_out_i0_i6 }
clb_pack LT_4_23 { data_out_i0_i1_LC_4_23_0, data_out_i0_i2_LC_4_23_1, i15_4_lut_LC_4_23_2, i21_4_lut_LC_4_23_3, i710_4_lut_LC_4_23_4, data_out_i0_i4_LC_4_23_5, send_29_LC_4_23_6, data_out_i0_i6_LC_4_23_7 }
set_location LT_4_23 4 23
ble_pack i13_4_lut_LC_4_24_0 { i13_4_lut }
ble_pack i17_4_lut_LC_4_24_3 { i17_4_lut }
ble_pack i16_4_lut_LC_4_24_4 { i16_4_lut }
ble_pack i14_4_lut_LC_4_24_5 { i14_4_lut }
ble_pack i12_3_lut_LC_4_24_6 { i12_3_lut }
ble_pack data_out_i0_i7_LC_4_24_7 { i635_3_lut, data_out_i0_i7 }
clb_pack LT_4_24 { i13_4_lut_LC_4_24_0, i17_4_lut_LC_4_24_3, i16_4_lut_LC_4_24_4, i14_4_lut_LC_4_24_5, i12_3_lut_LC_4_24_6, data_out_i0_i7_LC_4_24_7 }
set_location LT_4_24 4 24
ble_pack uart.r_Bit_Index_i1_LC_5_19_1 { uart.i134_2_lut, uart.r_Bit_Index_i1 }
clb_pack LT_5_19 { uart.r_Bit_Index_i1_LC_5_19_1 }
set_location LT_5_19 5 19
ble_pack integrator_118__i0_LC_5_23_0 { integrator_118_add_4_2_lut, integrator_118__i0, integrator_118_add_4_2 }
ble_pack integrator_118__i1_LC_5_23_1 { integrator_118_add_4_3_lut, integrator_118__i1, integrator_118_add_4_3 }
ble_pack integrator_118__i2_LC_5_23_2 { integrator_118_add_4_4_lut, integrator_118__i2, integrator_118_add_4_4 }
ble_pack integrator_118__i3_LC_5_23_3 { integrator_118_add_4_5_lut, integrator_118__i3, integrator_118_add_4_5 }
ble_pack integrator_118__i4_LC_5_23_4 { integrator_118_add_4_6_lut, integrator_118__i4, integrator_118_add_4_6 }
ble_pack integrator_118__i5_LC_5_23_5 { integrator_118_add_4_7_lut, integrator_118__i5, integrator_118_add_4_7 }
ble_pack integrator_118__i6_LC_5_23_6 { integrator_118_add_4_8_lut, integrator_118__i6, integrator_118_add_4_8 }
ble_pack integrator_118__i7_LC_5_23_7 { integrator_118_add_4_9_lut, integrator_118__i7 }
clb_pack LT_5_23 { integrator_118__i0_LC_5_23_0, integrator_118__i1_LC_5_23_1, integrator_118__i2_LC_5_23_2, integrator_118__i3_LC_5_23_3, integrator_118__i4_LC_5_23_4, integrator_118__i5_LC_5_23_5, integrator_118__i6_LC_5_23_6, integrator_118__i7_LC_5_23_7 }
set_location LT_5_23 5 23
set_location CLK_pad_gb 0 17
set_io PIN_2 A1
set_io PIN_18 A9
set_io PIN_13 H2
set_io LED B3
set_io CLK B2
