set_location IN_MUX_bfv_1_18_0_ 1 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_19_0_ 1 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_20_0_ 1 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_21_0_ 1 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_23_0_ 5 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_22_0_ 3 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_23_0_ 3 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_24_0_ 3 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_25_0_ 3 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_22_0_ 1 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_23_0_ 1 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_24_0_ 1 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_25_0_ 1 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_23_0_ 2 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_24_0_ 2 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_25_0_ 2 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_26_0_ 2 26 0 #ICE_CARRY_IN_MUX
set_location i710_4_lut_send_29_REP_LUT4_0 4 23 6 #SB_LUT4
set_location i708_4_lut_clk_slow_25_REP_LUT4_0 2 22 7 #SB_LUT4
set_location uart.r_Tx_Data_i7 4 21 5 #SB_DFF
set_location uart.r_Tx_Data_i6 4 20 6 #SB_DFF
set_location uart.r_Tx_Data_i5 4 20 3 #SB_DFF
set_location uart.r_Tx_Data_i4 4 20 0 #SB_DFF
set_location uart.r_Tx_Data_i3 4 21 3 #SB_DFF
set_location uart.r_Tx_Data_i2 4 21 7 #SB_DFF
set_location uart.r_Tx_Data_i1 4 21 2 #SB_DFF
set_location uart.r_Tx_Data_i0 4 21 6 #SB_DFF
set_location uart.r_SM_Main_i2 2 19 0 #SB_DFF
set_location uart.r_SM_Main_i1 3 19 1 #SB_DFFSR
set_location uart.r_SM_Main_i0 3 19 0 #SB_DFFSR
set_location uart.r_SM_Main_2__I_0_62_i3_3_lut 2 22 1 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_9_lut 1 18 7 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_9 1 18 7 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_8_lut 1 18 6 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_8 1 18 6 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_7_lut 1 18 5 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_7 1 18 5 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_6_lut 1 18 4 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_6 1 18 4 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_5_lut 1 18 3 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_5 1 18 3 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_4_lut 1 18 2 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_4 1 18 2 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_3_lut 1 18 1 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_33_lut 1 21 7 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_32_lut 1 21 6 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_32 1 21 6 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_31_lut 1 21 5 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_31 1 21 5 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_30_lut 1 21 4 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_30 1 21 4 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_3 1 18 1 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_2_lut 1 18 0 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_29_lut 1 21 3 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_29 1 21 3 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_28_lut 1 21 2 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_28 1 21 2 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_27_lut 1 21 1 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_27 1 21 1 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_26_lut 1 21 0 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_26 1 21 0 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_25_lut 1 20 7 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_25 1 20 7 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_24_lut 1 20 6 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_24 1 20 6 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_23_lut 1 20 5 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_23 1 20 5 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_22_lut 1 20 4 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_22 1 20 4 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_21_lut 1 20 3 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_21 1 20 3 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_20_lut 1 20 2 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_20 1 20 2 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_2 1 18 0 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_19_lut 1 20 1 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_19 1 20 1 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_18_lut 1 20 0 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_18 1 20 0 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_17_lut 1 19 7 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_17 1 19 7 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_16_lut 1 19 6 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_16 1 19 6 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_15_lut 1 19 5 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_15 1 19 5 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_14_lut 1 19 4 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_14 1 19 4 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_13_lut 1 19 3 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_13 1 19 3 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_12_lut 1 19 2 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_12 1 19 2 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_11_lut 1 19 1 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_11 1 19 1 #SB_CARRY
set_location uart.r_Clock_Count_121_add_4_10_lut 1 19 0 #SB_LUT4
set_location uart.r_Clock_Count_121_add_4_10 1 19 0 #SB_CARRY
set_location uart.r_Clock_Count_121__i9 1 19 1 #SB_DFFESR
set_location uart.r_Clock_Count_121__i8 1 19 0 #SB_DFFESR
set_location uart.r_Clock_Count_121__i7 1 18 7 #SB_DFFESR
set_location uart.r_Clock_Count_121__i6 1 18 6 #SB_DFFESR
set_location uart.r_Clock_Count_121__i5 1 18 5 #SB_DFFESR
set_location uart.r_Clock_Count_121__i4 1 18 4 #SB_DFFESR
set_location uart.r_Clock_Count_121__i31 1 21 7 #SB_DFFESR
set_location uart.r_Clock_Count_121__i30 1 21 6 #SB_DFFESR
set_location uart.r_Clock_Count_121__i3 1 18 3 #SB_DFFESR
set_location uart.r_Clock_Count_121__i29 1 21 5 #SB_DFFESR
set_location uart.r_Clock_Count_121__i28 1 21 4 #SB_DFFESR
set_location uart.r_Clock_Count_121__i27 1 21 3 #SB_DFFESR
set_location uart.r_Clock_Count_121__i26 1 21 2 #SB_DFFESR
set_location uart.r_Clock_Count_121__i25 1 21 1 #SB_DFFESR
set_location uart.r_Clock_Count_121__i24 1 21 0 #SB_DFFESR
set_location uart.r_Clock_Count_121__i23 1 20 7 #SB_DFFESR
set_location uart.r_Clock_Count_121__i22 1 20 6 #SB_DFFESR
set_location uart.r_Clock_Count_121__i21 1 20 5 #SB_DFFESR
set_location uart.r_Clock_Count_121__i20 1 20 4 #SB_DFFESR
set_location uart.r_Clock_Count_121__i2 1 18 2 #SB_DFFESR
set_location uart.r_Clock_Count_121__i19 1 20 3 #SB_DFFESR
set_location uart.r_Clock_Count_121__i18 1 20 2 #SB_DFFESR
set_location uart.r_Clock_Count_121__i17 1 20 1 #SB_DFFESR
set_location uart.r_Clock_Count_121__i16 1 20 0 #SB_DFFESR
set_location uart.r_Clock_Count_121__i15 1 19 7 #SB_DFFESR
set_location uart.r_Clock_Count_121__i14 1 19 6 #SB_DFFESR
set_location uart.r_Clock_Count_121__i13 1 19 5 #SB_DFFESR
set_location uart.r_Clock_Count_121__i12 1 19 4 #SB_DFFESR
set_location uart.r_Clock_Count_121__i11 1 19 3 #SB_DFFESR
set_location uart.r_Clock_Count_121__i10 1 19 2 #SB_DFFESR
set_location uart.r_Clock_Count_121__i1 1 18 1 #SB_DFFESR
set_location uart.r_Clock_Count_121__i0 1 18 0 #SB_DFFESR
set_location uart.r_Bit_Index_i2 3 20 3 #SB_DFFESR
set_location uart.r_Bit_Index_i1 5 19 1 #SB_DFFESR
set_location uart.r_Bit_Index_i0 4 19 4 #SB_DFF
set_location uart.r_Bit_Index_0__bdd_4_lut_1104 4 20 4 #SB_LUT4
set_location uart.r_Bit_Index_0__bdd_4_lut 4 20 1 #SB_LUT4
set_location uart.n2428_bdd_4_lut 4 20 2 #SB_LUT4
set_location uart.n2422_bdd_4_lut 4 20 5 #SB_LUT4
set_location uart.i8225_i1_3_lut 3 21 0 #SB_LUT4
set_location uart.i806_4_lut 2 18 0 #SB_LUT4
set_location uart.i537_3_lut 3 19 1 #SB_LUT4
set_location uart.i516_3_lut 3 19 0 #SB_LUT4
set_location uart.i515_4_lut 2 19 7 #SB_LUT4
set_location uart.i3_4_lut 2 18 1 #SB_LUT4
set_location uart.i2_3_lut_4_lut 4 20 7 #SB_LUT4
set_location uart.i2_3_lut 4 19 3 #SB_LUT4
set_location uart.i22_4_lut 2 20 6 #SB_LUT4
set_location uart.i21_4_lut 2 19 2 #SB_LUT4
set_location uart.i1_4_lut 2 19 3 #SB_LUT4
set_location uart.i1_1_lut 2 20 2 #SB_LUT4
set_location uart.i18_4_lut 2 19 1 #SB_LUT4
set_location uart.i16_4_lut 2 20 3 #SB_LUT4
set_location uart.i15_4_lut 2 20 0 #SB_LUT4
set_location uart.i14_4_lut 2 20 4 #SB_LUT4
set_location uart.i141_3_lut 3 20 3 #SB_LUT4
set_location uart.i13_4_lut 2 20 5 #SB_LUT4
set_location uart.i134_2_lut 5 19 1 #SB_LUT4
set_location uart.i10_2_lut 2 19 5 #SB_LUT4
set_location uart.i1095_3_lut_4_lut 4 19 6 #SB_LUT4
set_location uart.i1091_2_lut_3_lut 4 19 7 #SB_LUT4
set_location uart.i1088_4_lut 2 19 4 #SB_LUT4
set_location send_29 4 23 6 #SB_DFF
set_location integrator_118_add_4_9_lut 5 23 7 #SB_LUT4
set_location integrator_118_add_4_8_lut 5 23 6 #SB_LUT4
set_location integrator_118_add_4_8 5 23 6 #SB_CARRY
set_location integrator_118_add_4_7_lut 5 23 5 #SB_LUT4
set_location integrator_118_add_4_7 5 23 5 #SB_CARRY
set_location integrator_118_add_4_6_lut 5 23 4 #SB_LUT4
set_location integrator_118_add_4_6 5 23 4 #SB_CARRY
set_location integrator_118_add_4_5_lut 5 23 3 #SB_LUT4
set_location integrator_118_add_4_5 5 23 3 #SB_CARRY
set_location integrator_118_add_4_4_lut 5 23 2 #SB_LUT4
set_location integrator_118_add_4_4 5 23 2 #SB_CARRY
set_location integrator_118_add_4_3_lut 5 23 1 #SB_LUT4
set_location integrator_118_add_4_3 5 23 1 #SB_CARRY
set_location integrator_118_add_4_2_lut 5 23 0 #SB_LUT4
set_location integrator_118_add_4_2 5 23 0 #SB_CARRY
set_location integrator_118__i7 5 23 7 #SB_DFFSR
set_location integrator_118__i6 5 23 6 #SB_DFFSR
set_location integrator_118__i5 5 23 5 #SB_DFFSR
set_location integrator_118__i4 5 23 4 #SB_DFFSR
set_location integrator_118__i3 5 23 3 #SB_DFFSR
set_location integrator_118__i2 5 23 2 #SB_DFFSR
set_location integrator_118__i1 5 23 1 #SB_DFFSR
set_location integrator_118__i0 5 23 0 #SB_DFFSR
set_location i710_4_lut 4 23 4 #SB_LUT4
set_location i708_4_lut 2 22 0 #SB_LUT4
set_location i654_3_lut 4 21 2 #SB_LUT4
set_location i653_3_lut 4 21 7 #SB_LUT4
set_location i652_3_lut 4 21 3 #SB_LUT4
set_location i651_3_lut 4 20 0 #SB_LUT4
set_location i650_3_lut 4 22 5 #SB_LUT4
set_location i648_3_lut 4 23 0 #SB_LUT4
set_location i647_3_lut 4 23 1 #SB_LUT4
set_location i646_3_lut 4 20 3 #SB_LUT4
set_location i645_3_lut 4 20 6 #SB_LUT4
set_location i644_3_lut 4 21 5 #SB_LUT4
set_location i643_3_lut 4 22 6 #SB_LUT4
set_location i642_3_lut 4 23 5 #SB_LUT4
set_location i641_3_lut 4 22 0 #SB_LUT4
set_location i640_3_lut 4 23 7 #SB_LUT4
set_location i639_3_lut_4_lut 4 19 4 #SB_LUT4
set_location i635_3_lut 4 24 7 #SB_LUT4
set_location i634_3_lut 4 21 6 #SB_LUT4
set_location i3_4_lut_4_lut 2 19 0 #SB_LUT4
set_location i2_2_lut 2 22 2 #SB_LUT4
set_location i291_4_lut 2 21 5 #SB_LUT4
set_location i24_4_lut 2 21 4 #SB_LUT4
set_location i23_4_lut 3 21 5 #SB_LUT4
set_location i21_4_lut 4 23 3 #SB_LUT4
set_location i19_4_lut 2 22 4 #SB_LUT4
set_location i18_4_lut 2 21 1 #SB_LUT4
set_location i17_4_lut_adj_3 2 22 6 #SB_LUT4
set_location i17_4_lut 4 24 3 #SB_LUT4
set_location i16_4_lut_adj_2 2 21 3 #SB_LUT4
set_location i16_4_lut 4 24 4 #SB_LUT4
set_location i15_4_lut_adj_1 2 21 2 #SB_LUT4
set_location i15_4_lut 4 23 2 #SB_LUT4
set_location i14_4_lut_adj_4 2 22 3 #SB_LUT4
set_location i14_4_lut 4 24 5 #SB_LUT4
set_location i13_4_lut 4 24 0 #SB_LUT4
set_location i12_3_lut 4 24 6 #SB_LUT4
set_location i1071_3_lut 2 27 1 #SB_LUT4
set_location i1070_4_lut 2 27 0 #SB_LUT4
set_location i1069_4_lut 2 27 6 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location data_out_i0_i7 4 24 7 #SB_DFF
set_location data_out_i0_i6 4 23 7 #SB_DFF
set_location data_out_i0_i5 4 22 0 #SB_DFF
set_location data_out_i0_i4 4 23 5 #SB_DFF
set_location data_out_i0_i3 4 22 6 #SB_DFF
set_location data_out_i0_i2 4 23 1 #SB_DFF
set_location data_out_i0_i1 4 23 0 #SB_DFF
set_location data_out_i0_i0 4 22 5 #SB_DFF
set_location counter_117_add_4_9_lut 3 22 7 #SB_LUT4
set_location counter_117_add_4_9 3 22 7 #SB_CARRY
set_location counter_117_add_4_8_lut 3 22 6 #SB_LUT4
set_location counter_117_add_4_8 3 22 6 #SB_CARRY
set_location counter_117_add_4_7_lut 3 22 5 #SB_LUT4
set_location counter_117_add_4_7 3 22 5 #SB_CARRY
set_location counter_117_add_4_6_lut 3 22 4 #SB_LUT4
set_location counter_117_add_4_6 3 22 4 #SB_CARRY
set_location counter_117_add_4_5_lut 3 22 3 #SB_LUT4
set_location counter_117_add_4_5 3 22 3 #SB_CARRY
set_location counter_117_add_4_4_lut 3 22 2 #SB_LUT4
set_location counter_117_add_4_4 3 22 2 #SB_CARRY
set_location counter_117_add_4_3_lut 3 22 1 #SB_LUT4
set_location counter_117_add_4_33_lut 3 25 7 #SB_LUT4
set_location counter_117_add_4_32_lut 3 25 6 #SB_LUT4
set_location counter_117_add_4_32 3 25 6 #SB_CARRY
set_location counter_117_add_4_31_lut 3 25 5 #SB_LUT4
set_location counter_117_add_4_31 3 25 5 #SB_CARRY
set_location counter_117_add_4_30_lut 3 25 4 #SB_LUT4
set_location counter_117_add_4_30 3 25 4 #SB_CARRY
set_location counter_117_add_4_3 3 22 1 #SB_CARRY
set_location counter_117_add_4_2_lut 3 22 0 #SB_LUT4
set_location counter_117_add_4_29_lut 3 25 3 #SB_LUT4
set_location counter_117_add_4_29 3 25 3 #SB_CARRY
set_location counter_117_add_4_28_lut 3 25 2 #SB_LUT4
set_location counter_117_add_4_28 3 25 2 #SB_CARRY
set_location counter_117_add_4_27_lut 3 25 1 #SB_LUT4
set_location counter_117_add_4_27 3 25 1 #SB_CARRY
set_location counter_117_add_4_26_lut 3 25 0 #SB_LUT4
set_location counter_117_add_4_26 3 25 0 #SB_CARRY
set_location counter_117_add_4_25_lut 3 24 7 #SB_LUT4
set_location counter_117_add_4_25 3 24 7 #SB_CARRY
set_location counter_117_add_4_24_lut 3 24 6 #SB_LUT4
set_location counter_117_add_4_24 3 24 6 #SB_CARRY
set_location counter_117_add_4_23_lut 3 24 5 #SB_LUT4
set_location counter_117_add_4_23 3 24 5 #SB_CARRY
set_location counter_117_add_4_22_lut 3 24 4 #SB_LUT4
set_location counter_117_add_4_22 3 24 4 #SB_CARRY
set_location counter_117_add_4_21_lut 3 24 3 #SB_LUT4
set_location counter_117_add_4_21 3 24 3 #SB_CARRY
set_location counter_117_add_4_20_lut 3 24 2 #SB_LUT4
set_location counter_117_add_4_20 3 24 2 #SB_CARRY
set_location counter_117_add_4_2 3 22 0 #SB_CARRY
set_location counter_117_add_4_19_lut 3 24 1 #SB_LUT4
set_location counter_117_add_4_19 3 24 1 #SB_CARRY
set_location counter_117_add_4_18_lut 3 24 0 #SB_LUT4
set_location counter_117_add_4_18 3 24 0 #SB_CARRY
set_location counter_117_add_4_17_lut 3 23 7 #SB_LUT4
set_location counter_117_add_4_17 3 23 7 #SB_CARRY
set_location counter_117_add_4_16_lut 3 23 6 #SB_LUT4
set_location counter_117_add_4_16 3 23 6 #SB_CARRY
set_location counter_117_add_4_15_lut 3 23 5 #SB_LUT4
set_location counter_117_add_4_15 3 23 5 #SB_CARRY
set_location counter_117_add_4_14_lut 3 23 4 #SB_LUT4
set_location counter_117_add_4_14 3 23 4 #SB_CARRY
set_location counter_117_add_4_13_lut 3 23 3 #SB_LUT4
set_location counter_117_add_4_13 3 23 3 #SB_CARRY
set_location counter_117_add_4_12_lut 3 23 2 #SB_LUT4
set_location counter_117_add_4_12 3 23 2 #SB_CARRY
set_location counter_117_add_4_11_lut 3 23 1 #SB_LUT4
set_location counter_117_add_4_11 3 23 1 #SB_CARRY
set_location counter_117_add_4_10_lut 3 23 0 #SB_LUT4
set_location counter_117_add_4_10 3 23 0 #SB_CARRY
set_location counter_117__i9 3 23 1 #SB_DFFSR
set_location counter_117__i8 3 23 0 #SB_DFFSR
set_location counter_117__i7 3 22 7 #SB_DFFSR
set_location counter_117__i6 3 22 6 #SB_DFFSR
set_location counter_117__i5 3 22 5 #SB_DFFSR
set_location counter_117__i4 3 22 4 #SB_DFFSR
set_location counter_117__i31 3 25 7 #SB_DFFSR
set_location counter_117__i30 3 25 6 #SB_DFFSR
set_location counter_117__i3 3 22 3 #SB_DFFSR
set_location counter_117__i29 3 25 5 #SB_DFFSR
set_location counter_117__i28 3 25 4 #SB_DFFSR
set_location counter_117__i27 3 25 3 #SB_DFFSR
set_location counter_117__i26 3 25 2 #SB_DFFSR
set_location counter_117__i25 3 25 1 #SB_DFFSR
set_location counter_117__i24 3 25 0 #SB_DFFSR
set_location counter_117__i23 3 24 7 #SB_DFFSR
set_location counter_117__i22 3 24 6 #SB_DFFSR
set_location counter_117__i21 3 24 5 #SB_DFFSR
set_location counter_117__i20 3 24 4 #SB_DFFSR
set_location counter_117__i2 3 22 2 #SB_DFFSR
set_location counter_117__i19 3 24 3 #SB_DFFSR
set_location counter_117__i18 3 24 2 #SB_DFFSR
set_location counter_117__i17 3 24 1 #SB_DFFSR
set_location counter_117__i16 3 24 0 #SB_DFFSR
set_location counter_117__i15 3 23 7 #SB_DFFSR
set_location counter_117__i14 3 23 6 #SB_DFFSR
set_location counter_117__i13 3 23 5 #SB_DFFSR
set_location counter_117__i12 3 23 4 #SB_DFFSR
set_location counter_117__i11 3 23 3 #SB_DFFSR
set_location counter_117__i10 3 23 2 #SB_DFFSR
set_location counter_117__i1 3 22 1 #SB_DFFSR
set_location counter_117__i0 3 22 0 #SB_DFFSR
set_location clk_slow_25 2 22 7 #SB_DFF
set_location clk_divider_116_add_4_9_lut 1 22 7 #SB_LUT4
set_location clk_divider_116_add_4_9 1 22 7 #SB_CARRY
set_location clk_divider_116_add_4_8_lut 1 22 6 #SB_LUT4
set_location clk_divider_116_add_4_8 1 22 6 #SB_CARRY
set_location clk_divider_116_add_4_7_lut 1 22 5 #SB_LUT4
set_location clk_divider_116_add_4_7 1 22 5 #SB_CARRY
set_location clk_divider_116_add_4_6_lut 1 22 4 #SB_LUT4
set_location clk_divider_116_add_4_6 1 22 4 #SB_CARRY
set_location clk_divider_116_add_4_5_lut 1 22 3 #SB_LUT4
set_location clk_divider_116_add_4_5 1 22 3 #SB_CARRY
set_location clk_divider_116_add_4_4_lut 1 22 2 #SB_LUT4
set_location clk_divider_116_add_4_4 1 22 2 #SB_CARRY
set_location clk_divider_116_add_4_3_lut 1 22 1 #SB_LUT4
set_location clk_divider_116_add_4_33_lut 1 25 7 #SB_LUT4
set_location clk_divider_116_add_4_32_lut 1 25 6 #SB_LUT4
set_location clk_divider_116_add_4_32 1 25 6 #SB_CARRY
set_location clk_divider_116_add_4_31_lut 1 25 5 #SB_LUT4
set_location clk_divider_116_add_4_31 1 25 5 #SB_CARRY
set_location clk_divider_116_add_4_30_lut 1 25 4 #SB_LUT4
set_location clk_divider_116_add_4_30 1 25 4 #SB_CARRY
set_location clk_divider_116_add_4_3 1 22 1 #SB_CARRY
set_location clk_divider_116_add_4_2_lut 1 22 0 #SB_LUT4
set_location clk_divider_116_add_4_29_lut 1 25 3 #SB_LUT4
set_location clk_divider_116_add_4_29 1 25 3 #SB_CARRY
set_location clk_divider_116_add_4_28_lut 1 25 2 #SB_LUT4
set_location clk_divider_116_add_4_28 1 25 2 #SB_CARRY
set_location clk_divider_116_add_4_27_lut 1 25 1 #SB_LUT4
set_location clk_divider_116_add_4_27 1 25 1 #SB_CARRY
set_location clk_divider_116_add_4_26_lut 1 25 0 #SB_LUT4
set_location clk_divider_116_add_4_26 1 25 0 #SB_CARRY
set_location clk_divider_116_add_4_25_lut 1 24 7 #SB_LUT4
set_location clk_divider_116_add_4_25 1 24 7 #SB_CARRY
set_location clk_divider_116_add_4_24_lut 1 24 6 #SB_LUT4
set_location clk_divider_116_add_4_24 1 24 6 #SB_CARRY
set_location clk_divider_116_add_4_23_lut 1 24 5 #SB_LUT4
set_location clk_divider_116_add_4_23 1 24 5 #SB_CARRY
set_location clk_divider_116_add_4_22_lut 1 24 4 #SB_LUT4
set_location clk_divider_116_add_4_22 1 24 4 #SB_CARRY
set_location clk_divider_116_add_4_21_lut 1 24 3 #SB_LUT4
set_location clk_divider_116_add_4_21 1 24 3 #SB_CARRY
set_location clk_divider_116_add_4_20_lut 1 24 2 #SB_LUT4
set_location clk_divider_116_add_4_20 1 24 2 #SB_CARRY
set_location clk_divider_116_add_4_2 1 22 0 #SB_CARRY
set_location clk_divider_116_add_4_19_lut 1 24 1 #SB_LUT4
set_location clk_divider_116_add_4_19 1 24 1 #SB_CARRY
set_location clk_divider_116_add_4_18_lut 1 24 0 #SB_LUT4
set_location clk_divider_116_add_4_18 1 24 0 #SB_CARRY
set_location clk_divider_116_add_4_17_lut 1 23 7 #SB_LUT4
set_location clk_divider_116_add_4_17 1 23 7 #SB_CARRY
set_location clk_divider_116_add_4_16_lut 1 23 6 #SB_LUT4
set_location clk_divider_116_add_4_16 1 23 6 #SB_CARRY
set_location clk_divider_116_add_4_15_lut 1 23 5 #SB_LUT4
set_location clk_divider_116_add_4_15 1 23 5 #SB_CARRY
set_location clk_divider_116_add_4_14_lut 1 23 4 #SB_LUT4
set_location clk_divider_116_add_4_14 1 23 4 #SB_CARRY
set_location clk_divider_116_add_4_13_lut 1 23 3 #SB_LUT4
set_location clk_divider_116_add_4_13 1 23 3 #SB_CARRY
set_location clk_divider_116_add_4_12_lut 1 23 2 #SB_LUT4
set_location clk_divider_116_add_4_12 1 23 2 #SB_CARRY
set_location clk_divider_116_add_4_11_lut 1 23 1 #SB_LUT4
set_location clk_divider_116_add_4_11 1 23 1 #SB_CARRY
set_location clk_divider_116_add_4_10_lut 1 23 0 #SB_LUT4
set_location clk_divider_116_add_4_10 1 23 0 #SB_CARRY
set_location clk_divider_116__i9 1 23 1 #SB_DFFSR
set_location clk_divider_116__i8 1 23 0 #SB_DFFSR
set_location clk_divider_116__i7 1 22 7 #SB_DFFSR
set_location clk_divider_116__i6 1 22 6 #SB_DFFSR
set_location clk_divider_116__i5 1 22 5 #SB_DFFSR
set_location clk_divider_116__i4 1 22 4 #SB_DFFSR
set_location clk_divider_116__i31 1 25 7 #SB_DFFSR
set_location clk_divider_116__i30 1 25 6 #SB_DFFSR
set_location clk_divider_116__i3 1 22 3 #SB_DFFSR
set_location clk_divider_116__i29 1 25 5 #SB_DFFSR
set_location clk_divider_116__i28 1 25 4 #SB_DFFSR
set_location clk_divider_116__i27 1 25 3 #SB_DFFSR
set_location clk_divider_116__i26 1 25 2 #SB_DFFSR
set_location clk_divider_116__i25 1 25 1 #SB_DFFSR
set_location clk_divider_116__i24 1 25 0 #SB_DFFSR
set_location clk_divider_116__i23 1 24 7 #SB_DFFSR
set_location clk_divider_116__i22 1 24 6 #SB_DFFSR
set_location clk_divider_116__i21 1 24 5 #SB_DFFSR
set_location clk_divider_116__i20 1 24 4 #SB_DFFSR
set_location clk_divider_116__i2 1 22 2 #SB_DFFSR
set_location clk_divider_116__i19 1 24 3 #SB_DFFSR
set_location clk_divider_116__i18 1 24 2 #SB_DFFSR
set_location clk_divider_116__i17 1 24 1 #SB_DFFSR
set_location clk_divider_116__i16 1 24 0 #SB_DFFSR
set_location clk_divider_116__i15 1 23 7 #SB_DFFSR
set_location clk_divider_116__i14 1 23 6 #SB_DFFSR
set_location clk_divider_116__i13 1 23 5 #SB_DFFSR
set_location clk_divider_116__i12 1 23 4 #SB_DFFSR
set_location clk_divider_116__i11 1 23 3 #SB_DFFSR
set_location clk_divider_116__i10 1 23 2 #SB_DFFSR
set_location clk_divider_116__i1 1 22 1 #SB_DFFSR
set_location clk_divider_116__i0 1 22 0 #SB_DFFSR
set_location blink_counter_119_add_4_9_lut 2 23 7 #SB_LUT4
set_location blink_counter_119_add_4_9 2 23 7 #SB_CARRY
set_location blink_counter_119_add_4_8_lut 2 23 6 #SB_LUT4
set_location blink_counter_119_add_4_8 2 23 6 #SB_CARRY
set_location blink_counter_119_add_4_7_lut 2 23 5 #SB_LUT4
set_location blink_counter_119_add_4_7 2 23 5 #SB_CARRY
set_location blink_counter_119_add_4_6_lut 2 23 4 #SB_LUT4
set_location blink_counter_119_add_4_6 2 23 4 #SB_CARRY
set_location blink_counter_119_add_4_5_lut 2 23 3 #SB_LUT4
set_location blink_counter_119_add_4_5 2 23 3 #SB_CARRY
set_location blink_counter_119_add_4_4_lut 2 23 2 #SB_LUT4
set_location blink_counter_119_add_4_4 2 23 2 #SB_CARRY
set_location blink_counter_119_add_4_3_lut 2 23 1 #SB_LUT4
set_location blink_counter_119_add_4_3 2 23 1 #SB_CARRY
set_location blink_counter_119_add_4_2_lut 2 23 0 #SB_LUT4
set_location blink_counter_119_add_4_27_lut 2 26 1 #SB_LUT4
set_location blink_counter_119_add_4_26_lut 2 26 0 #SB_LUT4
set_location blink_counter_119_add_4_26 2 26 0 #SB_CARRY
set_location blink_counter_119_add_4_25_lut 2 25 7 #SB_LUT4
set_location blink_counter_119_add_4_25 2 25 7 #SB_CARRY
set_location blink_counter_119_add_4_24_lut 2 25 6 #SB_LUT4
set_location blink_counter_119_add_4_24 2 25 6 #SB_CARRY
set_location blink_counter_119_add_4_23_lut 2 25 5 #SB_LUT4
set_location blink_counter_119_add_4_23 2 25 5 #SB_CARRY
set_location blink_counter_119_add_4_22_lut 2 25 4 #SB_LUT4
set_location blink_counter_119_add_4_22 2 25 4 #SB_CARRY
set_location blink_counter_119_add_4_21_lut 2 25 3 #SB_LUT4
set_location blink_counter_119_add_4_21 2 25 3 #SB_CARRY
set_location blink_counter_119_add_4_20_lut 2 25 2 #SB_LUT4
set_location blink_counter_119_add_4_20 2 25 2 #SB_CARRY
set_location blink_counter_119_add_4_2 2 23 0 #SB_CARRY
set_location blink_counter_119_add_4_19_lut 2 25 1 #SB_LUT4
set_location blink_counter_119_add_4_19 2 25 1 #SB_CARRY
set_location blink_counter_119_add_4_18_lut 2 25 0 #SB_LUT4
set_location blink_counter_119_add_4_18 2 25 0 #SB_CARRY
set_location blink_counter_119_add_4_17_lut 2 24 7 #SB_LUT4
set_location blink_counter_119_add_4_17 2 24 7 #SB_CARRY
set_location blink_counter_119_add_4_16_lut 2 24 6 #SB_LUT4
set_location blink_counter_119_add_4_16 2 24 6 #SB_CARRY
set_location blink_counter_119_add_4_15_lut 2 24 5 #SB_LUT4
set_location blink_counter_119_add_4_15 2 24 5 #SB_CARRY
set_location blink_counter_119_add_4_14_lut 2 24 4 #SB_LUT4
set_location blink_counter_119_add_4_14 2 24 4 #SB_CARRY
set_location blink_counter_119_add_4_13_lut 2 24 3 #SB_LUT4
set_location blink_counter_119_add_4_13 2 24 3 #SB_CARRY
set_location blink_counter_119_add_4_12_lut 2 24 2 #SB_LUT4
set_location blink_counter_119_add_4_12 2 24 2 #SB_CARRY
set_location blink_counter_119_add_4_11_lut 2 24 1 #SB_LUT4
set_location blink_counter_119_add_4_11 2 24 1 #SB_CARRY
set_location blink_counter_119_add_4_10_lut 2 24 0 #SB_LUT4
set_location blink_counter_119_add_4_10 2 24 0 #SB_CARRY
set_location blink_counter_119__i9 2 24 1 #SB_DFF
set_location blink_counter_119__i8 2 24 0 #SB_DFF
set_location blink_counter_119__i7 2 23 7 #SB_DFF
set_location blink_counter_119__i6 2 23 6 #SB_DFF
set_location blink_counter_119__i5 2 23 5 #SB_DFF
set_location blink_counter_119__i4 2 23 4 #SB_DFF
set_location blink_counter_119__i3 2 23 3 #SB_DFF
set_location blink_counter_119__i25 2 26 1 #SB_DFF
set_location blink_counter_119__i24 2 26 0 #SB_DFF
set_location blink_counter_119__i23 2 25 7 #SB_DFF
set_location blink_counter_119__i22 2 25 6 #SB_DFF
set_location blink_counter_119__i21 2 25 5 #SB_DFF
set_location blink_counter_119__i20 2 25 4 #SB_DFF
set_location blink_counter_119__i2 2 23 2 #SB_DFF
set_location blink_counter_119__i19 2 25 3 #SB_DFF
set_location blink_counter_119__i18 2 25 2 #SB_DFF
set_location blink_counter_119__i17 2 25 1 #SB_DFF
set_location blink_counter_119__i16 2 25 0 #SB_DFF
set_location blink_counter_119__i15 2 24 7 #SB_DFF
set_location blink_counter_119__i14 2 24 6 #SB_DFF
set_location blink_counter_119__i13 2 24 5 #SB_DFF
set_location blink_counter_119__i12 2 24 4 #SB_DFF
set_location blink_counter_119__i11 2 24 3 #SB_DFF
set_location blink_counter_119__i10 2 24 2 #SB_DFF
set_location blink_counter_119__i1 2 23 1 #SB_DFF
set_location blink_counter_119__i0 2 23 0 #SB_DFF
set_io PIN_2 A1
set_io PIN_18 A9
set_io PIN_13 H2
set_io LED B3
set_io CLK B2
