set_location IN_MUX_bfv_3_23_0_ 3 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_24_0_ 3 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_25_0_ 3 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_26_0_ 3 26 0 #ICE_CARRY_IN_MUX
set_location i56_3_lut 4 25 2 #SB_LUT4
set_location i55_4_lut 4 25 1 #SB_LUT4
set_location i54_4_lut 4 25 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location blink_counter_14_add_4_9_lut 3 23 7 #SB_LUT4
set_location blink_counter_14_add_4_9 3 23 7 #SB_CARRY
set_location blink_counter_14_add_4_8_lut 3 23 6 #SB_LUT4
set_location blink_counter_14_add_4_8 3 23 6 #SB_CARRY
set_location blink_counter_14_add_4_7_lut 3 23 5 #SB_LUT4
set_location blink_counter_14_add_4_7 3 23 5 #SB_CARRY
set_location blink_counter_14_add_4_6_lut 3 23 4 #SB_LUT4
set_location blink_counter_14_add_4_6 3 23 4 #SB_CARRY
set_location blink_counter_14_add_4_5_lut 3 23 3 #SB_LUT4
set_location blink_counter_14_add_4_5 3 23 3 #SB_CARRY
set_location blink_counter_14_add_4_4_lut 3 23 2 #SB_LUT4
set_location blink_counter_14_add_4_4 3 23 2 #SB_CARRY
set_location blink_counter_14_add_4_3_lut 3 23 1 #SB_LUT4
set_location blink_counter_14_add_4_3 3 23 1 #SB_CARRY
set_location blink_counter_14_add_4_2_lut 3 23 0 #SB_LUT4
set_location blink_counter_14_add_4_27_lut 3 26 1 #SB_LUT4
set_location blink_counter_14_add_4_26_lut 3 26 0 #SB_LUT4
set_location blink_counter_14_add_4_26 3 26 0 #SB_CARRY
set_location blink_counter_14_add_4_25_lut 3 25 7 #SB_LUT4
set_location blink_counter_14_add_4_25 3 25 7 #SB_CARRY
set_location blink_counter_14_add_4_24_lut 3 25 6 #SB_LUT4
set_location blink_counter_14_add_4_24 3 25 6 #SB_CARRY
set_location blink_counter_14_add_4_23_lut 3 25 5 #SB_LUT4
set_location blink_counter_14_add_4_23 3 25 5 #SB_CARRY
set_location blink_counter_14_add_4_22_lut 3 25 4 #SB_LUT4
set_location blink_counter_14_add_4_22 3 25 4 #SB_CARRY
set_location blink_counter_14_add_4_21_lut 3 25 3 #SB_LUT4
set_location blink_counter_14_add_4_21 3 25 3 #SB_CARRY
set_location blink_counter_14_add_4_20_lut 3 25 2 #SB_LUT4
set_location blink_counter_14_add_4_20 3 25 2 #SB_CARRY
set_location blink_counter_14_add_4_2 3 23 0 #SB_CARRY
set_location blink_counter_14_add_4_19_lut 3 25 1 #SB_LUT4
set_location blink_counter_14_add_4_19 3 25 1 #SB_CARRY
set_location blink_counter_14_add_4_18_lut 3 25 0 #SB_LUT4
set_location blink_counter_14_add_4_18 3 25 0 #SB_CARRY
set_location blink_counter_14_add_4_17_lut 3 24 7 #SB_LUT4
set_location blink_counter_14_add_4_17 3 24 7 #SB_CARRY
set_location blink_counter_14_add_4_16_lut 3 24 6 #SB_LUT4
set_location blink_counter_14_add_4_16 3 24 6 #SB_CARRY
set_location blink_counter_14_add_4_15_lut 3 24 5 #SB_LUT4
set_location blink_counter_14_add_4_15 3 24 5 #SB_CARRY
set_location blink_counter_14_add_4_14_lut 3 24 4 #SB_LUT4
set_location blink_counter_14_add_4_14 3 24 4 #SB_CARRY
set_location blink_counter_14_add_4_13_lut 3 24 3 #SB_LUT4
set_location blink_counter_14_add_4_13 3 24 3 #SB_CARRY
set_location blink_counter_14_add_4_12_lut 3 24 2 #SB_LUT4
set_location blink_counter_14_add_4_12 3 24 2 #SB_CARRY
set_location blink_counter_14_add_4_11_lut 3 24 1 #SB_LUT4
set_location blink_counter_14_add_4_11 3 24 1 #SB_CARRY
set_location blink_counter_14_add_4_10_lut 3 24 0 #SB_LUT4
set_location blink_counter_14_add_4_10 3 24 0 #SB_CARRY
set_location blink_counter_14__i9 3 24 1 #SB_DFF
set_location blink_counter_14__i8 3 24 0 #SB_DFF
set_location blink_counter_14__i7 3 23 7 #SB_DFF
set_location blink_counter_14__i6 3 23 6 #SB_DFF
set_location blink_counter_14__i5 3 23 5 #SB_DFF
set_location blink_counter_14__i4 3 23 4 #SB_DFF
set_location blink_counter_14__i3 3 23 3 #SB_DFF
set_location blink_counter_14__i25 3 26 1 #SB_DFF
set_location blink_counter_14__i24 3 26 0 #SB_DFF
set_location blink_counter_14__i23 3 25 7 #SB_DFF
set_location blink_counter_14__i22 3 25 6 #SB_DFF
set_location blink_counter_14__i21 3 25 5 #SB_DFF
set_location blink_counter_14__i20 3 25 4 #SB_DFF
set_location blink_counter_14__i2 3 23 2 #SB_DFF
set_location blink_counter_14__i19 3 25 3 #SB_DFF
set_location blink_counter_14__i18 3 25 2 #SB_DFF
set_location blink_counter_14__i17 3 25 1 #SB_DFF
set_location blink_counter_14__i16 3 25 0 #SB_DFF
set_location blink_counter_14__i15 3 24 7 #SB_DFF
set_location blink_counter_14__i14 3 24 6 #SB_DFF
set_location blink_counter_14__i13 3 24 5 #SB_DFF
set_location blink_counter_14__i12 3 24 4 #SB_DFF
set_location blink_counter_14__i11 3 24 3 #SB_DFF
set_location blink_counter_14__i10 3 24 2 #SB_DFF
set_location blink_counter_14__i1 3 23 1 #SB_DFF
set_location blink_counter_14__i0 3 23 0 #SB_DFF
set_io PIN_18 A9
set_io PIN_13 H2
set_io LED B3
set_io CLK B2
