set_location IN_MUX_bfv_15_19_0_ 15 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_20_0_ 15 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_16_0_ 14 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_17_0_ 15 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_17_0_ 13 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_18_0_ 13 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_19_0_ 13 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_20_0_ 13 20 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 14 17 3 #SB_LUT4
set_location tli.state_i1 16 18 7 #SB_DFFNESR
set_location tli.state_i0 16 18 2 #SB_DFFNESS
set_location tli.spi_clk_I_0_i1_3_lut 17 17 2 #SB_LUT4
set_location tli.slave_select_65 17 17 7 #SB_DFFN
set_location tli.mux_149_i2_3_lut 16 18 7 #SB_LUT4
set_location tli.i7_4_lut 16 18 1 #SB_LUT4
set_location tli.i6_4_lut 15 18 4 #SB_LUT4
set_location tli.i3_4_lut_adj_3 16 20 0 #SB_LUT4
set_location tli.i3_4_lut_adj_2 16 19 1 #SB_LUT4
set_location tli.i3_4_lut 16 19 0 #SB_LUT4
set_location tli.i347_4_lut_4_lut 17 18 6 #SB_LUT4
set_location tli.i344_2_lut 16 18 2 #SB_LUT4
set_location tli.i2_2_lut_adj_5 16 17 2 #SB_LUT4
set_location tli.i2_2_lut_adj_4 15 16 3 #SB_LUT4
set_location tli.i2_2_lut 16 19 5 #SB_LUT4
set_location tli.i250_3_lut_3_lut 17 17 7 #SB_LUT4
set_location tli.i246_2_lut_3_lut_2_lut 16 18 4 #SB_LUT4
set_location tli.i244_2_lut_4_lut 16 19 7 #SB_LUT4
set_location tli.i235_2_lut 16 18 5 #SB_LUT4
set_location tli.i1_2_lut_4_lut 16 19 4 #SB_LUT4
set_location tli.i159_4_lut 16 20 1 #SB_LUT4
set_location tli.i154_4_lut 15 16 4 #SB_LUT4
set_location tli.i121_1_lut 16 18 6 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_9_lut 15 19 7 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_9 15 19 7 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_8_lut 15 19 6 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_8 15 19 6 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_7_lut 15 19 5 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_7 15 19 5 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_6_lut 15 19 4 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_6 15 19 4 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_5_lut 15 19 3 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_5 15 19 3 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_4_lut 15 19 2 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_4 15 19 2 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_3_lut 15 19 1 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_3 15 19 1 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_2_lut 15 19 0 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_2 15 19 0 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_15_lut 15 20 5 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_14_lut 15 20 4 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_14 15 20 4 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_13_lut 15 20 3 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_13 15 20 3 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_12_lut 15 20 2 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_12 15 20 2 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_11_lut 15 20 1 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_11 15 20 1 #SB_CARRY
set_location tli.delay_counter_132_133_add_4_10_lut 15 20 0 #SB_LUT4
set_location tli.delay_counter_132_133_add_4_10 15 20 0 #SB_CARRY
set_location tli.delay_counter_132_133__i9 15 20 0 #SB_DFFNSR
set_location tli.delay_counter_132_133__i8 15 19 7 #SB_DFFNSR
set_location tli.delay_counter_132_133__i7 15 19 6 #SB_DFFNSR
set_location tli.delay_counter_132_133__i6 15 19 5 #SB_DFFNSR
set_location tli.delay_counter_132_133__i5 15 19 4 #SB_DFFNSR
set_location tli.delay_counter_132_133__i4 15 19 3 #SB_DFFNSR
set_location tli.delay_counter_132_133__i3 15 19 2 #SB_DFFNSR
set_location tli.delay_counter_132_133__i2 15 19 1 #SB_DFFNSR
set_location tli.delay_counter_132_133__i14 15 20 5 #SB_DFFNSR
set_location tli.delay_counter_132_133__i13 15 20 4 #SB_DFFNSR
set_location tli.delay_counter_132_133__i12 15 20 3 #SB_DFFNSR
set_location tli.delay_counter_132_133__i11 15 20 2 #SB_DFFNSR
set_location tli.delay_counter_132_133__i10 15 20 1 #SB_DFFNSR
set_location tli.delay_counter_132_133__i1 15 19 0 #SB_DFFNSR
set_location tli.counter_135_136_add_4_6_lut 14 16 4 #SB_LUT4
set_location tli.counter_135_136_add_4_5_lut 14 16 3 #SB_LUT4
set_location tli.counter_135_136_add_4_5 14 16 3 #SB_CARRY
set_location tli.counter_135_136_add_4_4_lut 14 16 2 #SB_LUT4
set_location tli.counter_135_136_add_4_4 14 16 2 #SB_CARRY
set_location tli.counter_135_136_add_4_3_lut 14 16 1 #SB_LUT4
set_location tli.counter_135_136_add_4_3 14 16 1 #SB_CARRY
set_location tli.counter_135_136_add_4_2_lut 14 16 0 #SB_LUT4
set_location tli.counter_135_136_add_4_2 14 16 0 #SB_CARRY
set_location tli.counter_135_136__i5 14 16 4 #SB_DFFSR
set_location tli.counter_135_136__i4 14 16 3 #SB_DFFSR
set_location tli.counter_135_136__i3 14 16 2 #SB_DFFSR
set_location tli.counter_135_136__i2 14 16 1 #SB_DFFSR
set_location tli.counter_135_136__i1 14 16 0 #SB_DFFSR
set_location tli.clk_slow_I_0_71_2_lut 15 16 5 #SB_LUT4
set_location tli.clk_slow_62 15 16 5 #SB_DFF
set_location tli.clk_out_66 17 18 6 #SB_DFFN
set_location tli.bit_counter_134_mux_6_i4_3_lut 16 17 1 #SB_LUT4
set_location tli.bit_counter_134_mux_6_i3_3_lut 16 17 0 #SB_LUT4
set_location tli.bit_counter_134_mux_6_i2_3_lut 15 18 6 #SB_LUT4
set_location tli.bit_counter_134_mux_6_i1_4_lut_3_lut 15 18 5 #SB_LUT4
set_location tli.bit_counter_134_add_4_9_lut 15 17 7 #SB_LUT4
set_location tli.bit_counter_134_add_4_8_lut 15 17 6 #SB_LUT4
set_location tli.bit_counter_134_add_4_8 15 17 6 #SB_CARRY
set_location tli.bit_counter_134_add_4_7_lut 15 17 5 #SB_LUT4
set_location tli.bit_counter_134_add_4_7 15 17 5 #SB_CARRY
set_location tli.bit_counter_134_add_4_6_lut 15 17 4 #SB_LUT4
set_location tli.bit_counter_134_add_4_6 15 17 4 #SB_CARRY
set_location tli.bit_counter_134_add_4_5_lut 15 17 3 #SB_LUT4
set_location tli.bit_counter_134_add_4_5 15 17 3 #SB_CARRY
set_location tli.bit_counter_134_add_4_4_lut 15 17 2 #SB_LUT4
set_location tli.bit_counter_134_add_4_4 15 17 2 #SB_CARRY
set_location tli.bit_counter_134_add_4_3_lut 15 17 1 #SB_LUT4
set_location tli.bit_counter_134_add_4_3 15 17 1 #SB_CARRY
set_location tli.bit_counter_134_add_4_2_lut 15 17 0 #SB_LUT4
set_location tli.bit_counter_134_add_4_2 15 17 0 #SB_CARRY
set_location tli.bit_counter_134__i7 15 17 7 #SB_DFFNESR
set_location tli.bit_counter_134__i6 15 17 6 #SB_DFFNESR
set_location tli.bit_counter_134__i5 15 17 5 #SB_DFFNESR
set_location tli.bit_counter_134__i4 15 17 4 #SB_DFFNESR
set_location tli.bit_counter_134__i3 16 17 1 #SB_DFFNE
set_location tli.bit_counter_134__i2 16 17 0 #SB_DFFNE
set_location tli.bit_counter_134__i1 15 18 6 #SB_DFFNE
set_location tli.bit_counter_134__i0 15 18 5 #SB_DFFNE
set_location i325_3_lut 12 20 2 #SB_LUT4
set_location i324_4_lut 12 19 3 #SB_LUT4
set_location i323_4_lut 12 19 2 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location blink_counter_131_add_4_9_lut 13 17 7 #SB_LUT4
set_location blink_counter_131_add_4_9 13 17 7 #SB_CARRY
set_location blink_counter_131_add_4_8_lut 13 17 6 #SB_LUT4
set_location blink_counter_131_add_4_8 13 17 6 #SB_CARRY
set_location blink_counter_131_add_4_7_lut 13 17 5 #SB_LUT4
set_location blink_counter_131_add_4_7 13 17 5 #SB_CARRY
set_location blink_counter_131_add_4_6_lut 13 17 4 #SB_LUT4
set_location blink_counter_131_add_4_6 13 17 4 #SB_CARRY
set_location blink_counter_131_add_4_5_lut 13 17 3 #SB_LUT4
set_location blink_counter_131_add_4_5 13 17 3 #SB_CARRY
set_location blink_counter_131_add_4_4_lut 13 17 2 #SB_LUT4
set_location blink_counter_131_add_4_4 13 17 2 #SB_CARRY
set_location blink_counter_131_add_4_3_lut 13 17 1 #SB_LUT4
set_location blink_counter_131_add_4_3 13 17 1 #SB_CARRY
set_location blink_counter_131_add_4_2_lut 13 17 0 #SB_LUT4
set_location blink_counter_131_add_4_27_lut 13 20 1 #SB_LUT4
set_location blink_counter_131_add_4_26_lut 13 20 0 #SB_LUT4
set_location blink_counter_131_add_4_26 13 20 0 #SB_CARRY
set_location blink_counter_131_add_4_25_lut 13 19 7 #SB_LUT4
set_location blink_counter_131_add_4_25 13 19 7 #SB_CARRY
set_location blink_counter_131_add_4_24_lut 13 19 6 #SB_LUT4
set_location blink_counter_131_add_4_24 13 19 6 #SB_CARRY
set_location blink_counter_131_add_4_23_lut 13 19 5 #SB_LUT4
set_location blink_counter_131_add_4_23 13 19 5 #SB_CARRY
set_location blink_counter_131_add_4_22_lut 13 19 4 #SB_LUT4
set_location blink_counter_131_add_4_22 13 19 4 #SB_CARRY
set_location blink_counter_131_add_4_21_lut 13 19 3 #SB_LUT4
set_location blink_counter_131_add_4_21 13 19 3 #SB_CARRY
set_location blink_counter_131_add_4_20_lut 13 19 2 #SB_LUT4
set_location blink_counter_131_add_4_20 13 19 2 #SB_CARRY
set_location blink_counter_131_add_4_2 13 17 0 #SB_CARRY
set_location blink_counter_131_add_4_19_lut 13 19 1 #SB_LUT4
set_location blink_counter_131_add_4_19 13 19 1 #SB_CARRY
set_location blink_counter_131_add_4_18_lut 13 19 0 #SB_LUT4
set_location blink_counter_131_add_4_18 13 19 0 #SB_CARRY
set_location blink_counter_131_add_4_17_lut 13 18 7 #SB_LUT4
set_location blink_counter_131_add_4_17 13 18 7 #SB_CARRY
set_location blink_counter_131_add_4_16_lut 13 18 6 #SB_LUT4
set_location blink_counter_131_add_4_16 13 18 6 #SB_CARRY
set_location blink_counter_131_add_4_15_lut 13 18 5 #SB_LUT4
set_location blink_counter_131_add_4_15 13 18 5 #SB_CARRY
set_location blink_counter_131_add_4_14_lut 13 18 4 #SB_LUT4
set_location blink_counter_131_add_4_14 13 18 4 #SB_CARRY
set_location blink_counter_131_add_4_13_lut 13 18 3 #SB_LUT4
set_location blink_counter_131_add_4_13 13 18 3 #SB_CARRY
set_location blink_counter_131_add_4_12_lut 13 18 2 #SB_LUT4
set_location blink_counter_131_add_4_12 13 18 2 #SB_CARRY
set_location blink_counter_131_add_4_11_lut 13 18 1 #SB_LUT4
set_location blink_counter_131_add_4_11 13 18 1 #SB_CARRY
set_location blink_counter_131_add_4_10_lut 13 18 0 #SB_LUT4
set_location blink_counter_131_add_4_10 13 18 0 #SB_CARRY
set_location blink_counter_131__i9 13 18 1 #SB_DFF
set_location blink_counter_131__i8 13 18 0 #SB_DFF
set_location blink_counter_131__i7 13 17 7 #SB_DFF
set_location blink_counter_131__i6 13 17 6 #SB_DFF
set_location blink_counter_131__i5 13 17 5 #SB_DFF
set_location blink_counter_131__i4 13 17 4 #SB_DFF
set_location blink_counter_131__i3 13 17 3 #SB_DFF
set_location blink_counter_131__i25 13 20 1 #SB_DFF
set_location blink_counter_131__i24 13 20 0 #SB_DFF
set_location blink_counter_131__i23 13 19 7 #SB_DFF
set_location blink_counter_131__i22 13 19 6 #SB_DFF
set_location blink_counter_131__i21 13 19 5 #SB_DFF
set_location blink_counter_131__i20 13 19 4 #SB_DFF
set_location blink_counter_131__i2 13 17 2 #SB_DFF
set_location blink_counter_131__i19 13 19 3 #SB_DFF
set_location blink_counter_131__i18 13 19 2 #SB_DFF
set_location blink_counter_131__i17 13 19 1 #SB_DFF
set_location blink_counter_131__i16 13 19 0 #SB_DFF
set_location blink_counter_131__i15 13 18 7 #SB_DFF
set_location blink_counter_131__i14 13 18 6 #SB_DFF
set_location blink_counter_131__i13 13 18 5 #SB_DFF
set_location blink_counter_131__i12 13 18 4 #SB_DFF
set_location blink_counter_131__i11 13 18 3 #SB_DFF
set_location blink_counter_131__i10 13 18 2 #SB_DFF
set_location blink_counter_131__i1 13 17 1 #SB_DFF
set_location blink_counter_131__i0 13 17 0 #SB_DFF
set_io USBPU A3
set_io TX J1
set_io NEOPXL E2
set_io LED B3
set_io INLC B8
set_io INLB B7
set_io INLA B6
set_io INHC A8
set_io INHB A7
set_io INHA A6
set_io HALL3 B1
set_io HALL2 C1
set_io HALL1 C2
set_io DE H1
set_io CS_CLK G9
set_io CS D8
set_io CLK B2
