set_location IN_MUX_bfv_22_11_0_ 22 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_21_8_0_ 21 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_13_0_ 19 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_14_0_ 19 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_17_0_ 19 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_18_0_ 19 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_19_0_ 19 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_20_0_ 19 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_13_0_ 23 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_14_0_ 23 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_15_0_ 23 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_16_0_ 23 16 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 23 11 0 #SB_LUT4
set_location eeprom.i2c.i1197_4_lut_eeprom.enable_39_REP_LUT4_0 20 12 2 #SB_LUT4
set_location eeprom.i2c.state_i0_i0 23 9 6 #SB_DFF
set_location read_26 21 14 4 #SB_DFF
set_location i9_4_lut 22 16 2 #SB_LUT4
set_location i999_2_lut 22 14 1 #SB_LUT4
set_location i8_4_lut 22 14 5 #SB_LUT4
set_location i7_4_lut 21 12 7 #SB_LUT4
set_location i6_4_lut_adj_13 22 13 0 #SB_LUT4
set_location i6_4_lut 22 12 0 #SB_LUT4
set_location i5_4_lut 22 13 4 #SB_LUT4
set_location i528_3_lut 22 13 5 #SB_LUT4
set_location i524_4_lut 22 14 4 #SB_LUT4
set_location i3_4_lut_adj_14 22 13 7 #SB_LUT4
set_location i3_4_lut 22 13 6 #SB_LUT4
set_location i2_2_lut 21 12 6 #SB_LUT4
set_location i24_3_lut 21 15 7 #SB_LUT4
set_location i2009_2_lut_3_lut 21 14 0 #SB_LUT4
set_location i2001_4_lut_4_lut 21 15 2 #SB_LUT4
set_location i1_2_lut 21 14 2 #SB_LUT4
set_location i1995_2_lut 21 14 4 #SB_LUT4
set_location i1973_3_lut 23 11 4 #SB_LUT4
set_location i1942_3_lut 18 19 4 #SB_LUT4
set_location i1941_4_lut 18 19 3 #SB_LUT4
set_location i1940_4_lut 18 19 5 #SB_LUT4
set_location i1844_2_lut_3_lut 21 15 6 #SB_LUT4
set_location i16_4_lut 23 9 6 #SB_LUT4
set_location i1547_2_lut_3_lut_4_lut 21 15 3 #SB_LUT4
set_location i1504_4_lut 22 14 7 #SB_LUT4
set_location i12_4_lut 21 15 4 #SB_LUT4
set_location i11_3_lut 22 14 6 #SB_LUT4
set_location i10_4_lut 22 15 5 #SB_LUT4
set_location i1064_4_lut 22 12 5 #SB_LUT4
set_location i1063_4_lut 21 11 1 #SB_LUT4
set_location i1062_4_lut 22 12 3 #SB_LUT4
set_location i1061_4_lut 22 12 6 #SB_LUT4
set_location i1060_4_lut 22 12 2 #SB_LUT4
set_location i1056_4_lut 21 12 1 #SB_LUT4
set_location i1055_4_lut 21 12 5 #SB_LUT4
set_location i1054_4_lut 21 11 0 #SB_LUT4
set_location i1045_4_lut 21 14 6 #SB_LUT4
set_location i1043_4_lut 23 11 7 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location eeprom.state__i1 21 13 0 #SB_DFF
set_location eeprom.state__i0 21 13 3 #SB_DFF
set_location eeprom.rw_43 21 14 6 #SB_DFF
set_location eeprom.i9_4_lut 20 14 1 #SB_LUT4
set_location eeprom.i3_4_lut 21 13 6 #SB_LUT4
set_location eeprom.i2c.write_enable_130 24 8 4 #SB_DFFNESS
set_location eeprom.i2c.sub_39_add_2_9_lut 22 11 7 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_8_lut 22 11 6 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_8 22 11 6 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_7_lut 22 11 5 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_7 22 11 5 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_6_lut 22 11 4 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_6 22 11 4 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_5_lut 22 11 3 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_5 22 11 3 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_4_lut 22 11 2 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_4 22 11 2 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_3_lut 22 11 1 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_3 22 11 1 #SB_CARRY
set_location eeprom.i2c.sub_39_add_2_2_lut 23 8 0 #SB_LUT4
set_location eeprom.i2c.sub_39_add_2_2 22 11 0 #SB_CARRY
set_location eeprom.i2c.state_i0_i3 21 10 2 #SB_DFFESS
set_location eeprom.i2c.state_i0_i2 22 10 1 #SB_DFFESS
set_location eeprom.i2c.state_i0_i1 23 10 0 #SB_DFFESS
set_location eeprom.i2c.state_7__I_0_144_i11_2_lut_4_lut 24 10 4 #SB_LUT4
set_location eeprom.i2c.state_7__I_0_143_i11_2_lut_3_lut_4_lut 22 10 4 #SB_LUT4
set_location eeprom.i2c.state_7__I_0_140_i10_2_lut 21 9 1 #SB_LUT4
set_location eeprom.i2c.state_7__I_0_139_i11_2_lut_3_lut_4_lut 24 9 0 #SB_LUT4
set_location eeprom.i2c.state_7__I_0_138_i11_2_lut_3_lut_4_lut 24 9 6 #SB_LUT4
set_location eeprom.i2c.sda_out_131 24 10 0 #SB_DFFNE
set_location eeprom.i2c.saved_addr__i1 23 11 7 #SB_DFF
set_location eeprom.i2c.i83_4_lut_4_lut_4_lut 24 12 2 #SB_LUT4
set_location eeprom.i2c.i5_3_lut 22 8 6 #SB_LUT4
set_location eeprom.i2c.i56_3_lut_3_lut 22 9 1 #SB_LUT4
set_location eeprom.i2c.i4_4_lut 22 8 5 #SB_LUT4
set_location eeprom.i2c.i469_2_lut 24 7 4 #SB_LUT4
set_location eeprom.i2c.i3_4_lut_adj_8 22 9 4 #SB_LUT4
set_location eeprom.i2c.i3_4_lut 22 9 3 #SB_LUT4
set_location eeprom.i2c.i2c_scl_enable_123 24 12 2 #SB_DFFN
set_location eeprom.i2c.i2c_clk_121 22 9 7 #SB_DFF
set_location eeprom.i2c.i22_3_lut_3_lut 22 8 2 #SB_LUT4
set_location eeprom.i2c.i2017_2_lut 24 13 6 #SB_LUT4
set_location eeprom.i2c.i2013_3_lut_4_lut 23 9 2 #SB_LUT4
set_location eeprom.i2c.i2011_3_lut_4_lut 22 10 7 #SB_LUT4
set_location eeprom.i2c.i2006_3_lut_4_lut 22 9 0 #SB_LUT4
set_location eeprom.i2c.i1_4_lut_adj_9 21 10 2 #SB_LUT4
set_location eeprom.i2c.i1_4_lut_adj_5 23 10 0 #SB_LUT4
set_location eeprom.i2c.i1_4_lut_4_lut 22 9 5 #SB_LUT4
set_location eeprom.i2c.i1_4_lut 21 13 0 #SB_LUT4
set_location eeprom.i2c.i1_3_lut_4_lut 23 9 4 #SB_LUT4
set_location eeprom.i2c.i1_3_lut_2_lut 24 9 5 #SB_LUT4
set_location eeprom.i2c.i1_3_lut 23 9 1 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_adj_7 21 12 2 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_adj_6 22 9 7 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_adj_4 20 14 7 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_adj_12 22 11 0 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_adj_11 22 10 5 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_3_lut_adj_10 23 12 0 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_3_lut_4_lut 23 11 2 #SB_LUT4
set_location eeprom.i2c.i1_2_lut_3_lut 22 8 7 #SB_LUT4
set_location eeprom.i2c.i1_2_lut 23 10 4 #SB_LUT4
set_location eeprom.i2c.i19_4_lut 21 13 3 #SB_LUT4
set_location eeprom.i2c.i1998_2_lut 22 10 1 #SB_LUT4
set_location eeprom.i2c.i1991_2_lut_3_lut 24 8 4 #SB_LUT4
set_location eeprom.i2c.i1989_4_lut_4_lut 23 9 3 #SB_LUT4
set_location eeprom.i2c.i1987_4_lut 23 9 7 #SB_LUT4
set_location eeprom.i2c.i1985_4_lut 23 9 5 #SB_LUT4
set_location eeprom.i2c.i1976_2_lut 23 11 5 #SB_LUT4
set_location eeprom.i2c.i1968_4_lut 23 11 6 #SB_LUT4
set_location eeprom.i2c.i1965_4_lut 24 10 0 #SB_LUT4
set_location eeprom.i2c.i1964_4_lut 21 9 5 #SB_LUT4
set_location eeprom.i2c.i1867_3_lut 21 13 7 #SB_LUT4
set_location eeprom.i2c.i1860_2_lut_3_lut 22 8 4 #SB_LUT4
set_location eeprom.i2c.i1856_3_lut 22 9 6 #SB_LUT4
set_location eeprom.i2c.i1849_2_lut_4_lut 22 8 1 #SB_LUT4
set_location eeprom.i2c.i17_4_lut 22 8 0 #SB_LUT4
set_location eeprom.i2c.i1536_2_lut_3_lut 23 9 0 #SB_LUT4
set_location eeprom.i2c.i1509_2_lut_3_lut_4_lut 23 11 3 #SB_LUT4
set_location eeprom.i2c.i1499_2_lut 22 12 4 #SB_LUT4
set_location eeprom.i2c.i1480_2_lut 27 18 6 #SB_LUT4
set_location eeprom.i2c.i13_4_lut 21 14 7 #SB_LUT4
set_location eeprom.i2c.i1197_4_lut 21 14 5 #SB_LUT4
set_location eeprom.i2c.equal_60_i4_2_lut 22 9 2 #SB_LUT4
set_location eeprom.i2c.equal_59_i4_2_lut 22 12 7 #SB_LUT4
set_location eeprom.i2c.equal_57_i4_2_lut 22 12 1 #SB_LUT4
set_location eeprom.i2c.equal_44_i10_2_lut 23 10 3 #SB_LUT4
set_location eeprom.i2c.equal_43_i9_2_lut 22 8 3 #SB_LUT4
set_location eeprom.i2c.equal_43_i10_2_lut 21 9 4 #SB_LUT4
set_location eeprom.i2c.enable_slow_120 24 13 6 #SB_DFFE
set_location eeprom.i2c.data_out_i0_i7 22 12 5 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i6 22 12 3 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i5 22 12 6 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i4 22 12 2 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i3 21 12 1 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i2 21 12 5 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i1 21 11 0 #SB_DFFN
set_location eeprom.i2c.data_out_i0_i0 21 11 1 #SB_DFFN
set_location eeprom.i2c.counter_i7 22 11 7 #SB_DFFESR
set_location eeprom.i2c.counter_i6 22 11 6 #SB_DFFESR
set_location eeprom.i2c.counter_i5 22 11 5 #SB_DFFESR
set_location eeprom.i2c.counter_i4 22 11 4 #SB_DFFESR
set_location eeprom.i2c.counter_i3 22 11 3 #SB_DFFESR
set_location eeprom.i2c.counter_i2 22 11 2 #SB_DFFESS
set_location eeprom.i2c.counter_i1 22 11 1 #SB_DFFESS
set_location eeprom.i2c.counter_i0 23 8 0 #SB_DFFESS
set_location eeprom.i2c.counter2_410_411_add_4_7_lut 21 8 5 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_6_lut 21 8 4 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_6 21 8 4 #SB_CARRY
set_location eeprom.i2c.counter2_410_411_add_4_5_lut 21 8 3 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_5 21 8 3 #SB_CARRY
set_location eeprom.i2c.counter2_410_411_add_4_4_lut 21 8 2 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_4 21 8 2 #SB_CARRY
set_location eeprom.i2c.counter2_410_411_add_4_3_lut 21 8 1 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_3 21 8 1 #SB_CARRY
set_location eeprom.i2c.counter2_410_411_add_4_2_lut 21 8 0 #SB_LUT4
set_location eeprom.i2c.counter2_410_411_add_4_2 21 8 0 #SB_CARRY
set_location eeprom.i2c.counter2_410_411__i6 21 8 5 #SB_DFFSR
set_location eeprom.i2c.counter2_410_411__i5 21 8 4 #SB_DFFSR
set_location eeprom.i2c.counter2_410_411__i4 21 8 3 #SB_DFFSR
set_location eeprom.i2c.counter2_410_411__i3 21 8 2 #SB_DFFSR
set_location eeprom.i2c.counter2_410_411__i2 21 8 1 #SB_DFFSR
set_location eeprom.i2c.counter2_410_411__i1 21 8 0 #SB_DFFSR
set_location eeprom.i1_4_lut_2_lut_4_lut 21 13 5 #SB_LUT4
set_location eeprom.i1_3_lut 20 14 4 #SB_LUT4
set_location eeprom.i1_2_lut_3_lut 21 13 2 #SB_LUT4
set_location eeprom.i15_4_lut 20 14 6 #SB_LUT4
set_location eeprom.i12_4_lut 20 14 5 #SB_LUT4
set_location eeprom.i11_4_lut 20 14 2 #SB_LUT4
set_location eeprom.i10_4_lut 20 13 4 #SB_LUT4
set_location eeprom.i1007_2_lut 20 13 7 #SB_LUT4
set_location eeprom.enable_39 20 12 2 #SB_DFFSR
set_location eeprom.delay_counter_i0_i9 19 14 1 #SB_DFFESS
set_location eeprom.delay_counter_i0_i8 19 14 0 #SB_DFFESS
set_location eeprom.delay_counter_i0_i7 19 13 7 #SB_DFFESS
set_location eeprom.delay_counter_i0_i6 19 13 6 #SB_DFFESS
set_location eeprom.delay_counter_i0_i5 19 13 5 #SB_DFFESR
set_location eeprom.delay_counter_i0_i4 19 13 4 #SB_DFFESS
set_location eeprom.delay_counter_i0_i3 19 13 3 #SB_DFFESR
set_location eeprom.delay_counter_i0_i2 19 13 2 #SB_DFFESR
set_location eeprom.delay_counter_i0_i15 19 14 7 #SB_DFFESR
set_location eeprom.delay_counter_i0_i14 19 14 6 #SB_DFFESR
set_location eeprom.delay_counter_i0_i13 19 14 5 #SB_DFFESR
set_location eeprom.delay_counter_i0_i12 19 14 4 #SB_DFFESR
set_location eeprom.delay_counter_i0_i11 19 14 3 #SB_DFFESR
set_location eeprom.delay_counter_i0_i10 19 14 2 #SB_DFFESS
set_location eeprom.delay_counter_i0_i1 19 13 1 #SB_DFFESR
set_location eeprom.delay_counter_i0_i0 19 13 0 #SB_DFFESR
set_location eeprom.data_ready_42 21 14 7 #SB_DFF
set_location eeprom.add_187_9_lut 19 13 7 #SB_LUT4
set_location eeprom.add_187_9 19 13 7 #SB_CARRY
set_location eeprom.add_187_8_lut 19 13 6 #SB_LUT4
set_location eeprom.add_187_8 19 13 6 #SB_CARRY
set_location eeprom.add_187_7_lut 19 13 5 #SB_LUT4
set_location eeprom.add_187_7 19 13 5 #SB_CARRY
set_location eeprom.add_187_6_lut 19 13 4 #SB_LUT4
set_location eeprom.add_187_6 19 13 4 #SB_CARRY
set_location eeprom.add_187_5_lut 19 13 3 #SB_LUT4
set_location eeprom.add_187_5 19 13 3 #SB_CARRY
set_location eeprom.add_187_4_lut 19 13 2 #SB_LUT4
set_location eeprom.add_187_4 19 13 2 #SB_CARRY
set_location eeprom.add_187_3_lut 19 13 1 #SB_LUT4
set_location eeprom.add_187_3 19 13 1 #SB_CARRY
set_location eeprom.add_187_2_lut 19 13 0 #SB_LUT4
set_location eeprom.add_187_2 19 13 0 #SB_CARRY
set_location eeprom.add_187_17_lut 19 14 7 #SB_LUT4
set_location eeprom.add_187_16_lut 19 14 6 #SB_LUT4
set_location eeprom.add_187_16 19 14 6 #SB_CARRY
set_location eeprom.add_187_15_lut 19 14 5 #SB_LUT4
set_location eeprom.add_187_15 19 14 5 #SB_CARRY
set_location eeprom.add_187_14_lut 19 14 4 #SB_LUT4
set_location eeprom.add_187_14 19 14 4 #SB_CARRY
set_location eeprom.add_187_13_lut 19 14 3 #SB_LUT4
set_location eeprom.add_187_13 19 14 3 #SB_CARRY
set_location eeprom.add_187_12_lut 19 14 2 #SB_LUT4
set_location eeprom.add_187_12 19 14 2 #SB_CARRY
set_location eeprom.add_187_11_lut 19 14 1 #SB_LUT4
set_location eeprom.add_187_11 19 14 1 #SB_CARRY
set_location eeprom.add_187_10_lut 19 14 0 #SB_LUT4
set_location eeprom.add_187_10 19 14 0 #SB_CARRY
set_location delay_counter_i9 23 14 1 #SB_DFFESR
set_location delay_counter_i8 23 14 0 #SB_DFFESR
set_location delay_counter_i7 23 13 7 #SB_DFFESR
set_location delay_counter_i6 23 13 6 #SB_DFFESR
set_location delay_counter_i5 23 13 5 #SB_DFFESR
set_location delay_counter_i4 23 13 4 #SB_DFFESR
set_location delay_counter_i31 23 16 7 #SB_DFFESR
set_location delay_counter_i30 23 16 6 #SB_DFFESR
set_location delay_counter_i3 23 13 3 #SB_DFFESR
set_location delay_counter_i29 23 16 5 #SB_DFFESR
set_location delay_counter_i28 23 16 4 #SB_DFFESR
set_location delay_counter_i27 23 16 3 #SB_DFFESR
set_location delay_counter_i26 23 16 2 #SB_DFFESR
set_location delay_counter_i25 23 16 1 #SB_DFFESR
set_location delay_counter_i24 23 16 0 #SB_DFFESR
set_location delay_counter_i23 23 15 7 #SB_DFFESR
set_location delay_counter_i22 23 15 6 #SB_DFFESR
set_location delay_counter_i21 23 15 5 #SB_DFFESR
set_location delay_counter_i20 23 15 4 #SB_DFFESR
set_location delay_counter_i2 23 13 2 #SB_DFFESR
set_location delay_counter_i19 23 15 3 #SB_DFFESR
set_location delay_counter_i18 23 15 2 #SB_DFFESR
set_location delay_counter_i17 23 15 1 #SB_DFFESR
set_location delay_counter_i16 23 15 0 #SB_DFFESR
set_location delay_counter_i15 23 14 7 #SB_DFFESR
set_location delay_counter_i14 23 14 6 #SB_DFFESR
set_location delay_counter_i13 23 14 5 #SB_DFFESR
set_location delay_counter_i12 23 14 4 #SB_DFFESR
set_location delay_counter_i11 23 14 3 #SB_DFFESR
set_location delay_counter_i10 23 14 2 #SB_DFFESR
set_location delay_counter_i1 23 13 1 #SB_DFFESR
set_location delay_counter_i0 23 13 0 #SB_DFFESR
set_location blink_counter_409_add_4_9_lut 19 17 7 #SB_LUT4
set_location blink_counter_409_add_4_9 19 17 7 #SB_CARRY
set_location blink_counter_409_add_4_8_lut 19 17 6 #SB_LUT4
set_location blink_counter_409_add_4_8 19 17 6 #SB_CARRY
set_location blink_counter_409_add_4_7_lut 19 17 5 #SB_LUT4
set_location blink_counter_409_add_4_7 19 17 5 #SB_CARRY
set_location blink_counter_409_add_4_6_lut 19 17 4 #SB_LUT4
set_location blink_counter_409_add_4_6 19 17 4 #SB_CARRY
set_location blink_counter_409_add_4_5_lut 19 17 3 #SB_LUT4
set_location blink_counter_409_add_4_5 19 17 3 #SB_CARRY
set_location blink_counter_409_add_4_4_lut 19 17 2 #SB_LUT4
set_location blink_counter_409_add_4_4 19 17 2 #SB_CARRY
set_location blink_counter_409_add_4_3_lut 19 17 1 #SB_LUT4
set_location blink_counter_409_add_4_3 19 17 1 #SB_CARRY
set_location blink_counter_409_add_4_2_lut 19 17 0 #SB_LUT4
set_location blink_counter_409_add_4_27_lut 19 20 1 #SB_LUT4
set_location blink_counter_409_add_4_26_lut 19 20 0 #SB_LUT4
set_location blink_counter_409_add_4_26 19 20 0 #SB_CARRY
set_location blink_counter_409_add_4_25_lut 19 19 7 #SB_LUT4
set_location blink_counter_409_add_4_25 19 19 7 #SB_CARRY
set_location blink_counter_409_add_4_24_lut 19 19 6 #SB_LUT4
set_location blink_counter_409_add_4_24 19 19 6 #SB_CARRY
set_location blink_counter_409_add_4_23_lut 19 19 5 #SB_LUT4
set_location blink_counter_409_add_4_23 19 19 5 #SB_CARRY
set_location blink_counter_409_add_4_22_lut 19 19 4 #SB_LUT4
set_location blink_counter_409_add_4_22 19 19 4 #SB_CARRY
set_location blink_counter_409_add_4_21_lut 19 19 3 #SB_LUT4
set_location blink_counter_409_add_4_21 19 19 3 #SB_CARRY
set_location blink_counter_409_add_4_20_lut 19 19 2 #SB_LUT4
set_location blink_counter_409_add_4_20 19 19 2 #SB_CARRY
set_location blink_counter_409_add_4_2 19 17 0 #SB_CARRY
set_location blink_counter_409_add_4_19_lut 19 19 1 #SB_LUT4
set_location blink_counter_409_add_4_19 19 19 1 #SB_CARRY
set_location blink_counter_409_add_4_18_lut 19 19 0 #SB_LUT4
set_location blink_counter_409_add_4_18 19 19 0 #SB_CARRY
set_location blink_counter_409_add_4_17_lut 19 18 7 #SB_LUT4
set_location blink_counter_409_add_4_17 19 18 7 #SB_CARRY
set_location blink_counter_409_add_4_16_lut 19 18 6 #SB_LUT4
set_location blink_counter_409_add_4_16 19 18 6 #SB_CARRY
set_location blink_counter_409_add_4_15_lut 19 18 5 #SB_LUT4
set_location blink_counter_409_add_4_15 19 18 5 #SB_CARRY
set_location blink_counter_409_add_4_14_lut 19 18 4 #SB_LUT4
set_location blink_counter_409_add_4_14 19 18 4 #SB_CARRY
set_location blink_counter_409_add_4_13_lut 19 18 3 #SB_LUT4
set_location blink_counter_409_add_4_13 19 18 3 #SB_CARRY
set_location blink_counter_409_add_4_12_lut 19 18 2 #SB_LUT4
set_location blink_counter_409_add_4_12 19 18 2 #SB_CARRY
set_location blink_counter_409_add_4_11_lut 19 18 1 #SB_LUT4
set_location blink_counter_409_add_4_11 19 18 1 #SB_CARRY
set_location blink_counter_409_add_4_10_lut 19 18 0 #SB_LUT4
set_location blink_counter_409_add_4_10 19 18 0 #SB_CARRY
set_location blink_counter_409__i9 19 18 1 #SB_DFF
set_location blink_counter_409__i8 19 18 0 #SB_DFF
set_location blink_counter_409__i7 19 17 7 #SB_DFF
set_location blink_counter_409__i6 19 17 6 #SB_DFF
set_location blink_counter_409__i5 19 17 5 #SB_DFF
set_location blink_counter_409__i4 19 17 4 #SB_DFF
set_location blink_counter_409__i3 19 17 3 #SB_DFF
set_location blink_counter_409__i25 19 20 1 #SB_DFF
set_location blink_counter_409__i24 19 20 0 #SB_DFF
set_location blink_counter_409__i23 19 19 7 #SB_DFF
set_location blink_counter_409__i22 19 19 6 #SB_DFF
set_location blink_counter_409__i21 19 19 5 #SB_DFF
set_location blink_counter_409__i20 19 19 4 #SB_DFF
set_location blink_counter_409__i2 19 17 2 #SB_DFF
set_location blink_counter_409__i19 19 19 3 #SB_DFF
set_location blink_counter_409__i18 19 19 2 #SB_DFF
set_location blink_counter_409__i17 19 19 1 #SB_DFF
set_location blink_counter_409__i16 19 19 0 #SB_DFF
set_location blink_counter_409__i15 19 18 7 #SB_DFF
set_location blink_counter_409__i14 19 18 6 #SB_DFF
set_location blink_counter_409__i13 19 18 5 #SB_DFF
set_location blink_counter_409__i12 19 18 4 #SB_DFF
set_location blink_counter_409__i11 19 18 3 #SB_DFF
set_location blink_counter_409__i10 19 18 2 #SB_DFF
set_location blink_counter_409__i1 19 17 1 #SB_DFF
set_location blink_counter_409__i0 19 17 0 #SB_DFF
set_location add_8_9_lut 23 13 7 #SB_LUT4
set_location add_8_9 23 13 7 #SB_CARRY
set_location add_8_8_lut 23 13 6 #SB_LUT4
set_location add_8_8 23 13 6 #SB_CARRY
set_location add_8_7_lut 23 13 5 #SB_LUT4
set_location add_8_7 23 13 5 #SB_CARRY
set_location add_8_6_lut 23 13 4 #SB_LUT4
set_location add_8_6 23 13 4 #SB_CARRY
set_location add_8_5_lut 23 13 3 #SB_LUT4
set_location add_8_5 23 13 3 #SB_CARRY
set_location add_8_4_lut 23 13 2 #SB_LUT4
set_location add_8_4 23 13 2 #SB_CARRY
set_location add_8_3_lut 23 13 1 #SB_LUT4
set_location add_8_33_lut 23 16 7 #SB_LUT4
set_location add_8_32_lut 23 16 6 #SB_LUT4
set_location add_8_32 23 16 6 #SB_CARRY
set_location add_8_31_lut 23 16 5 #SB_LUT4
set_location add_8_31 23 16 5 #SB_CARRY
set_location add_8_30_lut 23 16 4 #SB_LUT4
set_location add_8_30 23 16 4 #SB_CARRY
set_location add_8_3 23 13 1 #SB_CARRY
set_location add_8_2_lut 23 13 0 #SB_LUT4
set_location add_8_29_lut 23 16 3 #SB_LUT4
set_location add_8_29 23 16 3 #SB_CARRY
set_location add_8_28_lut 23 16 2 #SB_LUT4
set_location add_8_28 23 16 2 #SB_CARRY
set_location add_8_27_lut 23 16 1 #SB_LUT4
set_location add_8_27 23 16 1 #SB_CARRY
set_location add_8_26_lut 23 16 0 #SB_LUT4
set_location add_8_26 23 16 0 #SB_CARRY
set_location add_8_25_lut 23 15 7 #SB_LUT4
set_location add_8_25 23 15 7 #SB_CARRY
set_location add_8_24_lut 23 15 6 #SB_LUT4
set_location add_8_24 23 15 6 #SB_CARRY
set_location add_8_23_lut 23 15 5 #SB_LUT4
set_location add_8_23 23 15 5 #SB_CARRY
set_location add_8_22_lut 23 15 4 #SB_LUT4
set_location add_8_22 23 15 4 #SB_CARRY
set_location add_8_21_lut 23 15 3 #SB_LUT4
set_location add_8_21 23 15 3 #SB_CARRY
set_location add_8_20_lut 23 15 2 #SB_LUT4
set_location add_8_20 23 15 2 #SB_CARRY
set_location add_8_2 23 13 0 #SB_CARRY
set_location add_8_19_lut 23 15 1 #SB_LUT4
set_location add_8_19 23 15 1 #SB_CARRY
set_location add_8_18_lut 23 15 0 #SB_LUT4
set_location add_8_18 23 15 0 #SB_CARRY
set_location add_8_17_lut 23 14 7 #SB_LUT4
set_location add_8_17 23 14 7 #SB_CARRY
set_location add_8_16_lut 23 14 6 #SB_LUT4
set_location add_8_16 23 14 6 #SB_CARRY
set_location add_8_15_lut 23 14 5 #SB_LUT4
set_location add_8_15 23 14 5 #SB_CARRY
set_location add_8_14_lut 23 14 4 #SB_LUT4
set_location add_8_14 23 14 4 #SB_CARRY
set_location add_8_13_lut 23 14 3 #SB_LUT4
set_location add_8_13 23 14 3 #SB_CARRY
set_location add_8_12_lut 23 14 2 #SB_LUT4
set_location add_8_12 23 14 2 #SB_CARRY
set_location add_8_11_lut 23 14 1 #SB_LUT4
set_location add_8_11 23 14 1 #SB_CARRY
set_location add_8_10_lut 23 14 0 #SB_LUT4
set_location add_8_10 23 14 0 #SB_CARRY
set_location ID_READOUT_FSM.state__i1 21 15 4 #SB_DFF
set_location ID_READOUT_FSM.state__i0 21 15 2 #SB_DFF
set_io USBPU A3
set_io TX J1
set_io SDA A9
set_io SCL C9
set_io NEOPXL E2
set_io LED B3
set_io INLC B8
set_io INLB B7
set_io INLA B6
set_io INHC A8
set_io INHB A7
set_io INHA A6
set_io DE H1
set_io CS_CLK G9
set_io CS D8
set_io CLK B2
