ble_pack i323_4_lut_LC_12_19_2 { i323_4_lut }
ble_pack i324_4_lut_LC_12_19_3 { i324_4_lut }
clb_pack LT_12_19 { i323_4_lut_LC_12_19_2, i324_4_lut_LC_12_19_3 }
set_location LT_12_19 12 19
ble_pack i325_3_lut_LC_12_20_2 { i325_3_lut }
clb_pack LT_12_20 { i325_3_lut_LC_12_20_2 }
set_location LT_12_20 12 20
ble_pack blink_counter_131__i0_LC_13_17_0 { blink_counter_131_add_4_2_lut, blink_counter_131__i0, blink_counter_131_add_4_2 }
ble_pack blink_counter_131__i1_LC_13_17_1 { blink_counter_131_add_4_3_lut, blink_counter_131__i1, blink_counter_131_add_4_3 }
ble_pack blink_counter_131__i2_LC_13_17_2 { blink_counter_131_add_4_4_lut, blink_counter_131__i2, blink_counter_131_add_4_4 }
ble_pack blink_counter_131__i3_LC_13_17_3 { blink_counter_131_add_4_5_lut, blink_counter_131__i3, blink_counter_131_add_4_5 }
ble_pack blink_counter_131__i4_LC_13_17_4 { blink_counter_131_add_4_6_lut, blink_counter_131__i4, blink_counter_131_add_4_6 }
ble_pack blink_counter_131__i5_LC_13_17_5 { blink_counter_131_add_4_7_lut, blink_counter_131__i5, blink_counter_131_add_4_7 }
ble_pack blink_counter_131__i6_LC_13_17_6 { blink_counter_131_add_4_8_lut, blink_counter_131__i6, blink_counter_131_add_4_8 }
ble_pack blink_counter_131__i7_LC_13_17_7 { blink_counter_131_add_4_9_lut, blink_counter_131__i7, blink_counter_131_add_4_9 }
clb_pack LT_13_17 { blink_counter_131__i0_LC_13_17_0, blink_counter_131__i1_LC_13_17_1, blink_counter_131__i2_LC_13_17_2, blink_counter_131__i3_LC_13_17_3, blink_counter_131__i4_LC_13_17_4, blink_counter_131__i5_LC_13_17_5, blink_counter_131__i6_LC_13_17_6, blink_counter_131__i7_LC_13_17_7 }
set_location LT_13_17 13 17
ble_pack blink_counter_131__i8_LC_13_18_0 { blink_counter_131_add_4_10_lut, blink_counter_131__i8, blink_counter_131_add_4_10 }
ble_pack blink_counter_131__i9_LC_13_18_1 { blink_counter_131_add_4_11_lut, blink_counter_131__i9, blink_counter_131_add_4_11 }
ble_pack blink_counter_131__i10_LC_13_18_2 { blink_counter_131_add_4_12_lut, blink_counter_131__i10, blink_counter_131_add_4_12 }
ble_pack blink_counter_131__i11_LC_13_18_3 { blink_counter_131_add_4_13_lut, blink_counter_131__i11, blink_counter_131_add_4_13 }
ble_pack blink_counter_131__i12_LC_13_18_4 { blink_counter_131_add_4_14_lut, blink_counter_131__i12, blink_counter_131_add_4_14 }
ble_pack blink_counter_131__i13_LC_13_18_5 { blink_counter_131_add_4_15_lut, blink_counter_131__i13, blink_counter_131_add_4_15 }
ble_pack blink_counter_131__i14_LC_13_18_6 { blink_counter_131_add_4_16_lut, blink_counter_131__i14, blink_counter_131_add_4_16 }
ble_pack blink_counter_131__i15_LC_13_18_7 { blink_counter_131_add_4_17_lut, blink_counter_131__i15, blink_counter_131_add_4_17 }
clb_pack LT_13_18 { blink_counter_131__i8_LC_13_18_0, blink_counter_131__i9_LC_13_18_1, blink_counter_131__i10_LC_13_18_2, blink_counter_131__i11_LC_13_18_3, blink_counter_131__i12_LC_13_18_4, blink_counter_131__i13_LC_13_18_5, blink_counter_131__i14_LC_13_18_6, blink_counter_131__i15_LC_13_18_7 }
set_location LT_13_18 13 18
ble_pack blink_counter_131__i16_LC_13_19_0 { blink_counter_131_add_4_18_lut, blink_counter_131__i16, blink_counter_131_add_4_18 }
ble_pack blink_counter_131__i17_LC_13_19_1 { blink_counter_131_add_4_19_lut, blink_counter_131__i17, blink_counter_131_add_4_19 }
ble_pack blink_counter_131__i18_LC_13_19_2 { blink_counter_131_add_4_20_lut, blink_counter_131__i18, blink_counter_131_add_4_20 }
ble_pack blink_counter_131__i19_LC_13_19_3 { blink_counter_131_add_4_21_lut, blink_counter_131__i19, blink_counter_131_add_4_21 }
ble_pack blink_counter_131__i20_LC_13_19_4 { blink_counter_131_add_4_22_lut, blink_counter_131__i20, blink_counter_131_add_4_22 }
ble_pack blink_counter_131__i21_LC_13_19_5 { blink_counter_131_add_4_23_lut, blink_counter_131__i21, blink_counter_131_add_4_23 }
ble_pack blink_counter_131__i22_LC_13_19_6 { blink_counter_131_add_4_24_lut, blink_counter_131__i22, blink_counter_131_add_4_24 }
ble_pack blink_counter_131__i23_LC_13_19_7 { blink_counter_131_add_4_25_lut, blink_counter_131__i23, blink_counter_131_add_4_25 }
clb_pack LT_13_19 { blink_counter_131__i16_LC_13_19_0, blink_counter_131__i17_LC_13_19_1, blink_counter_131__i18_LC_13_19_2, blink_counter_131__i19_LC_13_19_3, blink_counter_131__i20_LC_13_19_4, blink_counter_131__i21_LC_13_19_5, blink_counter_131__i22_LC_13_19_6, blink_counter_131__i23_LC_13_19_7 }
set_location LT_13_19 13 19
ble_pack blink_counter_131__i24_LC_13_20_0 { blink_counter_131_add_4_26_lut, blink_counter_131__i24, blink_counter_131_add_4_26 }
ble_pack blink_counter_131__i25_LC_13_20_1 { blink_counter_131_add_4_27_lut, blink_counter_131__i25 }
clb_pack LT_13_20 { blink_counter_131__i24_LC_13_20_0, blink_counter_131__i25_LC_13_20_1 }
set_location LT_13_20 13 20
ble_pack tli.counter_135_136__i1_LC_14_16_0 { tli.counter_135_136_add_4_2_lut, tli.counter_135_136__i1, tli.counter_135_136_add_4_2 }
ble_pack tli.counter_135_136__i2_LC_14_16_1 { tli.counter_135_136_add_4_3_lut, tli.counter_135_136__i2, tli.counter_135_136_add_4_3 }
ble_pack tli.counter_135_136__i3_LC_14_16_2 { tli.counter_135_136_add_4_4_lut, tli.counter_135_136__i3, tli.counter_135_136_add_4_4 }
ble_pack tli.counter_135_136__i4_LC_14_16_3 { tli.counter_135_136_add_4_5_lut, tli.counter_135_136__i4, tli.counter_135_136_add_4_5 }
ble_pack tli.counter_135_136__i5_LC_14_16_4 { tli.counter_135_136_add_4_6_lut, tli.counter_135_136__i5 }
clb_pack LT_14_16 { tli.counter_135_136__i1_LC_14_16_0, tli.counter_135_136__i2_LC_14_16_1, tli.counter_135_136__i3_LC_14_16_2, tli.counter_135_136__i4_LC_14_16_3, tli.counter_135_136__i5_LC_14_16_4 }
set_location LT_14_16 14 16
ble_pack CONSTANT_ONE_LUT4_LC_14_17_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_14_17 { CONSTANT_ONE_LUT4_LC_14_17_3 }
set_location LT_14_17 14 17
ble_pack tli.i2_2_lut_adj_4_LC_15_16_3 { tli.i2_2_lut_adj_4 }
ble_pack tli.i154_4_lut_LC_15_16_4 { tli.i154_4_lut }
ble_pack tli.clk_slow_62_LC_15_16_5 { tli.clk_slow_I_0_71_2_lut, tli.clk_slow_62 }
clb_pack LT_15_16 { tli.i2_2_lut_adj_4_LC_15_16_3, tli.i154_4_lut_LC_15_16_4, tli.clk_slow_62_LC_15_16_5 }
set_location LT_15_16 15 16
ble_pack tli.bit_counter_134_add_4_2_lut_LC_15_17_0 { tli.bit_counter_134_add_4_2_lut, tli.bit_counter_134_add_4_2 }
ble_pack tli.bit_counter_134_add_4_3_lut_LC_15_17_1 { tli.bit_counter_134_add_4_3_lut, tli.bit_counter_134_add_4_3 }
ble_pack tli.bit_counter_134_add_4_4_lut_LC_15_17_2 { tli.bit_counter_134_add_4_4_lut, tli.bit_counter_134_add_4_4 }
ble_pack tli.bit_counter_134_add_4_5_lut_LC_15_17_3 { tli.bit_counter_134_add_4_5_lut, tli.bit_counter_134_add_4_5 }
ble_pack tli.bit_counter_134__i4_LC_15_17_4 { tli.bit_counter_134_add_4_6_lut, tli.bit_counter_134__i4, tli.bit_counter_134_add_4_6 }
ble_pack tli.bit_counter_134__i5_LC_15_17_5 { tli.bit_counter_134_add_4_7_lut, tli.bit_counter_134__i5, tli.bit_counter_134_add_4_7 }
ble_pack tli.bit_counter_134__i6_LC_15_17_6 { tli.bit_counter_134_add_4_8_lut, tli.bit_counter_134__i6, tli.bit_counter_134_add_4_8 }
ble_pack tli.bit_counter_134__i7_LC_15_17_7 { tli.bit_counter_134_add_4_9_lut, tli.bit_counter_134__i7 }
clb_pack LT_15_17 { tli.bit_counter_134_add_4_2_lut_LC_15_17_0, tli.bit_counter_134_add_4_3_lut_LC_15_17_1, tli.bit_counter_134_add_4_4_lut_LC_15_17_2, tli.bit_counter_134_add_4_5_lut_LC_15_17_3, tli.bit_counter_134__i4_LC_15_17_4, tli.bit_counter_134__i5_LC_15_17_5, tli.bit_counter_134__i6_LC_15_17_6, tli.bit_counter_134__i7_LC_15_17_7 }
set_location LT_15_17 15 17
ble_pack tli.i6_4_lut_LC_15_18_4 { tli.i6_4_lut }
ble_pack tli.bit_counter_134__i0_LC_15_18_5 { tli.bit_counter_134_mux_6_i1_4_lut_3_lut, tli.bit_counter_134__i0 }
ble_pack tli.bit_counter_134__i1_LC_15_18_6 { tli.bit_counter_134_mux_6_i2_3_lut, tli.bit_counter_134__i1 }
clb_pack LT_15_18 { tli.i6_4_lut_LC_15_18_4, tli.bit_counter_134__i0_LC_15_18_5, tli.bit_counter_134__i1_LC_15_18_6 }
set_location LT_15_18 15 18
ble_pack tli.delay_counter_132_133__i1_LC_15_19_0 { tli.delay_counter_132_133_add_4_2_lut, tli.delay_counter_132_133__i1, tli.delay_counter_132_133_add_4_2 }
ble_pack tli.delay_counter_132_133__i2_LC_15_19_1 { tli.delay_counter_132_133_add_4_3_lut, tli.delay_counter_132_133__i2, tli.delay_counter_132_133_add_4_3 }
ble_pack tli.delay_counter_132_133__i3_LC_15_19_2 { tli.delay_counter_132_133_add_4_4_lut, tli.delay_counter_132_133__i3, tli.delay_counter_132_133_add_4_4 }
ble_pack tli.delay_counter_132_133__i4_LC_15_19_3 { tli.delay_counter_132_133_add_4_5_lut, tli.delay_counter_132_133__i4, tli.delay_counter_132_133_add_4_5 }
ble_pack tli.delay_counter_132_133__i5_LC_15_19_4 { tli.delay_counter_132_133_add_4_6_lut, tli.delay_counter_132_133__i5, tli.delay_counter_132_133_add_4_6 }
ble_pack tli.delay_counter_132_133__i6_LC_15_19_5 { tli.delay_counter_132_133_add_4_7_lut, tli.delay_counter_132_133__i6, tli.delay_counter_132_133_add_4_7 }
ble_pack tli.delay_counter_132_133__i7_LC_15_19_6 { tli.delay_counter_132_133_add_4_8_lut, tli.delay_counter_132_133__i7, tli.delay_counter_132_133_add_4_8 }
ble_pack tli.delay_counter_132_133__i8_LC_15_19_7 { tli.delay_counter_132_133_add_4_9_lut, tli.delay_counter_132_133__i8, tli.delay_counter_132_133_add_4_9 }
clb_pack LT_15_19 { tli.delay_counter_132_133__i1_LC_15_19_0, tli.delay_counter_132_133__i2_LC_15_19_1, tli.delay_counter_132_133__i3_LC_15_19_2, tli.delay_counter_132_133__i4_LC_15_19_3, tli.delay_counter_132_133__i5_LC_15_19_4, tli.delay_counter_132_133__i6_LC_15_19_5, tli.delay_counter_132_133__i7_LC_15_19_6, tli.delay_counter_132_133__i8_LC_15_19_7 }
set_location LT_15_19 15 19
ble_pack tli.delay_counter_132_133__i9_LC_15_20_0 { tli.delay_counter_132_133_add_4_10_lut, tli.delay_counter_132_133__i9, tli.delay_counter_132_133_add_4_10 }
ble_pack tli.delay_counter_132_133__i10_LC_15_20_1 { tli.delay_counter_132_133_add_4_11_lut, tli.delay_counter_132_133__i10, tli.delay_counter_132_133_add_4_11 }
ble_pack tli.delay_counter_132_133__i11_LC_15_20_2 { tli.delay_counter_132_133_add_4_12_lut, tli.delay_counter_132_133__i11, tli.delay_counter_132_133_add_4_12 }
ble_pack tli.delay_counter_132_133__i12_LC_15_20_3 { tli.delay_counter_132_133_add_4_13_lut, tli.delay_counter_132_133__i12, tli.delay_counter_132_133_add_4_13 }
ble_pack tli.delay_counter_132_133__i13_LC_15_20_4 { tli.delay_counter_132_133_add_4_14_lut, tli.delay_counter_132_133__i13, tli.delay_counter_132_133_add_4_14 }
ble_pack tli.delay_counter_132_133__i14_LC_15_20_5 { tli.delay_counter_132_133_add_4_15_lut, tli.delay_counter_132_133__i14 }
clb_pack LT_15_20 { tli.delay_counter_132_133__i9_LC_15_20_0, tli.delay_counter_132_133__i10_LC_15_20_1, tli.delay_counter_132_133__i11_LC_15_20_2, tli.delay_counter_132_133__i12_LC_15_20_3, tli.delay_counter_132_133__i13_LC_15_20_4, tli.delay_counter_132_133__i14_LC_15_20_5 }
set_location LT_15_20 15 20
ble_pack tli.bit_counter_134__i2_LC_16_17_0 { tli.bit_counter_134_mux_6_i3_3_lut, tli.bit_counter_134__i2 }
ble_pack tli.bit_counter_134__i3_LC_16_17_1 { tli.bit_counter_134_mux_6_i4_3_lut, tli.bit_counter_134__i3 }
ble_pack tli.i2_2_lut_adj_5_LC_16_17_2 { tli.i2_2_lut_adj_5 }
clb_pack LT_16_17 { tli.bit_counter_134__i2_LC_16_17_0, tli.bit_counter_134__i3_LC_16_17_1, tli.i2_2_lut_adj_5_LC_16_17_2 }
set_location LT_16_17 16 17
ble_pack tli.i7_4_lut_LC_16_18_1 { tli.i7_4_lut }
ble_pack tli.state_i0_LC_16_18_2 { tli.i344_2_lut, tli.state_i0 }
ble_pack tli.i246_2_lut_3_lut_2_lut_LC_16_18_4 { tli.i246_2_lut_3_lut_2_lut }
ble_pack tli.i235_2_lut_LC_16_18_5 { tli.i235_2_lut }
ble_pack tli.i121_1_lut_LC_16_18_6 { tli.i121_1_lut }
ble_pack tli.state_i1_LC_16_18_7 { tli.mux_149_i2_3_lut, tli.state_i1 }
clb_pack LT_16_18 { tli.i7_4_lut_LC_16_18_1, tli.state_i0_LC_16_18_2, tli.i246_2_lut_3_lut_2_lut_LC_16_18_4, tli.i235_2_lut_LC_16_18_5, tli.i121_1_lut_LC_16_18_6, tli.state_i1_LC_16_18_7 }
set_location LT_16_18 16 18
ble_pack tli.i3_4_lut_LC_16_19_0 { tli.i3_4_lut }
ble_pack tli.i3_4_lut_adj_2_LC_16_19_1 { tli.i3_4_lut_adj_2 }
ble_pack tli.i1_2_lut_4_lut_LC_16_19_4 { tli.i1_2_lut_4_lut }
ble_pack tli.i2_2_lut_LC_16_19_5 { tli.i2_2_lut }
ble_pack tli.i244_2_lut_4_lut_LC_16_19_7 { tli.i244_2_lut_4_lut }
clb_pack LT_16_19 { tli.i3_4_lut_LC_16_19_0, tli.i3_4_lut_adj_2_LC_16_19_1, tli.i1_2_lut_4_lut_LC_16_19_4, tli.i2_2_lut_LC_16_19_5, tli.i244_2_lut_4_lut_LC_16_19_7 }
set_location LT_16_19 16 19
ble_pack tli.i3_4_lut_adj_3_LC_16_20_0 { tli.i3_4_lut_adj_3 }
ble_pack tli.i159_4_lut_LC_16_20_1 { tli.i159_4_lut }
clb_pack LT_16_20 { tli.i3_4_lut_adj_3_LC_16_20_0, tli.i159_4_lut_LC_16_20_1 }
set_location LT_16_20 16 20
ble_pack tli.spi_clk_I_0_i1_3_lut_LC_17_17_2 { tli.spi_clk_I_0_i1_3_lut }
ble_pack tli.slave_select_65_LC_17_17_7 { tli.i250_3_lut_3_lut, tli.slave_select_65 }
clb_pack LT_17_17 { tli.spi_clk_I_0_i1_3_lut_LC_17_17_2, tli.slave_select_65_LC_17_17_7 }
set_location LT_17_17 17 17
ble_pack tli.clk_out_66_LC_17_18_6 { tli.i347_4_lut_4_lut, tli.clk_out_66 }
clb_pack LT_17_18 { tli.clk_out_66_LC_17_18_6 }
set_location LT_17_18 17 18
set_location CLK_pad_gb 0 17
set_io USBPU A3
set_io TX J1
set_io NEOPXL E2
set_io LED B3
set_io INLC B8
set_io INLB B7
set_io INLA B6
set_io INHC A8
set_io INHB A7
set_io INHA A6
set_io HALL3 B1
set_io HALL2 C1
set_io HALL1 C2
set_io DE H1
set_io CS_CLK G9
set_io CS D8
set_io CLK B2
