ble_pack tli.spi.core_n_clk_101_LC_4_21_0 { tli.spi.core_n_clk_o_I_0_143_2_lut, tli.spi.core_n_clk_101 }
ble_pack tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i1_LC_4_21_2 { tli.spi.i658_2_lut, tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i1 }
ble_pack tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i2_LC_4_21_3 { tli.spi.i665_2_lut_3_lut, tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i2 }
ble_pack tli.spi.core_clk_100_LC_4_21_4 { i558_3_lut, tli.spi.core_clk_100 }
ble_pack tli.spi.spi_2x_ce_98_LC_4_21_5 { tli.spi.i3_4_lut, tli.spi.spi_2x_ce_98 }
ble_pack tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i3_LC_4_21_6 { tli.spi.i672_3_lut_4_lut, tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i3 }
ble_pack tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i0_LC_4_21_7 { tli.spi.i656_1_lut, tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i0 }
clb_pack LT_4_21 { tli.spi.core_n_clk_101_LC_4_21_0, tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i1_LC_4_21_2, tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i2_LC_4_21_3, tli.spi.core_clk_100_LC_4_21_4, tli.spi.spi_2x_ce_98_LC_4_21_5, tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i3_LC_4_21_6, tli.spi.spi_2x_ce_gen_proc_clk_cnt_184__i0_LC_4_21_7 }
set_location LT_4_21 4 21
ble_pack blink_counter_182__i0_LC_5_21_0 { blink_counter_182_add_4_2_lut, blink_counter_182__i0, blink_counter_182_add_4_2 }
ble_pack blink_counter_182__i1_LC_5_21_1 { blink_counter_182_add_4_3_lut, blink_counter_182__i1, blink_counter_182_add_4_3 }
ble_pack blink_counter_182__i2_LC_5_21_2 { blink_counter_182_add_4_4_lut, blink_counter_182__i2, blink_counter_182_add_4_4 }
ble_pack blink_counter_182__i3_LC_5_21_3 { blink_counter_182_add_4_5_lut, blink_counter_182__i3, blink_counter_182_add_4_5 }
ble_pack blink_counter_182__i4_LC_5_21_4 { blink_counter_182_add_4_6_lut, blink_counter_182__i4, blink_counter_182_add_4_6 }
ble_pack blink_counter_182__i5_LC_5_21_5 { blink_counter_182_add_4_7_lut, blink_counter_182__i5, blink_counter_182_add_4_7 }
ble_pack blink_counter_182__i6_LC_5_21_6 { blink_counter_182_add_4_8_lut, blink_counter_182__i6, blink_counter_182_add_4_8 }
ble_pack blink_counter_182__i7_LC_5_21_7 { blink_counter_182_add_4_9_lut, blink_counter_182__i7, blink_counter_182_add_4_9 }
clb_pack LT_5_21 { blink_counter_182__i0_LC_5_21_0, blink_counter_182__i1_LC_5_21_1, blink_counter_182__i2_LC_5_21_2, blink_counter_182__i3_LC_5_21_3, blink_counter_182__i4_LC_5_21_4, blink_counter_182__i5_LC_5_21_5, blink_counter_182__i6_LC_5_21_6, blink_counter_182__i7_LC_5_21_7 }
set_location LT_5_21 5 21
ble_pack blink_counter_182__i8_LC_5_22_0 { blink_counter_182_add_4_10_lut, blink_counter_182__i8, blink_counter_182_add_4_10 }
ble_pack blink_counter_182__i9_LC_5_22_1 { blink_counter_182_add_4_11_lut, blink_counter_182__i9, blink_counter_182_add_4_11 }
ble_pack blink_counter_182__i10_LC_5_22_2 { blink_counter_182_add_4_12_lut, blink_counter_182__i10, blink_counter_182_add_4_12 }
ble_pack blink_counter_182__i11_LC_5_22_3 { blink_counter_182_add_4_13_lut, blink_counter_182__i11, blink_counter_182_add_4_13 }
ble_pack blink_counter_182__i12_LC_5_22_4 { blink_counter_182_add_4_14_lut, blink_counter_182__i12, blink_counter_182_add_4_14 }
ble_pack blink_counter_182__i13_LC_5_22_5 { blink_counter_182_add_4_15_lut, blink_counter_182__i13, blink_counter_182_add_4_15 }
ble_pack blink_counter_182__i14_LC_5_22_6 { blink_counter_182_add_4_16_lut, blink_counter_182__i14, blink_counter_182_add_4_16 }
ble_pack blink_counter_182__i15_LC_5_22_7 { blink_counter_182_add_4_17_lut, blink_counter_182__i15, blink_counter_182_add_4_17 }
clb_pack LT_5_22 { blink_counter_182__i8_LC_5_22_0, blink_counter_182__i9_LC_5_22_1, blink_counter_182__i10_LC_5_22_2, blink_counter_182__i11_LC_5_22_3, blink_counter_182__i12_LC_5_22_4, blink_counter_182__i13_LC_5_22_5, blink_counter_182__i14_LC_5_22_6, blink_counter_182__i15_LC_5_22_7 }
set_location LT_5_22 5 22
ble_pack blink_counter_182__i16_LC_5_23_0 { blink_counter_182_add_4_18_lut, blink_counter_182__i16, blink_counter_182_add_4_18 }
ble_pack blink_counter_182__i17_LC_5_23_1 { blink_counter_182_add_4_19_lut, blink_counter_182__i17, blink_counter_182_add_4_19 }
ble_pack blink_counter_182__i18_LC_5_23_2 { blink_counter_182_add_4_20_lut, blink_counter_182__i18, blink_counter_182_add_4_20 }
ble_pack blink_counter_182__i19_LC_5_23_3 { blink_counter_182_add_4_21_lut, blink_counter_182__i19, blink_counter_182_add_4_21 }
ble_pack blink_counter_182__i20_LC_5_23_4 { blink_counter_182_add_4_22_lut, blink_counter_182__i20, blink_counter_182_add_4_22 }
ble_pack blink_counter_182__i21_LC_5_23_5 { blink_counter_182_add_4_23_lut, blink_counter_182__i21, blink_counter_182_add_4_23 }
ble_pack blink_counter_182__i22_LC_5_23_6 { blink_counter_182_add_4_24_lut, blink_counter_182__i22, blink_counter_182_add_4_24 }
ble_pack blink_counter_182__i23_LC_5_23_7 { blink_counter_182_add_4_25_lut, blink_counter_182__i23, blink_counter_182_add_4_25 }
clb_pack LT_5_23 { blink_counter_182__i16_LC_5_23_0, blink_counter_182__i17_LC_5_23_1, blink_counter_182__i18_LC_5_23_2, blink_counter_182__i19_LC_5_23_3, blink_counter_182__i20_LC_5_23_4, blink_counter_182__i21_LC_5_23_5, blink_counter_182__i22_LC_5_23_6, blink_counter_182__i23_LC_5_23_7 }
set_location LT_5_23 5 23
ble_pack blink_counter_182__i24_LC_5_24_0 { blink_counter_182_add_4_26_lut, blink_counter_182__i24, blink_counter_182_add_4_26 }
ble_pack blink_counter_182__i25_LC_5_24_1 { blink_counter_182_add_4_27_lut, blink_counter_182__i25 }
ble_pack i715_3_lut_LC_5_24_2 { i715_3_lut }
ble_pack i713_4_lut_LC_5_24_4 { i713_4_lut }
ble_pack i714_4_lut_LC_5_24_5 { i714_4_lut }
ble_pack tli.current__i1_LC_5_24_6 { tli.i560_3_lut_4_lut, tli.current__i1 }
ble_pack tli.current__i11_LC_5_24_7 { tli.i562_3_lut_4_lut, tli.current__i11 }
clb_pack LT_5_24 { blink_counter_182__i24_LC_5_24_0, blink_counter_182__i25_LC_5_24_1, i715_3_lut_LC_5_24_2, i713_4_lut_LC_5_24_4, i714_4_lut_LC_5_24_5, tli.current__i1_LC_5_24_6, tli.current__i11_LC_5_24_7 }
set_location LT_5_24 5 24
ble_pack tli.i6_4_lut_LC_6_22_0 { tli.i6_4_lut }
ble_pack tli.current__i5_LC_6_22_1 { tli.i568_3_lut_4_lut, tli.current__i5 }
ble_pack tli.current__i7_LC_6_22_2 { tli.i566_3_lut_4_lut, tli.current__i7 }
ble_pack tli.current__i9_LC_6_22_3 { tli.i564_3_lut_4_lut, tli.current__i9 }
ble_pack tli.i1_2_lut_LC_6_22_4 { tli.i1_2_lut }
ble_pack tli.i7_4_lut_LC_6_22_5 { tli.i7_4_lut }
ble_pack tli.current__i8_LC_6_22_6 { tli.i565_3_lut_4_lut, tli.current__i8 }
ble_pack tli.current__i6_LC_6_22_7 { tli.i567_3_lut_4_lut, tli.current__i6 }
clb_pack LT_6_22 { tli.i6_4_lut_LC_6_22_0, tli.current__i5_LC_6_22_1, tli.current__i7_LC_6_22_2, tli.current__i9_LC_6_22_3, tli.i1_2_lut_LC_6_22_4, tli.i7_4_lut_LC_6_22_5, tli.current__i8_LC_6_22_6, tli.current__i6_LC_6_22_7 }
set_location LT_6_22 6 22
ble_pack tli.i4_4_lut_LC_6_23_0 { tli.i4_4_lut }
ble_pack tli.i1_2_lut_adj_6_LC_6_23_1 { tli.i1_2_lut_adj_6 }
ble_pack tli.i421_4_lut_LC_6_23_2 { tli.i421_4_lut }
ble_pack tli.i1_4_lut_LC_6_23_3 { tli.i1_4_lut }
ble_pack tli.i13_4_lut_LC_6_23_4 { tli.i13_4_lut }
ble_pack tli.i620_4_lut_LC_6_23_5 { tli.i620_4_lut }
ble_pack tli.i1_2_lut_adj_5_LC_6_23_6 { tli.i1_2_lut_adj_5 }
ble_pack tli.wren_18_LC_6_23_7 { tli.i1_2_lut_adj_5_tli.wren_18_REP_LUT4_0, tli.wren_18 }
clb_pack LT_6_23 { tli.i4_4_lut_LC_6_23_0, tli.i1_2_lut_adj_6_LC_6_23_1, tli.i421_4_lut_LC_6_23_2, tli.i1_4_lut_LC_6_23_3, tli.i13_4_lut_LC_6_23_4, tli.i620_4_lut_LC_6_23_5, tli.i1_2_lut_adj_5_LC_6_23_6, tli.wren_18_LC_6_23_7 }
set_location LT_6_23 6 23
ble_pack tli.current__i12_LC_6_24_0 { tli.i561_3_lut_4_lut, tli.current__i12 }
ble_pack tli.current__i3_LC_6_24_1 { tli.i571_3_lut_4_lut, tli.current__i3 }
ble_pack tli.current__i2_LC_6_24_2 { tli.i572_3_lut_4_lut, tli.current__i2 }
ble_pack tli.current__i10_LC_6_24_3 { tli.i563_3_lut_4_lut, tli.current__i10 }
ble_pack tli.current__i13_LC_6_24_4 { tli.i559_3_lut_4_lut, tli.current__i13 }
ble_pack tli.i12_4_lut_LC_6_24_5 { tli.i12_4_lut }
ble_pack tli.i10_4_lut_LC_6_24_6 { tli.i10_4_lut }
ble_pack tli.current__i4_LC_6_24_7 { tli.i569_3_lut_4_lut, tli.current__i4 }
clb_pack LT_6_24 { tli.current__i12_LC_6_24_0, tli.current__i3_LC_6_24_1, tli.current__i2_LC_6_24_2, tli.current__i10_LC_6_24_3, tli.current__i13_LC_6_24_4, tli.i12_4_lut_LC_6_24_5, tli.i10_4_lut_LC_6_24_6, tli.current__i4_LC_6_24_7 }
set_location LT_6_24 6 24
ble_pack tli.i11_4_lut_LC_6_25_0 { tli.i11_4_lut }
clb_pack LT_6_25 { tli.i11_4_lut_LC_6_25_0 }
set_location LT_6_25 6 25
ble_pack tli.delay_counter_183__i0_LC_7_22_0 { tli.delay_counter_183_add_4_2_lut, tli.delay_counter_183__i0, tli.delay_counter_183_add_4_2 }
ble_pack tli.delay_counter_183__i1_LC_7_22_1 { tli.delay_counter_183_add_4_3_lut, tli.delay_counter_183__i1, tli.delay_counter_183_add_4_3 }
ble_pack tli.delay_counter_183__i2_LC_7_22_2 { tli.delay_counter_183_add_4_4_lut, tli.delay_counter_183__i2, tli.delay_counter_183_add_4_4 }
ble_pack tli.delay_counter_183__i3_LC_7_22_3 { tli.delay_counter_183_add_4_5_lut, tli.delay_counter_183__i3, tli.delay_counter_183_add_4_5 }
ble_pack tli.delay_counter_183__i4_LC_7_22_4 { tli.delay_counter_183_add_4_6_lut, tli.delay_counter_183__i4, tli.delay_counter_183_add_4_6 }
ble_pack tli.delay_counter_183__i5_LC_7_22_5 { tli.delay_counter_183_add_4_7_lut, tli.delay_counter_183__i5, tli.delay_counter_183_add_4_7 }
ble_pack tli.delay_counter_183__i6_LC_7_22_6 { tli.delay_counter_183_add_4_8_lut, tli.delay_counter_183__i6, tli.delay_counter_183_add_4_8 }
ble_pack tli.delay_counter_183__i7_LC_7_22_7 { tli.delay_counter_183_add_4_9_lut, tli.delay_counter_183__i7, tli.delay_counter_183_add_4_9 }
clb_pack LT_7_22 { tli.delay_counter_183__i0_LC_7_22_0, tli.delay_counter_183__i1_LC_7_22_1, tli.delay_counter_183__i2_LC_7_22_2, tli.delay_counter_183__i3_LC_7_22_3, tli.delay_counter_183__i4_LC_7_22_4, tli.delay_counter_183__i5_LC_7_22_5, tli.delay_counter_183__i6_LC_7_22_6, tli.delay_counter_183__i7_LC_7_22_7 }
set_location LT_7_22 7 22
ble_pack tli.delay_counter_183__i8_LC_7_23_0 { tli.delay_counter_183_add_4_10_lut, tli.delay_counter_183__i8, tli.delay_counter_183_add_4_10 }
ble_pack tli.delay_counter_183__i9_LC_7_23_1 { tli.delay_counter_183_add_4_11_lut, tli.delay_counter_183__i9, tli.delay_counter_183_add_4_11 }
ble_pack tli.delay_counter_183__i10_LC_7_23_2 { tli.delay_counter_183_add_4_12_lut, tli.delay_counter_183__i10, tli.delay_counter_183_add_4_12 }
ble_pack tli.delay_counter_183__i11_LC_7_23_3 { tli.delay_counter_183_add_4_13_lut, tli.delay_counter_183__i11, tli.delay_counter_183_add_4_13 }
ble_pack tli.delay_counter_183__i12_LC_7_23_4 { tli.delay_counter_183_add_4_14_lut, tli.delay_counter_183__i12, tli.delay_counter_183_add_4_14 }
ble_pack tli.delay_counter_183__i13_LC_7_23_5 { tli.delay_counter_183_add_4_15_lut, tli.delay_counter_183__i13, tli.delay_counter_183_add_4_15 }
ble_pack tli.delay_counter_183__i14_LC_7_23_6 { tli.delay_counter_183_add_4_16_lut, tli.delay_counter_183__i14, tli.delay_counter_183_add_4_16 }
ble_pack tli.delay_counter_183__i15_LC_7_23_7 { tli.delay_counter_183_add_4_17_lut, tli.delay_counter_183__i15, tli.delay_counter_183_add_4_17 }
clb_pack LT_7_23 { tli.delay_counter_183__i8_LC_7_23_0, tli.delay_counter_183__i9_LC_7_23_1, tli.delay_counter_183__i10_LC_7_23_2, tli.delay_counter_183__i11_LC_7_23_3, tli.delay_counter_183__i12_LC_7_23_4, tli.delay_counter_183__i13_LC_7_23_5, tli.delay_counter_183__i14_LC_7_23_6, tli.delay_counter_183__i15_LC_7_23_7 }
set_location LT_7_23 7 23
ble_pack tli.delay_counter_183__i16_LC_7_24_0 { tli.delay_counter_183_add_4_18_lut, tli.delay_counter_183__i16, tli.delay_counter_183_add_4_18 }
ble_pack tli.delay_counter_183__i17_LC_7_24_1 { tli.delay_counter_183_add_4_19_lut, tli.delay_counter_183__i17, tli.delay_counter_183_add_4_19 }
ble_pack tli.delay_counter_183__i18_LC_7_24_2 { tli.delay_counter_183_add_4_20_lut, tli.delay_counter_183__i18, tli.delay_counter_183_add_4_20 }
ble_pack tli.delay_counter_183__i19_LC_7_24_3 { tli.delay_counter_183_add_4_21_lut, tli.delay_counter_183__i19, tli.delay_counter_183_add_4_21 }
ble_pack tli.delay_counter_183__i20_LC_7_24_4 { tli.delay_counter_183_add_4_22_lut, tli.delay_counter_183__i20, tli.delay_counter_183_add_4_22 }
ble_pack tli.delay_counter_183__i21_LC_7_24_5 { tli.delay_counter_183_add_4_23_lut, tli.delay_counter_183__i21, tli.delay_counter_183_add_4_23 }
ble_pack tli.delay_counter_183__i22_LC_7_24_6 { tli.delay_counter_183_add_4_24_lut, tli.delay_counter_183__i22, tli.delay_counter_183_add_4_24 }
ble_pack tli.delay_counter_183__i23_LC_7_24_7 { tli.delay_counter_183_add_4_25_lut, tli.delay_counter_183__i23, tli.delay_counter_183_add_4_25 }
clb_pack LT_7_24 { tli.delay_counter_183__i16_LC_7_24_0, tli.delay_counter_183__i17_LC_7_24_1, tli.delay_counter_183__i18_LC_7_24_2, tli.delay_counter_183__i19_LC_7_24_3, tli.delay_counter_183__i20_LC_7_24_4, tli.delay_counter_183__i21_LC_7_24_5, tli.delay_counter_183__i22_LC_7_24_6, tli.delay_counter_183__i23_LC_7_24_7 }
set_location LT_7_24 7 24
ble_pack tli.delay_counter_183__i24_LC_7_25_0 { tli.delay_counter_183_add_4_26_lut, tli.delay_counter_183__i24, tli.delay_counter_183_add_4_26 }
ble_pack tli.delay_counter_183__i25_LC_7_25_1 { tli.delay_counter_183_add_4_27_lut, tli.delay_counter_183__i25, tli.delay_counter_183_add_4_27 }
ble_pack tli.delay_counter_183__i26_LC_7_25_2 { tli.delay_counter_183_add_4_28_lut, tli.delay_counter_183__i26, tli.delay_counter_183_add_4_28 }
ble_pack tli.delay_counter_183__i27_LC_7_25_3 { tli.delay_counter_183_add_4_29_lut, tli.delay_counter_183__i27, tli.delay_counter_183_add_4_29 }
ble_pack tli.delay_counter_183__i28_LC_7_25_4 { tli.delay_counter_183_add_4_30_lut, tli.delay_counter_183__i28, tli.delay_counter_183_add_4_30 }
ble_pack tli.delay_counter_183__i29_LC_7_25_5 { tli.delay_counter_183_add_4_31_lut, tli.delay_counter_183__i29, tli.delay_counter_183_add_4_31 }
ble_pack tli.delay_counter_183__i30_LC_7_25_6 { tli.delay_counter_183_add_4_32_lut, tli.delay_counter_183__i30, tli.delay_counter_183_add_4_32 }
ble_pack tli.delay_counter_183__i31_LC_7_25_7 { tli.delay_counter_183_add_4_33_lut, tli.delay_counter_183__i31 }
clb_pack LT_7_25 { tli.delay_counter_183__i24_LC_7_25_0, tli.delay_counter_183__i25_LC_7_25_1, tli.delay_counter_183__i26_LC_7_25_2, tli.delay_counter_183__i27_LC_7_25_3, tli.delay_counter_183__i28_LC_7_25_4, tli.delay_counter_183__i29_LC_7_25_5, tli.delay_counter_183__i30_LC_7_25_6, tli.delay_counter_183__i31_LC_7_25_7 }
set_location LT_7_25 7 25
ble_pack tli.spi.i275_LC_9_23_3 { i557_3_lut, tli.spi.i275 }
clb_pack LT_9_23 { tli.spi.i275_LC_9_23_3 }
set_location LT_9_23 9 23
ble_pack CONSTANT_ONE_LUT4_LC_10_17_6 { CONSTANT_ONE_LUT4 }
clb_pack LT_10_17 { CONSTANT_ONE_LUT4_LC_10_17_6 }
set_location LT_10_17 10 17
set_location CLK_pad_gb 0 17
set_io USBPU A3
set_io TX J1
set_io SCL C9
set_io NEOPXL E2
set_io LED B3
set_io INLC B8
set_io INLB B7
set_io INLA B6
set_io INHC A8
set_io INHB A7
set_io INHA A6
set_io DE H1
set_io CS_MISO D9
set_io CS_CLK G9
set_io CS D8
set_io CLK B2
