create_clock -period 62.500000 -waveform { 0.000000 31.250000 } -name CLK [ get_ports { CLK } ]
 create_clock -period 62.500 -waveform {0.000 31.250} -name {TinyFPGA_B|\tli/clk_slow} [ get_nets \tli/clk_slow ]
 set_false_path -from [ get_clocks {CLK} ] -to [ get_clocks {TinyFPGA_B|\tli/clk_slow} ]
 set_false_path -from [ get_clocks {TinyFPGA_B|\tli/clk_slow} ] -to [ get_clocks {CLK} ]
