set_location blink_counter_182_add_4_10_lut 5 22 0 # SB_LUT4 (LogicCell: blink_counter_182__i8_LC_0)
set_location blink_counter_182__i8 5 22 0 # SB_DFF (LogicCell: blink_counter_182__i8_LC_0)
set_location blink_counter_182_add_4_10 5 22 0 # SB_CARRY (LogicCell: blink_counter_182__i8_LC_0)
set_location blink_counter_182_add_4_11_lut 5 22 1 # SB_LUT4 (LogicCell: blink_counter_182__i9_LC_1)
set_location blink_counter_182__i9 5 22 1 # SB_DFF (LogicCell: blink_counter_182__i9_LC_1)
set_location blink_counter_182_add_4_11 5 22 1 # SB_CARRY (LogicCell: blink_counter_182__i9_LC_1)
set_location blink_counter_182_add_4_12_lut 5 22 2 # SB_LUT4 (LogicCell: blink_counter_182__i10_LC_2)
set_location blink_counter_182__i10 5 22 2 # SB_DFF (LogicCell: blink_counter_182__i10_LC_2)
set_location blink_counter_182_add_4_12 5 22 2 # SB_CARRY (LogicCell: blink_counter_182__i10_LC_2)
set_location blink_counter_182_add_4_13_lut 5 22 3 # SB_LUT4 (LogicCell: blink_counter_182__i11_LC_3)
set_location blink_counter_182__i11 5 22 3 # SB_DFF (LogicCell: blink_counter_182__i11_LC_3)
set_location blink_counter_182_add_4_13 5 22 3 # SB_CARRY (LogicCell: blink_counter_182__i11_LC_3)
set_location blink_counter_182_add_4_14_lut 5 22 4 # SB_LUT4 (LogicCell: blink_counter_182__i12_LC_4)
set_location blink_counter_182__i12 5 22 4 # SB_DFF (LogicCell: blink_counter_182__i12_LC_4)
set_location blink_counter_182_add_4_14 5 22 4 # SB_CARRY (LogicCell: blink_counter_182__i12_LC_4)
set_location blink_counter_182_add_4_15_lut 5 22 5 # SB_LUT4 (LogicCell: blink_counter_182__i13_LC_5)
set_location blink_counter_182__i13 5 22 5 # SB_DFF (LogicCell: blink_counter_182__i13_LC_5)
set_location blink_counter_182_add_4_15 5 22 5 # SB_CARRY (LogicCell: blink_counter_182__i13_LC_5)
set_location blink_counter_182_add_4_16_lut 5 22 6 # SB_LUT4 (LogicCell: blink_counter_182__i14_LC_6)
set_location blink_counter_182__i14 5 22 6 # SB_DFF (LogicCell: blink_counter_182__i14_LC_6)
set_location blink_counter_182_add_4_16 5 22 6 # SB_CARRY (LogicCell: blink_counter_182__i14_LC_6)
set_location blink_counter_182_add_4_17_lut 5 22 7 # SB_LUT4 (LogicCell: blink_counter_182__i15_LC_7)
set_location blink_counter_182__i15 5 22 7 # SB_DFF (LogicCell: blink_counter_182__i15_LC_7)
set_location blink_counter_182_add_4_17 5 22 7 # SB_CARRY (LogicCell: blink_counter_182__i15_LC_7)
set_location blink_counter_182_add_4_18_lut 5 23 0 # SB_LUT4 (LogicCell: blink_counter_182__i16_LC_8)
set_location blink_counter_182__i16 5 23 0 # SB_DFF (LogicCell: blink_counter_182__i16_LC_8)
set_location blink_counter_182_add_4_18 5 23 0 # SB_CARRY (LogicCell: blink_counter_182__i16_LC_8)
set_location blink_counter_182_add_4_19_lut 5 23 1 # SB_LUT4 (LogicCell: blink_counter_182__i17_LC_9)
set_location blink_counter_182__i17 5 23 1 # SB_DFF (LogicCell: blink_counter_182__i17_LC_9)
set_location blink_counter_182_add_4_19 5 23 1 # SB_CARRY (LogicCell: blink_counter_182__i17_LC_9)
set_location blink_counter_182_add_4_20_lut 5 23 2 # SB_LUT4 (LogicCell: blink_counter_182__i18_LC_10)
set_location blink_counter_182__i18 5 23 2 # SB_DFF (LogicCell: blink_counter_182__i18_LC_10)
set_location blink_counter_182_add_4_20 5 23 2 # SB_CARRY (LogicCell: blink_counter_182__i18_LC_10)
set_location blink_counter_182_add_4_21_lut 5 23 3 # SB_LUT4 (LogicCell: blink_counter_182__i19_LC_11)
set_location blink_counter_182__i19 5 23 3 # SB_DFF (LogicCell: blink_counter_182__i19_LC_11)
set_location blink_counter_182_add_4_21 5 23 3 # SB_CARRY (LogicCell: blink_counter_182__i19_LC_11)
set_location blink_counter_182_add_4_22_lut 5 23 4 # SB_LUT4 (LogicCell: blink_counter_182__i20_LC_12)
set_location blink_counter_182__i20 5 23 4 # SB_DFF (LogicCell: blink_counter_182__i20_LC_12)
set_location blink_counter_182_add_4_22 5 23 4 # SB_CARRY (LogicCell: blink_counter_182__i20_LC_12)
set_location blink_counter_182_add_4_23_lut 5 23 5 # SB_LUT4 (LogicCell: blink_counter_182__i21_LC_13)
set_location blink_counter_182__i21 5 23 5 # SB_DFF (LogicCell: blink_counter_182__i21_LC_13)
set_location blink_counter_182_add_4_23 5 23 5 # SB_CARRY (LogicCell: blink_counter_182__i21_LC_13)
set_location blink_counter_182_add_4_24_lut 5 23 6 # SB_LUT4 (LogicCell: blink_counter_182__i22_LC_14)
set_location blink_counter_182__i22 5 23 6 # SB_DFF (LogicCell: blink_counter_182__i22_LC_14)
set_location blink_counter_182_add_4_24 5 23 6 # SB_CARRY (LogicCell: blink_counter_182__i22_LC_14)
set_location blink_counter_182_add_4_25_lut 5 23 7 # SB_LUT4 (LogicCell: blink_counter_182__i23_LC_15)
set_location blink_counter_182__i23 5 23 7 # SB_DFF (LogicCell: blink_counter_182__i23_LC_15)
set_location blink_counter_182_add_4_25 5 23 7 # SB_CARRY (LogicCell: blink_counter_182__i23_LC_15)
set_location blink_counter_182_add_4_26_lut 5 24 0 # SB_LUT4 (LogicCell: blink_counter_182__i24_LC_16)
set_location blink_counter_182__i24 5 24 0 # SB_DFF (LogicCell: blink_counter_182__i24_LC_16)
set_location blink_counter_182_add_4_26 5 24 0 # SB_CARRY (LogicCell: blink_counter_182__i24_LC_16)
set_location blink_counter_182_add_4_27_lut 5 24 1 # SB_LUT4 (LogicCell: blink_counter_182__i25_LC_17)
set_location blink_counter_182__i25 5 24 1 # SB_DFF (LogicCell: blink_counter_182__i25_LC_17)
set_location blink_counter_182_add_4_2_lut 5 21 0 # SB_LUT4 (LogicCell: blink_counter_182__i0_LC_18)
set_location blink_counter_182__i0 5 21 0 # SB_DFF (LogicCell: blink_counter_182__i0_LC_18)
set_location blink_counter_182_add_4_2 5 21 0 # SB_CARRY (LogicCell: blink_counter_182__i0_LC_18)
set_location blink_counter_182_add_4_3_lut 5 21 1 # SB_LUT4 (LogicCell: blink_counter_182__i1_LC_19)
set_location blink_counter_182__i1 5 21 1 # SB_DFF (LogicCell: blink_counter_182__i1_LC_19)
set_location blink_counter_182_add_4_3 5 21 1 # SB_CARRY (LogicCell: blink_counter_182__i1_LC_19)
set_location blink_counter_182_add_4_4_lut 5 21 2 # SB_LUT4 (LogicCell: blink_counter_182__i2_LC_20)
set_location blink_counter_182__i2 5 21 2 # SB_DFF (LogicCell: blink_counter_182__i2_LC_20)
set_location blink_counter_182_add_4_4 5 21 2 # SB_CARRY (LogicCell: blink_counter_182__i2_LC_20)
set_location blink_counter_182_add_4_5_lut 5 21 3 # SB_LUT4 (LogicCell: blink_counter_182__i3_LC_21)
set_location blink_counter_182__i3 5 21 3 # SB_DFF (LogicCell: blink_counter_182__i3_LC_21)
set_location blink_counter_182_add_4_5 5 21 3 # SB_CARRY (LogicCell: blink_counter_182__i3_LC_21)
set_location blink_counter_182_add_4_6_lut 5 21 4 # SB_LUT4 (LogicCell: blink_counter_182__i4_LC_22)
set_location blink_counter_182__i4 5 21 4 # SB_DFF (LogicCell: blink_counter_182__i4_LC_22)
set_location blink_counter_182_add_4_6 5 21 4 # SB_CARRY (LogicCell: blink_counter_182__i4_LC_22)
set_location blink_counter_182_add_4_7_lut 5 21 5 # SB_LUT4 (LogicCell: blink_counter_182__i5_LC_23)
set_location blink_counter_182__i5 5 21 5 # SB_DFF (LogicCell: blink_counter_182__i5_LC_23)
set_location blink_counter_182_add_4_7 5 21 5 # SB_CARRY (LogicCell: blink_counter_182__i5_LC_23)
set_location blink_counter_182_add_4_8_lut 5 21 6 # SB_LUT4 (LogicCell: blink_counter_182__i6_LC_24)
set_location blink_counter_182__i6 5 21 6 # SB_DFF (LogicCell: blink_counter_182__i6_LC_24)
set_location blink_counter_182_add_4_8 5 21 6 # SB_CARRY (LogicCell: blink_counter_182__i6_LC_24)
set_location blink_counter_182_add_4_9_lut 5 21 7 # SB_LUT4 (LogicCell: blink_counter_182__i7_LC_25)
set_location blink_counter_182__i7 5 21 7 # SB_DFF (LogicCell: blink_counter_182__i7_LC_25)
set_location blink_counter_182_add_4_9 5 21 7 # SB_CARRY (LogicCell: blink_counter_182__i7_LC_25)
set_location i557_3_lut 9 23 3 # SB_LUT4 (LogicCell: tli.spi.i275_LC_26)
set_location tli.spi.i275 9 23 3 # SB_DFF (LogicCell: tli.spi.i275_LC_26)
set_location i558_3_lut 4 21 4 # SB_LUT4 (LogicCell: tli.spi.core_clk_100_LC_27)
set_location tli.spi.core_clk_100 4 21 4 # SB_DFF (LogicCell: tli.spi.core_clk_100_LC_27)
set_location i713_4_lut 5 24 4 # SB_LUT4 (LogicCell: i713_4_lut_LC_28)
set_location i714_4_lut 5 24 5 # SB_LUT4 (LogicCell: i714_4_lut_LC_29)
set_location i715_3_lut 5 24 2 # SB_LUT4 (LogicCell: i715_3_lut_LC_30)
set_location tli.delay_counter_183_add_4_10_lut 7 23 0 # SB_LUT4 (LogicCell: tli.delay_counter_183__i8_LC_31)
set_location tli.delay_counter_183__i8 7 23 0 # SB_DFFESR (LogicCell: tli.delay_counter_183__i8_LC_31)
set_location tli.delay_counter_183_add_4_10 7 23 0 # SB_CARRY (LogicCell: tli.delay_counter_183__i8_LC_31)
set_location tli.delay_counter_183_add_4_11_lut 7 23 1 # SB_LUT4 (LogicCell: tli.delay_counter_183__i9_LC_32)
set_location tli.delay_counter_183__i9 7 23 1 # SB_DFFESR (LogicCell: tli.delay_counter_183__i9_LC_32)
set_location tli.delay_counter_183_add_4_11 7 23 1 # SB_CARRY (LogicCell: tli.delay_counter_183__i9_LC_32)
set_location tli.delay_counter_183_add_4_12_lut 7 23 2 # SB_LUT4 (LogicCell: tli.delay_counter_183__i10_LC_33)
set_location tli.delay_counter_183__i10 7 23 2 # SB_DFFESR (LogicCell: tli.delay_counter_183__i10_LC_33)
set_location tli.delay_counter_183_add_4_12 7 23 2 # SB_CARRY (LogicCell: tli.delay_counter_183__i10_LC_33)
set_location tli.delay_counter_183_add_4_13_lut 7 23 3 # SB_LUT4 (LogicCell: tli.delay_counter_183__i11_LC_34)
set_location tli.delay_counter_183__i11 7 23 3 # SB_DFFESR (LogicCell: tli.delay_counter_183__i11_LC_34)
set_location tli.delay_counter_183_add_4_13 7 23 3 # SB_CARRY (LogicCell: tli.delay_counter_183__i11_LC_34)
set_location tli.delay_counter_183_add_4_14_lut 7 23 4 # SB_LUT4 (LogicCell: tli.delay_counter_183__i12_LC_35)
set_location tli.delay_counter_183__i12 7 23 4 # SB_DFFESR (LogicCell: tli.delay_counter_183__i12_LC_35)
set_location tli.delay_counter_183_add_4_14 7 23 4 # SB_CARRY (LogicCell: tli.delay_counter_183__i12_LC_35)
set_location tli.delay_counter_183_add_4_15_lut 7 23 5 # SB_LUT4 (LogicCell: tli.delay_counter_183__i13_LC_36)
set_location tli.delay_counter_183__i13 7 23 5 # SB_DFFESR (LogicCell: tli.delay_counter_183__i13_LC_36)
set_location tli.delay_counter_183_add_4_15 7 23 5 # SB_CARRY (LogicCell: tli.delay_counter_183__i13_LC_36)
set_location tli.delay_counter_183_add_4_16_lut 7 23 6 # SB_LUT4 (LogicCell: tli.delay_counter_183__i14_LC_37)
set_location tli.delay_counter_183__i14 7 23 6 # SB_DFFESR (LogicCell: tli.delay_counter_183__i14_LC_37)
set_location tli.delay_counter_183_add_4_16 7 23 6 # SB_CARRY (LogicCell: tli.delay_counter_183__i14_LC_37)
set_location tli.delay_counter_183_add_4_17_lut 7 23 7 # SB_LUT4 (LogicCell: tli.delay_counter_183__i15_LC_38)
set_location tli.delay_counter_183__i15 7 23 7 # SB_DFFESR (LogicCell: tli.delay_counter_183__i15_LC_38)
set_location tli.delay_counter_183_add_4_17 7 23 7 # SB_CARRY (LogicCell: tli.delay_counter_183__i15_LC_38)
set_location tli.delay_counter_183_add_4_18_lut 7 24 0 # SB_LUT4 (LogicCell: tli.delay_counter_183__i16_LC_39)
set_location tli.delay_counter_183__i16 7 24 0 # SB_DFFESR (LogicCell: tli.delay_counter_183__i16_LC_39)
set_location tli.delay_counter_183_add_4_18 7 24 0 # SB_CARRY (LogicCell: tli.delay_counter_183__i16_LC_39)
set_location tli.delay_counter_183_add_4_19_lut 7 24 1 # SB_LUT4 (LogicCell: tli.delay_counter_183__i17_LC_40)
set_location tli.delay_counter_183__i17 7 24 1 # SB_DFFESR (LogicCell: tli.delay_counter_183__i17_LC_40)
set_location tli.delay_counter_183_add_4_19 7 24 1 # SB_CARRY (LogicCell: tli.delay_counter_183__i17_LC_40)
set_location tli.delay_counter_183_add_4_20_lut 7 24 2 # SB_LUT4 (LogicCell: tli.delay_counter_183__i18_LC_41)
set_location tli.delay_counter_183__i18 7 24 2 # SB_DFFESR (LogicCell: tli.delay_counter_183__i18_LC_41)
set_location tli.delay_counter_183_add_4_20 7 24 2 # SB_CARRY (LogicCell: tli.delay_counter_183__i18_LC_41)
set_location tli.delay_counter_183_add_4_21_lut 7 24 3 # SB_LUT4 (LogicCell: tli.delay_counter_183__i19_LC_42)
set_location tli.delay_counter_183__i19 7 24 3 # SB_DFFESR (LogicCell: tli.delay_counter_183__i19_LC_42)
set_location tli.delay_counter_183_add_4_21 7 24 3 # SB_CARRY (LogicCell: tli.delay_counter_183__i19_LC_42)
set_location tli.delay_counter_183_add_4_22_lut 7 24 4 # SB_LUT4 (LogicCell: tli.delay_counter_183__i20_LC_43)
set_location tli.delay_counter_183__i20 7 24 4 # SB_DFFESR (LogicCell: tli.delay_counter_183__i20_LC_43)
set_location tli.delay_counter_183_add_4_22 7 24 4 # SB_CARRY (LogicCell: tli.delay_counter_183__i20_LC_43)
set_location tli.delay_counter_183_add_4_23_lut 7 24 5 # SB_LUT4 (LogicCell: tli.delay_counter_183__i21_LC_44)
set_location tli.delay_counter_183__i21 7 24 5 # SB_DFFESR (LogicCell: tli.delay_counter_183__i21_LC_44)
set_location tli.delay_counter_183_add_4_23 7 24 5 # SB_CARRY (LogicCell: tli.delay_counter_183__i21_LC_44)
set_location tli.delay_counter_183_add_4_24_lut 7 24 6 # SB_LUT4 (LogicCell: tli.delay_counter_183__i22_LC_45)
set_location tli.delay_counter_183__i22 7 24 6 # SB_DFFESR (LogicCell: tli.delay_counter_183__i22_LC_45)
set_location tli.delay_counter_183_add_4_24 7 24 6 # SB_CARRY (LogicCell: tli.delay_counter_183__i22_LC_45)
set_location tli.delay_counter_183_add_4_25_lut 7 24 7 # SB_LUT4 (LogicCell: tli.delay_counter_183__i23_LC_46)
set_location tli.delay_counter_183__i23 7 24 7 # SB_DFFESR (LogicCell: tli.delay_counter_183__i23_LC_46)
set_location tli.delay_counter_183_add_4_25 7 24 7 # SB_CARRY (LogicCell: tli.delay_counter_183__i23_LC_46)
set_location tli.delay_counter_183_add_4_26_lut 7 25 0 # SB_LUT4 (LogicCell: tli.delay_counter_183__i24_LC_47)
set_location tli.delay_counter_183__i24 7 25 0 # SB_DFFESR (LogicCell: tli.delay_counter_183__i24_LC_47)
set_location tli.delay_counter_183_add_4_26 7 25 0 # SB_CARRY (LogicCell: tli.delay_counter_183__i24_LC_47)
set_location tli.delay_counter_183_add_4_27_lut 7 25 1 # SB_LUT4 (LogicCell: tli.delay_counter_183__i25_LC_48)
set_location tli.delay_counter_183__i25 7 25 1 # SB_DFFESR (LogicCell: tli.delay_counter_183__i25_LC_48)
set_location tli.delay_counter_183_add_4_27 7 25 1 # SB_CARRY (LogicCell: tli.delay_counter_183__i25_LC_48)
set_location tli.delay_counter_183_add_4_28_lut 7 25 2 # SB_LUT4 (LogicCell: tli.delay_counter_183__i26_LC_49)
set_location tli.delay_counter_183__i26 7 25 2 # SB_DFFESR (LogicCell: tli.delay_counter_183__i26_LC_49)
set_location tli.delay_counter_183_add_4_28 7 25 2 # SB_CARRY (LogicCell: tli.delay_counter_183__i26_LC_49)
set_location tli.delay_counter_183_add_4_29_lut 7 25 3 # SB_LUT4 (LogicCell: tli.delay_counter_183__i27_LC_50)
set_location tli.delay_counter_183__i27 7 25 3 # SB_DFFESR (LogicCell: tli.delay_counter_183__i27_LC_50)
set_location tli.delay_counter_183_add_4_29 7 25 3 # SB_CARRY (LogicCell: tli.delay_counter_183__i27_LC_50)
set_location tli.delay_counter_183_add_4_2_lut 7 22 0 # SB_LUT4 (LogicCell: tli.delay_counter_183__i0_LC_51)
set_location tli.delay_counter_183__i0 7 22 0 # SB_DFFESR (LogicCell: tli.delay_counter_183__i0_LC_51)
set_location tli.delay_counter_183_add_4_2 7 22 0 # SB_CARRY (LogicCell: tli.delay_counter_183__i0_LC_51)
set_location tli.delay_counter_183_add_4_30_lut 7 25 4 # SB_LUT4 (LogicCell: tli.delay_counter_183__i28_LC_52)
set_location tli.delay_counter_183__i28 7 25 4 # SB_DFFESR (LogicCell: tli.delay_counter_183__i28_LC_52)
set_location tli.delay_counter_183_add_4_30 7 25 4 # SB_CARRY (LogicCell: tli.delay_counter_183__i28_LC_52)
set_location tli.delay_counter_183_add_4_31_lut 7 25 5 # SB_LUT4 (LogicCell: tli.delay_counter_183__i29_LC_53)
set_location tli.delay_counter_183__i29 7 25 5 # SB_DFFESR (LogicCell: tli.delay_counter_183__i29_LC_53)
set_location tli.delay_counter_183_add_4_31 7 25 5 # SB_CARRY (LogicCell: tli.delay_counter_183__i29_LC_53)
set_location tli.delay_counter_183_add_4_32_lut 7 25 6 # SB_LUT4 (LogicCell: tli.delay_counter_183__i30_LC_54)
set_location tli.delay_counter_183__i30 7 25 6 # SB_DFFESR (LogicCell: tli.delay_counter_183__i30_LC_54)
set_location tli.delay_counter_183_add_4_32 7 25 6 # SB_CARRY (LogicCell: tli.delay_counter_183__i30_LC_54)
set_location tli.delay_counter_183_add_4_33_lut 7 25 7 # SB_LUT4 (LogicCell: tli.delay_counter_183__i31_LC_55)
set_location tli.delay_counter_183__i31 7 25 7 # SB_DFFESR (LogicCell: tli.delay_counter_183__i31_LC_55)
set_location tli.delay_counter_183_add_4_3_lut 7 22 1 # SB_LUT4 (LogicCell: tli.delay_counter_183__i1_LC_56)
set_location tli.delay_counter_183__i1 7 22 1 # SB_DFFESR (LogicCell: tli.delay_counter_183__i1_LC_56)
set_location tli.delay_counter_183_add_4_3 7 22 1 # SB_CARRY (LogicCell: tli.delay_counter_183__i1_LC_56)
set_location tli.delay_counter_183_add_4_4_lut 7 22 2 # SB_LUT4 (LogicCell: tli.delay_counter_183__i2_LC_57)
set_location tli.delay_counter_183__i2 7 22 2 # SB_DFFESR (LogicCell: tli.delay_counter_183__i2_LC_57)
set_location tli.delay_counter_183_add_4_4 7 22 2 # SB_CARRY (LogicCell: tli.delay_counter_183__i2_LC_57)
set_location tli.delay_counter_183_add_4_5_lut 7 22 3 # SB_LUT4 (LogicCell: tli.delay_counter_183__i3_LC_58)
set_location tli.delay_counter_183__i3 7 22 3 # SB_DFFESR (LogicCell: tli.delay_counter_183__i3_LC_58)
set_location tli.delay_counter_183_add_4_5 7 22 3 # SB_CARRY (LogicCell: tli.delay_counter_183__i3_LC_58)
set_location tli.delay_counter_183_add_4_6_lut 7 22 4 # SB_LUT4 (LogicCell: tli.delay_counter_183__i4_LC_59)
set_location tli.delay_counter_183__i4 7 22 4 # SB_DFFESR (LogicCell: tli.delay_counter_183__i4_LC_59)
set_location tli.delay_counter_183_add_4_6 7 22 4 # SB_CARRY (LogicCell: tli.delay_counter_183__i4_LC_59)
set_location tli.delay_counter_183_add_4_7_lut 7 22 5 # SB_LUT4 (LogicCell: tli.delay_counter_183__i5_LC_60)
set_location tli.delay_counter_183__i5 7 22 5 # SB_DFFESR (LogicCell: tli.delay_counter_183__i5_LC_60)
set_location tli.delay_counter_183_add_4_7 7 22 5 # SB_CARRY (LogicCell: tli.delay_counter_183__i5_LC_60)
set_location tli.delay_counter_183_add_4_8_lut 7 22 6 # SB_LUT4 (LogicCell: tli.delay_counter_183__i6_LC_61)
set_location tli.delay_counter_183__i6 7 22 6 # SB_DFFESR (LogicCell: tli.delay_counter_183__i6_LC_61)
set_location tli.delay_counter_183_add_4_8 7 22 6 # SB_CARRY (LogicCell: tli.delay_counter_183__i6_LC_61)
set_location tli.delay_counter_183_add_4_9_lut 7 22 7 # SB_LUT4 (LogicCell: tli.delay_counter_183__i7_LC_62)
set_location tli.delay_counter_183__i7 7 22 7 # SB_DFFESR (LogicCell: tli.delay_counter_183__i7_LC_62)
set_location tli.delay_counter_183_add_4_9 7 22 7 # SB_CARRY (LogicCell: tli.delay_counter_183__i7_LC_62)
set_location tli.i10_4_lut 6 24 6 # SB_LUT4 (LogicCell: tli.i10_4_lut_LC_63)
set_location tli.i11_4_lut 6 25 0 # SB_LUT4 (LogicCell: tli.i11_4_lut_LC_64)
set_location tli.i12_4_lut 6 24 5 # SB_LUT4 (LogicCell: tli.i12_4_lut_LC_65)
set_location tli.i13_4_lut 6 23 4 # SB_LUT4 (LogicCell: tli.i13_4_lut_LC_66)
set_location tli.i1_2_lut 6 22 4 # SB_LUT4 (LogicCell: tli.i1_2_lut_LC_67)
set_location tli.i1_2_lut_adj_5 6 23 6 # SB_LUT4 (LogicCell: tli.i1_2_lut_adj_5_LC_68)
set_location tli.i1_2_lut_adj_6 6 23 1 # SB_LUT4 (LogicCell: tli.i1_2_lut_adj_6_LC_69)
set_location tli.i1_4_lut 6 23 3 # SB_LUT4 (LogicCell: tli.i1_4_lut_LC_70)
set_location tli.i421_4_lut 6 23 2 # SB_LUT4 (LogicCell: tli.i421_4_lut_LC_71)
set_location tli.i4_4_lut 6 23 0 # SB_LUT4 (LogicCell: tli.i4_4_lut_LC_72)
set_location tli.i559_3_lut_4_lut 6 24 4 # SB_LUT4 (LogicCell: tli.current__i13_LC_73)
set_location tli.current__i13 6 24 4 # SB_DFF (LogicCell: tli.current__i13_LC_73)
set_location tli.i560_3_lut_4_lut 5 24 6 # SB_LUT4 (LogicCell: tli.current__i1_LC_74)
set_location tli.current__i1 5 24 6 # SB_DFF (LogicCell: tli.current__i1_LC_74)
set_location tli.i561_3_lut_4_lut 6 24 0 # SB_LUT4 (LogicCell: tli.current__i12_LC_75)
set_location tli.current__i12 6 24 0 # SB_DFF (LogicCell: tli.current__i12_LC_75)
set_location tli.i562_3_lut_4_lut 5 24 7 # SB_LUT4 (LogicCell: tli.current__i11_LC_76)
set_location tli.current__i11 5 24 7 # SB_DFF (LogicCell: tli.current__i11_LC_76)
set_location tli.i563_3_lut_4_lut 6 24 3 # SB_LUT4 (LogicCell: tli.current__i10_LC_77)
set_location tli.current__i10 6 24 3 # SB_DFF (LogicCell: tli.current__i10_LC_77)
set_location tli.i564_3_lut_4_lut 6 22 3 # SB_LUT4 (LogicCell: tli.current__i9_LC_78)
set_location tli.current__i9 6 22 3 # SB_DFF (LogicCell: tli.current__i9_LC_78)
set_location tli.i565_3_lut_4_lut 6 22 6 # SB_LUT4 (LogicCell: tli.current__i8_LC_79)
set_location tli.current__i8 6 22 6 # SB_DFF (LogicCell: tli.current__i8_LC_79)
set_location tli.i566_3_lut_4_lut 6 22 2 # SB_LUT4 (LogicCell: tli.current__i7_LC_80)
set_location tli.current__i7 6 22 2 # SB_DFF (LogicCell: tli.current__i7_LC_80)
set_location tli.i567_3_lut_4_lut 6 22 7 # SB_LUT4 (LogicCell: tli.current__i6_LC_81)
set_location tli.current__i6 6 22 7 # SB_DFF (LogicCell: tli.current__i6_LC_81)
set_location tli.i568_3_lut_4_lut 6 22 1 # SB_LUT4 (LogicCell: tli.current__i5_LC_82)
set_location tli.current__i5 6 22 1 # SB_DFF (LogicCell: tli.current__i5_LC_82)
set_location tli.i569_3_lut_4_lut 6 24 7 # SB_LUT4 (LogicCell: tli.current__i4_LC_83)
set_location tli.current__i4 6 24 7 # SB_DFF (LogicCell: tli.current__i4_LC_83)
set_location tli.i571_3_lut_4_lut 6 24 1 # SB_LUT4 (LogicCell: tli.current__i3_LC_84)
set_location tli.current__i3 6 24 1 # SB_DFF (LogicCell: tli.current__i3_LC_84)
set_location tli.i572_3_lut_4_lut 6 24 2 # SB_LUT4 (LogicCell: tli.current__i2_LC_85)
set_location tli.current__i2 6 24 2 # SB_DFF (LogicCell: tli.current__i2_LC_85)
set_location tli.i620_4_lut 6 23 5 # SB_LUT4 (LogicCell: tli.i620_4_lut_LC_86)
set_location tli.i6_4_lut 6 22 0 # SB_LUT4 (LogicCell: tli.i6_4_lut_LC_87)
set_location tli.i7_4_lut 6 22 5 # SB_LUT4 (LogicCell: tli.i7_4_lut_LC_88)
set_location tli.spi.core_n_clk_o_I_0_143_2_lut 4 21 0 # SB_LUT4 (LogicCell: tli.spi.core_n_clk_101_LC_89)
set_location tli.spi.core_n_clk_101 4 21 0 # SB_DFF (LogicCell: tli.spi.core_n_clk_101_LC_89)
set_location tli.spi.i3_4_lut 4 21 5 # SB_LUT4 (LogicCell: tli.spi.spi_2x_ce_98_LC_90)
set_location tli.spi.spi_2x_ce_98 4 21 5 # SB_DFF (LogicCell: tli.spi.spi_2x_ce_98_LC_90)
set_location tli.spi.i656_1_lut 4 21 7 # SB_LUT4 (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i0_LC_91)
set_location tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i0 4 21 7 # SB_DFF (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i0_LC_91)
set_location tli.spi.i658_2_lut 4 21 2 # SB_LUT4 (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i1_LC_92)
set_location tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i1 4 21 2 # SB_DFF (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i1_LC_92)
set_location tli.spi.i665_2_lut_3_lut 4 21 3 # SB_LUT4 (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i2_LC_93)
set_location tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i2 4 21 3 # SB_DFF (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i2_LC_93)
set_location tli.spi.i672_3_lut_4_lut 4 21 6 # SB_LUT4 (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i3_LC_94)
set_location tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i3 4 21 6 # SB_DFF (LogicCell: tli.spi.spi_2x_ce_gen_proc.clk_cnt_184__i3_LC_94)
set_location tli.i1_2_lut_adj_5_tli.wren_18_REP_LUT4_0 6 23 7 # SB_LUT4 (LogicCell: tli.wren_18_LC_95)
set_location tli.wren_18 6 23 7 # SB_DFF (LogicCell: tli.wren_18_LC_95)
set_io CS_CLK_pad 33 2 1 # ICE_IO
set_io CS_MISO_pad 33 6 0 # ICE_IO
set_io CS_pad 33 17 0 # ICE_IO
set_io DE_pad 3 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io INHA_pad 23 33 0 # ICE_IO
set_io INHB_pad 27 33 0 # ICE_IO
set_io INHC_pad 28 33 1 # ICE_IO
set_io INLA_pad 24 33 0 # ICE_IO
set_io INLB_pad 25 33 1 # ICE_IO
set_io INLC_pad 30 33 1 # ICE_IO
set_io LED_pad 5 33 1 # ICE_IO
set_io NEOPXL_pad 0 17 1 # ICE_IO
set_io SCL_pad 33 21 1 # ICE_IO
set_io TX_pad 3 0 1 # ICE_IO
set_io USBPU_pad 6 33 0 # ICE_IO
set_io CLK_pad 0 30 0 # ICE_IO
set_io CLK_pad_gb 0 17 0 # ICE_GB
set_location CONSTANT_ONE_LUT4 10 17 6 # SB_LUT4 (LogicCell: LC_96)
