set_location blink_counter_363_add_4_10_lut 14 22 0 # SB_LUT4 (LogicCell: blink_counter_363__i8_LC_0)
set_location blink_counter_363__i8 14 22 0 # SB_DFF (LogicCell: blink_counter_363__i8_LC_0)
set_location blink_counter_363_add_4_10 14 22 0 # SB_CARRY (LogicCell: blink_counter_363__i8_LC_0)
set_location blink_counter_363_add_4_11_lut 14 22 1 # SB_LUT4 (LogicCell: blink_counter_363__i9_LC_1)
set_location blink_counter_363__i9 14 22 1 # SB_DFF (LogicCell: blink_counter_363__i9_LC_1)
set_location blink_counter_363_add_4_11 14 22 1 # SB_CARRY (LogicCell: blink_counter_363__i9_LC_1)
set_location blink_counter_363_add_4_12_lut 14 22 2 # SB_LUT4 (LogicCell: blink_counter_363__i10_LC_2)
set_location blink_counter_363__i10 14 22 2 # SB_DFF (LogicCell: blink_counter_363__i10_LC_2)
set_location blink_counter_363_add_4_12 14 22 2 # SB_CARRY (LogicCell: blink_counter_363__i10_LC_2)
set_location blink_counter_363_add_4_13_lut 14 22 3 # SB_LUT4 (LogicCell: blink_counter_363__i11_LC_3)
set_location blink_counter_363__i11 14 22 3 # SB_DFF (LogicCell: blink_counter_363__i11_LC_3)
set_location blink_counter_363_add_4_13 14 22 3 # SB_CARRY (LogicCell: blink_counter_363__i11_LC_3)
set_location blink_counter_363_add_4_14_lut 14 22 4 # SB_LUT4 (LogicCell: blink_counter_363__i12_LC_4)
set_location blink_counter_363__i12 14 22 4 # SB_DFF (LogicCell: blink_counter_363__i12_LC_4)
set_location blink_counter_363_add_4_14 14 22 4 # SB_CARRY (LogicCell: blink_counter_363__i12_LC_4)
set_location blink_counter_363_add_4_15_lut 14 22 5 # SB_LUT4 (LogicCell: blink_counter_363__i13_LC_5)
set_location blink_counter_363__i13 14 22 5 # SB_DFF (LogicCell: blink_counter_363__i13_LC_5)
set_location blink_counter_363_add_4_15 14 22 5 # SB_CARRY (LogicCell: blink_counter_363__i13_LC_5)
set_location blink_counter_363_add_4_16_lut 14 22 6 # SB_LUT4 (LogicCell: blink_counter_363__i14_LC_6)
set_location blink_counter_363__i14 14 22 6 # SB_DFF (LogicCell: blink_counter_363__i14_LC_6)
set_location blink_counter_363_add_4_16 14 22 6 # SB_CARRY (LogicCell: blink_counter_363__i14_LC_6)
set_location blink_counter_363_add_4_17_lut 14 22 7 # SB_LUT4 (LogicCell: blink_counter_363__i15_LC_7)
set_location blink_counter_363__i15 14 22 7 # SB_DFF (LogicCell: blink_counter_363__i15_LC_7)
set_location blink_counter_363_add_4_17 14 22 7 # SB_CARRY (LogicCell: blink_counter_363__i15_LC_7)
set_location blink_counter_363_add_4_18_lut 14 23 0 # SB_LUT4 (LogicCell: blink_counter_363__i16_LC_8)
set_location blink_counter_363__i16 14 23 0 # SB_DFF (LogicCell: blink_counter_363__i16_LC_8)
set_location blink_counter_363_add_4_18 14 23 0 # SB_CARRY (LogicCell: blink_counter_363__i16_LC_8)
set_location blink_counter_363_add_4_19_lut 14 23 1 # SB_LUT4 (LogicCell: blink_counter_363__i17_LC_9)
set_location blink_counter_363__i17 14 23 1 # SB_DFF (LogicCell: blink_counter_363__i17_LC_9)
set_location blink_counter_363_add_4_19 14 23 1 # SB_CARRY (LogicCell: blink_counter_363__i17_LC_9)
set_location blink_counter_363_add_4_20_lut 14 23 2 # SB_LUT4 (LogicCell: blink_counter_363__i18_LC_10)
set_location blink_counter_363__i18 14 23 2 # SB_DFF (LogicCell: blink_counter_363__i18_LC_10)
set_location blink_counter_363_add_4_20 14 23 2 # SB_CARRY (LogicCell: blink_counter_363__i18_LC_10)
set_location blink_counter_363_add_4_21_lut 14 23 3 # SB_LUT4 (LogicCell: blink_counter_363__i19_LC_11)
set_location blink_counter_363__i19 14 23 3 # SB_DFF (LogicCell: blink_counter_363__i19_LC_11)
set_location blink_counter_363_add_4_21 14 23 3 # SB_CARRY (LogicCell: blink_counter_363__i19_LC_11)
set_location blink_counter_363_add_4_22_lut 14 23 4 # SB_LUT4 (LogicCell: blink_counter_363__i20_LC_12)
set_location blink_counter_363__i20 14 23 4 # SB_DFF (LogicCell: blink_counter_363__i20_LC_12)
set_location blink_counter_363_add_4_22 14 23 4 # SB_CARRY (LogicCell: blink_counter_363__i20_LC_12)
set_location blink_counter_363_add_4_23_lut 14 23 5 # SB_LUT4 (LogicCell: blink_counter_363__i21_LC_13)
set_location blink_counter_363__i21 14 23 5 # SB_DFF (LogicCell: blink_counter_363__i21_LC_13)
set_location blink_counter_363_add_4_23 14 23 5 # SB_CARRY (LogicCell: blink_counter_363__i21_LC_13)
set_location blink_counter_363_add_4_24_lut 14 23 6 # SB_LUT4 (LogicCell: blink_counter_363__i22_LC_14)
set_location blink_counter_363__i22 14 23 6 # SB_DFF (LogicCell: blink_counter_363__i22_LC_14)
set_location blink_counter_363_add_4_24 14 23 6 # SB_CARRY (LogicCell: blink_counter_363__i22_LC_14)
set_location blink_counter_363_add_4_25_lut 14 23 7 # SB_LUT4 (LogicCell: blink_counter_363__i23_LC_15)
set_location blink_counter_363__i23 14 23 7 # SB_DFF (LogicCell: blink_counter_363__i23_LC_15)
set_location blink_counter_363_add_4_25 14 23 7 # SB_CARRY (LogicCell: blink_counter_363__i23_LC_15)
set_location blink_counter_363_add_4_26_lut 14 24 0 # SB_LUT4 (LogicCell: blink_counter_363__i24_LC_16)
set_location blink_counter_363__i24 14 24 0 # SB_DFF (LogicCell: blink_counter_363__i24_LC_16)
set_location blink_counter_363_add_4_26 14 24 0 # SB_CARRY (LogicCell: blink_counter_363__i24_LC_16)
set_location blink_counter_363_add_4_27_lut 14 24 1 # SB_LUT4 (LogicCell: blink_counter_363__i25_LC_17)
set_location blink_counter_363__i25 14 24 1 # SB_DFF (LogicCell: blink_counter_363__i25_LC_17)
set_location blink_counter_363_add_4_2_lut 14 21 0 # SB_LUT4 (LogicCell: blink_counter_363__i0_LC_18)
set_location blink_counter_363__i0 14 21 0 # SB_DFF (LogicCell: blink_counter_363__i0_LC_18)
set_location blink_counter_363_add_4_2 14 21 0 # SB_CARRY (LogicCell: blink_counter_363__i0_LC_18)
set_location blink_counter_363_add_4_3_lut 14 21 1 # SB_LUT4 (LogicCell: blink_counter_363__i1_LC_19)
set_location blink_counter_363__i1 14 21 1 # SB_DFF (LogicCell: blink_counter_363__i1_LC_19)
set_location blink_counter_363_add_4_3 14 21 1 # SB_CARRY (LogicCell: blink_counter_363__i1_LC_19)
set_location blink_counter_363_add_4_4_lut 14 21 2 # SB_LUT4 (LogicCell: blink_counter_363__i2_LC_20)
set_location blink_counter_363__i2 14 21 2 # SB_DFF (LogicCell: blink_counter_363__i2_LC_20)
set_location blink_counter_363_add_4_4 14 21 2 # SB_CARRY (LogicCell: blink_counter_363__i2_LC_20)
set_location blink_counter_363_add_4_5_lut 14 21 3 # SB_LUT4 (LogicCell: blink_counter_363__i3_LC_21)
set_location blink_counter_363__i3 14 21 3 # SB_DFF (LogicCell: blink_counter_363__i3_LC_21)
set_location blink_counter_363_add_4_5 14 21 3 # SB_CARRY (LogicCell: blink_counter_363__i3_LC_21)
set_location blink_counter_363_add_4_6_lut 14 21 4 # SB_LUT4 (LogicCell: blink_counter_363__i4_LC_22)
set_location blink_counter_363__i4 14 21 4 # SB_DFF (LogicCell: blink_counter_363__i4_LC_22)
set_location blink_counter_363_add_4_6 14 21 4 # SB_CARRY (LogicCell: blink_counter_363__i4_LC_22)
set_location blink_counter_363_add_4_7_lut 14 21 5 # SB_LUT4 (LogicCell: blink_counter_363__i5_LC_23)
set_location blink_counter_363__i5 14 21 5 # SB_DFF (LogicCell: blink_counter_363__i5_LC_23)
set_location blink_counter_363_add_4_7 14 21 5 # SB_CARRY (LogicCell: blink_counter_363__i5_LC_23)
set_location blink_counter_363_add_4_8_lut 14 21 6 # SB_LUT4 (LogicCell: blink_counter_363__i6_LC_24)
set_location blink_counter_363__i6 14 21 6 # SB_DFF (LogicCell: blink_counter_363__i6_LC_24)
set_location blink_counter_363_add_4_8 14 21 6 # SB_CARRY (LogicCell: blink_counter_363__i6_LC_24)
set_location blink_counter_363_add_4_9_lut 14 21 7 # SB_LUT4 (LogicCell: blink_counter_363__i7_LC_25)
set_location blink_counter_363__i7 14 21 7 # SB_DFF (LogicCell: blink_counter_363__i7_LC_25)
set_location blink_counter_363_add_4_9 14 21 7 # SB_CARRY (LogicCell: blink_counter_363__i7_LC_25)
set_location delay_counter_362_add_4_10_lut 17 22 0 # SB_LUT4 (LogicCell: delay_counter_362__i8_LC_26)
set_location delay_counter_362__i8 17 22 0 # SB_DFFSR (LogicCell: delay_counter_362__i8_LC_26)
set_location delay_counter_362_add_4_10 17 22 0 # SB_CARRY (LogicCell: delay_counter_362__i8_LC_26)
set_location delay_counter_362_add_4_11_lut 17 22 1 # SB_LUT4 (LogicCell: delay_counter_362__i9_LC_27)
set_location delay_counter_362__i9 17 22 1 # SB_DFFSR (LogicCell: delay_counter_362__i9_LC_27)
set_location delay_counter_362_add_4_11 17 22 1 # SB_CARRY (LogicCell: delay_counter_362__i9_LC_27)
set_location delay_counter_362_add_4_12_lut 17 22 2 # SB_LUT4 (LogicCell: delay_counter_362__i10_LC_28)
set_location delay_counter_362__i10 17 22 2 # SB_DFFSR (LogicCell: delay_counter_362__i10_LC_28)
set_location delay_counter_362_add_4_12 17 22 2 # SB_CARRY (LogicCell: delay_counter_362__i10_LC_28)
set_location delay_counter_362_add_4_13_lut 17 22 3 # SB_LUT4 (LogicCell: delay_counter_362__i11_LC_29)
set_location delay_counter_362__i11 17 22 3 # SB_DFFSR (LogicCell: delay_counter_362__i11_LC_29)
set_location delay_counter_362_add_4_13 17 22 3 # SB_CARRY (LogicCell: delay_counter_362__i11_LC_29)
set_location delay_counter_362_add_4_14_lut 17 22 4 # SB_LUT4 (LogicCell: delay_counter_362__i12_LC_30)
set_location delay_counter_362__i12 17 22 4 # SB_DFFSR (LogicCell: delay_counter_362__i12_LC_30)
set_location delay_counter_362_add_4_14 17 22 4 # SB_CARRY (LogicCell: delay_counter_362__i12_LC_30)
set_location delay_counter_362_add_4_15_lut 17 22 5 # SB_LUT4 (LogicCell: delay_counter_362__i13_LC_31)
set_location delay_counter_362__i13 17 22 5 # SB_DFFSR (LogicCell: delay_counter_362__i13_LC_31)
set_location delay_counter_362_add_4_15 17 22 5 # SB_CARRY (LogicCell: delay_counter_362__i13_LC_31)
set_location delay_counter_362_add_4_16_lut 17 22 6 # SB_LUT4 (LogicCell: delay_counter_362__i14_LC_32)
set_location delay_counter_362__i14 17 22 6 # SB_DFFSR (LogicCell: delay_counter_362__i14_LC_32)
set_location delay_counter_362_add_4_16 17 22 6 # SB_CARRY (LogicCell: delay_counter_362__i14_LC_32)
set_location delay_counter_362_add_4_17_lut 17 22 7 # SB_LUT4 (LogicCell: delay_counter_362__i15_LC_33)
set_location delay_counter_362__i15 17 22 7 # SB_DFFSR (LogicCell: delay_counter_362__i15_LC_33)
set_location delay_counter_362_add_4_17 17 22 7 # SB_CARRY (LogicCell: delay_counter_362__i15_LC_33)
set_location delay_counter_362_add_4_18_lut 17 23 0 # SB_LUT4 (LogicCell: delay_counter_362__i16_LC_34)
set_location delay_counter_362__i16 17 23 0 # SB_DFFSR (LogicCell: delay_counter_362__i16_LC_34)
set_location delay_counter_362_add_4_18 17 23 0 # SB_CARRY (LogicCell: delay_counter_362__i16_LC_34)
set_location delay_counter_362_add_4_19_lut 17 23 1 # SB_LUT4 (LogicCell: delay_counter_362__i17_LC_35)
set_location delay_counter_362__i17 17 23 1 # SB_DFFSR (LogicCell: delay_counter_362__i17_LC_35)
set_location delay_counter_362_add_4_19 17 23 1 # SB_CARRY (LogicCell: delay_counter_362__i17_LC_35)
set_location delay_counter_362_add_4_20_lut 17 23 2 # SB_LUT4 (LogicCell: delay_counter_362__i18_LC_36)
set_location delay_counter_362__i18 17 23 2 # SB_DFFSR (LogicCell: delay_counter_362__i18_LC_36)
set_location delay_counter_362_add_4_20 17 23 2 # SB_CARRY (LogicCell: delay_counter_362__i18_LC_36)
set_location delay_counter_362_add_4_21_lut 17 23 3 # SB_LUT4 (LogicCell: delay_counter_362__i19_LC_37)
set_location delay_counter_362__i19 17 23 3 # SB_DFFSR (LogicCell: delay_counter_362__i19_LC_37)
set_location delay_counter_362_add_4_21 17 23 3 # SB_CARRY (LogicCell: delay_counter_362__i19_LC_37)
set_location delay_counter_362_add_4_22_lut 17 23 4 # SB_LUT4 (LogicCell: delay_counter_362__i20_LC_38)
set_location delay_counter_362__i20 17 23 4 # SB_DFFSR (LogicCell: delay_counter_362__i20_LC_38)
set_location delay_counter_362_add_4_22 17 23 4 # SB_CARRY (LogicCell: delay_counter_362__i20_LC_38)
set_location delay_counter_362_add_4_23_lut 17 23 5 # SB_LUT4 (LogicCell: delay_counter_362__i21_LC_39)
set_location delay_counter_362__i21 17 23 5 # SB_DFFSR (LogicCell: delay_counter_362__i21_LC_39)
set_location delay_counter_362_add_4_23 17 23 5 # SB_CARRY (LogicCell: delay_counter_362__i21_LC_39)
set_location delay_counter_362_add_4_24_lut 17 23 6 # SB_LUT4 (LogicCell: delay_counter_362__i22_LC_40)
set_location delay_counter_362__i22 17 23 6 # SB_DFFSR (LogicCell: delay_counter_362__i22_LC_40)
set_location delay_counter_362_add_4_24 17 23 6 # SB_CARRY (LogicCell: delay_counter_362__i22_LC_40)
set_location delay_counter_362_add_4_25_lut 17 23 7 # SB_LUT4 (LogicCell: delay_counter_362__i23_LC_41)
set_location delay_counter_362__i23 17 23 7 # SB_DFFSR (LogicCell: delay_counter_362__i23_LC_41)
set_location delay_counter_362_add_4_25 17 23 7 # SB_CARRY (LogicCell: delay_counter_362__i23_LC_41)
set_location delay_counter_362_add_4_26_lut 17 24 0 # SB_LUT4 (LogicCell: delay_counter_362__i24_LC_42)
set_location delay_counter_362__i24 17 24 0 # SB_DFFSR (LogicCell: delay_counter_362__i24_LC_42)
set_location delay_counter_362_add_4_26 17 24 0 # SB_CARRY (LogicCell: delay_counter_362__i24_LC_42)
set_location delay_counter_362_add_4_27_lut 17 24 1 # SB_LUT4 (LogicCell: delay_counter_362__i25_LC_43)
set_location delay_counter_362__i25 17 24 1 # SB_DFFSR (LogicCell: delay_counter_362__i25_LC_43)
set_location delay_counter_362_add_4_27 17 24 1 # SB_CARRY (LogicCell: delay_counter_362__i25_LC_43)
set_location delay_counter_362_add_4_28_lut 17 24 2 # SB_LUT4 (LogicCell: delay_counter_362__i26_LC_44)
set_location delay_counter_362__i26 17 24 2 # SB_DFFSR (LogicCell: delay_counter_362__i26_LC_44)
set_location delay_counter_362_add_4_28 17 24 2 # SB_CARRY (LogicCell: delay_counter_362__i26_LC_44)
set_location delay_counter_362_add_4_29_lut 17 24 3 # SB_LUT4 (LogicCell: delay_counter_362__i27_LC_45)
set_location delay_counter_362__i27 17 24 3 # SB_DFFSR (LogicCell: delay_counter_362__i27_LC_45)
set_location delay_counter_362_add_4_29 17 24 3 # SB_CARRY (LogicCell: delay_counter_362__i27_LC_45)
set_location delay_counter_362_add_4_2_lut 17 21 0 # SB_LUT4 (LogicCell: delay_counter_362__i0_LC_46)
set_location delay_counter_362__i0 17 21 0 # SB_DFFSR (LogicCell: delay_counter_362__i0_LC_46)
set_location delay_counter_362_add_4_2 17 21 0 # SB_CARRY (LogicCell: delay_counter_362__i0_LC_46)
set_location delay_counter_362_add_4_30_lut 17 24 4 # SB_LUT4 (LogicCell: delay_counter_362__i28_LC_47)
set_location delay_counter_362__i28 17 24 4 # SB_DFFSR (LogicCell: delay_counter_362__i28_LC_47)
set_location delay_counter_362_add_4_30 17 24 4 # SB_CARRY (LogicCell: delay_counter_362__i28_LC_47)
set_location delay_counter_362_add_4_31_lut 17 24 5 # SB_LUT4 (LogicCell: delay_counter_362__i29_LC_48)
set_location delay_counter_362__i29 17 24 5 # SB_DFFSR (LogicCell: delay_counter_362__i29_LC_48)
set_location delay_counter_362_add_4_31 17 24 5 # SB_CARRY (LogicCell: delay_counter_362__i29_LC_48)
set_location delay_counter_362_add_4_32_lut 17 24 6 # SB_LUT4 (LogicCell: delay_counter_362__i30_LC_49)
set_location delay_counter_362__i30 17 24 6 # SB_DFFSR (LogicCell: delay_counter_362__i30_LC_49)
set_location delay_counter_362_add_4_32 17 24 6 # SB_CARRY (LogicCell: delay_counter_362__i30_LC_49)
set_location delay_counter_362_add_4_33_lut 17 24 7 # SB_LUT4 (LogicCell: delay_counter_362__i31_LC_50)
set_location delay_counter_362__i31 17 24 7 # SB_DFFSR (LogicCell: delay_counter_362__i31_LC_50)
set_location delay_counter_362_add_4_3_lut 17 21 1 # SB_LUT4 (LogicCell: delay_counter_362__i1_LC_51)
set_location delay_counter_362__i1 17 21 1 # SB_DFFSR (LogicCell: delay_counter_362__i1_LC_51)
set_location delay_counter_362_add_4_3 17 21 1 # SB_CARRY (LogicCell: delay_counter_362__i1_LC_51)
set_location delay_counter_362_add_4_4_lut 17 21 2 # SB_LUT4 (LogicCell: delay_counter_362__i2_LC_52)
set_location delay_counter_362__i2 17 21 2 # SB_DFFSR (LogicCell: delay_counter_362__i2_LC_52)
set_location delay_counter_362_add_4_4 17 21 2 # SB_CARRY (LogicCell: delay_counter_362__i2_LC_52)
set_location delay_counter_362_add_4_5_lut 17 21 3 # SB_LUT4 (LogicCell: delay_counter_362__i3_LC_53)
set_location delay_counter_362__i3 17 21 3 # SB_DFFSR (LogicCell: delay_counter_362__i3_LC_53)
set_location delay_counter_362_add_4_5 17 21 3 # SB_CARRY (LogicCell: delay_counter_362__i3_LC_53)
set_location delay_counter_362_add_4_6_lut 17 21 4 # SB_LUT4 (LogicCell: delay_counter_362__i4_LC_54)
set_location delay_counter_362__i4 17 21 4 # SB_DFFSR (LogicCell: delay_counter_362__i4_LC_54)
set_location delay_counter_362_add_4_6 17 21 4 # SB_CARRY (LogicCell: delay_counter_362__i4_LC_54)
set_location delay_counter_362_add_4_7_lut 17 21 5 # SB_LUT4 (LogicCell: delay_counter_362__i5_LC_55)
set_location delay_counter_362__i5 17 21 5 # SB_DFFSR (LogicCell: delay_counter_362__i5_LC_55)
set_location delay_counter_362_add_4_7 17 21 5 # SB_CARRY (LogicCell: delay_counter_362__i5_LC_55)
set_location delay_counter_362_add_4_8_lut 17 21 6 # SB_LUT4 (LogicCell: delay_counter_362__i6_LC_56)
set_location delay_counter_362__i6 17 21 6 # SB_DFFSR (LogicCell: delay_counter_362__i6_LC_56)
set_location delay_counter_362_add_4_8 17 21 6 # SB_CARRY (LogicCell: delay_counter_362__i6_LC_56)
set_location delay_counter_362_add_4_9_lut 17 21 7 # SB_LUT4 (LogicCell: delay_counter_362__i7_LC_57)
set_location delay_counter_362__i7 17 21 7 # SB_DFFSR (LogicCell: delay_counter_362__i7_LC_57)
set_location delay_counter_362_add_4_9 17 21 7 # SB_CARRY (LogicCell: delay_counter_362__i7_LC_57)
set_location eeprom.add_158_10_lut 18 18 0 # SB_LUT4 (LogicCell: eeprom.add_158_10_lut_LC_58)
set_location eeprom.add_158_10 18 18 0 # SB_CARRY (LogicCell: eeprom.add_158_10_lut_LC_58)
set_location eeprom.add_158_11_lut 18 18 1 # SB_LUT4 (LogicCell: eeprom.add_158_11_lut_LC_59)
set_location eeprom.add_158_11 18 18 1 # SB_CARRY (LogicCell: eeprom.add_158_11_lut_LC_59)
set_location eeprom.add_158_12_lut 18 18 2 # SB_LUT4 (LogicCell: eeprom.add_158_12_lut_LC_60)
set_location eeprom.add_158_12 18 18 2 # SB_CARRY (LogicCell: eeprom.add_158_12_lut_LC_60)
set_location eeprom.add_158_13_lut 18 18 3 # SB_LUT4 (LogicCell: eeprom.add_158_13_lut_LC_61)
set_location eeprom.add_158_13 18 18 3 # SB_CARRY (LogicCell: eeprom.add_158_13_lut_LC_61)
set_location eeprom.add_158_14_lut 18 18 4 # SB_LUT4 (LogicCell: eeprom.add_158_14_lut_LC_62)
set_location eeprom.add_158_14 18 18 4 # SB_CARRY (LogicCell: eeprom.add_158_14_lut_LC_62)
set_location eeprom.add_158_15_lut 18 18 5 # SB_LUT4 (LogicCell: eeprom.add_158_15_lut_LC_63)
set_location eeprom.add_158_15 18 18 5 # SB_CARRY (LogicCell: eeprom.add_158_15_lut_LC_63)
set_location eeprom.add_158_16_lut 18 18 6 # SB_LUT4 (LogicCell: eeprom.add_158_16_lut_LC_64)
set_location eeprom.add_158_16 18 18 6 # SB_CARRY (LogicCell: eeprom.add_158_16_lut_LC_64)
set_location eeprom.add_158_17_lut 18 18 7 # SB_LUT4 (LogicCell: eeprom.add_158_17_lut_LC_65)
set_location eeprom.add_158_2_lut 18 17 0 # SB_LUT4 (LogicCell: eeprom.add_158_2_lut_LC_66)
set_location eeprom.add_158_2 18 17 0 # SB_CARRY (LogicCell: eeprom.add_158_2_lut_LC_66)
set_location eeprom.add_158_3_lut 18 17 1 # SB_LUT4 (LogicCell: eeprom.add_158_3_lut_LC_67)
set_location eeprom.add_158_3 18 17 1 # SB_CARRY (LogicCell: eeprom.add_158_3_lut_LC_67)
set_location eeprom.add_158_4_lut 18 17 2 # SB_LUT4 (LogicCell: eeprom.add_158_4_lut_LC_68)
set_location eeprom.add_158_4 18 17 2 # SB_CARRY (LogicCell: eeprom.add_158_4_lut_LC_68)
set_location eeprom.add_158_5_lut 18 17 3 # SB_LUT4 (LogicCell: eeprom.add_158_5_lut_LC_69)
set_location eeprom.add_158_5 18 17 3 # SB_CARRY (LogicCell: eeprom.add_158_5_lut_LC_69)
set_location eeprom.add_158_6_lut 18 17 4 # SB_LUT4 (LogicCell: eeprom.add_158_6_lut_LC_70)
set_location eeprom.add_158_6 18 17 4 # SB_CARRY (LogicCell: eeprom.add_158_6_lut_LC_70)
set_location eeprom.add_158_7_lut 18 17 5 # SB_LUT4 (LogicCell: eeprom.add_158_7_lut_LC_71)
set_location eeprom.add_158_7 18 17 5 # SB_CARRY (LogicCell: eeprom.add_158_7_lut_LC_71)
set_location eeprom.add_158_8_lut 18 17 6 # SB_LUT4 (LogicCell: eeprom.add_158_8_lut_LC_72)
set_location eeprom.add_158_8 18 17 6 # SB_CARRY (LogicCell: eeprom.add_158_8_lut_LC_72)
set_location eeprom.add_158_9_lut 18 17 7 # SB_LUT4 (LogicCell: eeprom.add_158_9_lut_LC_73)
set_location eeprom.add_158_9 18 17 7 # SB_CARRY (LogicCell: eeprom.add_158_9_lut_LC_73)
set_location eeprom.i1682_2_lut_3_lut 18 20 0 # SB_LUT4 (LogicCell: eeprom.i1682_2_lut_3_lut_LC_74)
set_location eeprom.i1696_2_lut 17 18 1 # SB_LUT4 (LogicCell: eeprom.i1696_2_lut_LC_75)
set_location eeprom.i1_3_lut 18 19 1 # SB_LUT4 (LogicCell: eeprom.i1_3_lut_LC_76)
set_location eeprom.i1_3_lut_adj_13 17 20 5 # SB_LUT4 (LogicCell: eeprom.i1_3_lut_adj_13_LC_77)
set_location eeprom.i1_4_lut_4_lut 18 20 1 # SB_LUT4 (LogicCell: eeprom.data_ready_42_LC_78)
set_location eeprom.data_ready_42 18 20 1 # SB_DFF (LogicCell: eeprom.data_ready_42_LC_78)
set_location eeprom.i2_2_lut 19 18 2 # SB_LUT4 (LogicCell: eeprom.i2_2_lut_LC_79)
set_location eeprom.i2_2_lut_adj_14 18 20 4 # SB_LUT4 (LogicCell: eeprom.i2_2_lut_adj_14_LC_80)
set_location eeprom.i2_4_lut 18 20 6 # SB_LUT4 (LogicCell: eeprom.i2_4_lut_LC_81)
set_location eeprom.i2_4_lut_adj_16 19 18 3 # SB_LUT4 (LogicCell: eeprom.i2_4_lut_adj_16_LC_82)
set_location eeprom.i2c.counter2_364_365_add_4_2_lut 21 18 0 # SB_LUT4 (LogicCell: eeprom.i2c.counter2_364_365__i1_LC_83)
set_location eeprom.i2c.counter2_364_365__i1 21 18 0 # SB_DFFSR (LogicCell: eeprom.i2c.counter2_364_365__i1_LC_83)
set_location eeprom.i2c.counter2_364_365_add_4_2 21 18 0 # SB_CARRY (LogicCell: eeprom.i2c.counter2_364_365__i1_LC_83)
set_location eeprom.i2c.counter2_364_365_add_4_3_lut 21 18 1 # SB_LUT4 (LogicCell: eeprom.i2c.counter2_364_365__i2_LC_84)
set_location eeprom.i2c.counter2_364_365__i2 21 18 1 # SB_DFFSR (LogicCell: eeprom.i2c.counter2_364_365__i2_LC_84)
set_location eeprom.i2c.counter2_364_365_add_4_3 21 18 1 # SB_CARRY (LogicCell: eeprom.i2c.counter2_364_365__i2_LC_84)
set_location eeprom.i2c.counter2_364_365_add_4_4_lut 21 18 2 # SB_LUT4 (LogicCell: eeprom.i2c.counter2_364_365__i3_LC_85)
set_location eeprom.i2c.counter2_364_365__i3 21 18 2 # SB_DFFSR (LogicCell: eeprom.i2c.counter2_364_365__i3_LC_85)
set_location eeprom.i2c.counter2_364_365_add_4_4 21 18 2 # SB_CARRY (LogicCell: eeprom.i2c.counter2_364_365__i3_LC_85)
set_location eeprom.i2c.counter2_364_365_add_4_5_lut 21 18 3 # SB_LUT4 (LogicCell: eeprom.i2c.counter2_364_365__i4_LC_86)
set_location eeprom.i2c.counter2_364_365__i4 21 18 3 # SB_DFFSR (LogicCell: eeprom.i2c.counter2_364_365__i4_LC_86)
set_location eeprom.i2c.counter2_364_365_add_4_5 21 18 3 # SB_CARRY (LogicCell: eeprom.i2c.counter2_364_365__i4_LC_86)
set_location eeprom.i2c.counter2_364_365_add_4_6_lut 21 18 4 # SB_LUT4 (LogicCell: eeprom.i2c.counter2_364_365__i5_LC_87)
set_location eeprom.i2c.counter2_364_365__i5 21 18 4 # SB_DFFSR (LogicCell: eeprom.i2c.counter2_364_365__i5_LC_87)
set_location eeprom.i2c.equal_25_i11_2_lut_3_lut_4_lut 21 20 1 # SB_LUT4 (LogicCell: eeprom.i2c.equal_25_i11_2_lut_3_lut_4_lut_LC_88)
set_location eeprom.i2c.equal_45_i4_2_lut 22 22 2 # SB_LUT4 (LogicCell: eeprom.i2c.equal_45_i4_2_lut_LC_89)
set_location eeprom.i2c.equal_48_i4_2_lut 22 22 6 # SB_LUT4 (LogicCell: eeprom.i2c.equal_48_i4_2_lut_LC_90)
set_location eeprom.i2c.equal_50_i4_2_lut 21 21 3 # SB_LUT4 (LogicCell: eeprom.i2c.equal_50_i4_2_lut_LC_91)
set_location eeprom.i2c.i1004_2_lut_3_lut 20 20 3 # SB_LUT4 (LogicCell: eeprom.i2c.i1004_2_lut_3_lut_LC_92)
set_location eeprom.i2c.i1545_2_lut_4_lut 20 22 6 # SB_LUT4 (LogicCell: eeprom.i2c.i1545_2_lut_4_lut_LC_93)
set_location eeprom.i2c.i1558_3_lut_4_lut 20 22 5 # SB_LUT4 (LogicCell: eeprom.i2c.i1558_3_lut_4_lut_LC_94)
set_location eeprom.i2c.i1665_4_lut 19 22 3 # SB_LUT4 (LogicCell: eeprom.i2c.sda_out_133_LC_95)
set_location eeprom.i2c.sda_out_133 19 22 3 # SB_DFFNE (LogicCell: eeprom.i2c.sda_out_133_LC_95)
set_location eeprom.i2c.i1666_4_lut 20 21 1 # SB_LUT4 (LogicCell: eeprom.i2c.i1666_4_lut_LC_96)
set_location eeprom.i2c.i1667_2_lut 20 21 0 # SB_LUT4 (LogicCell: eeprom.i2c.i1667_2_lut_LC_97)
set_location eeprom.i2c.i1684_4_lut 22 20 4 # SB_LUT4 (LogicCell: eeprom.i2c.i2c_scl_enable_124_LC_98)
set_location eeprom.i2c.i2c_scl_enable_124 22 20 4 # SB_DFFN (LogicCell: eeprom.i2c.i2c_scl_enable_124_LC_98)
set_location eeprom.i2c.i1686_4_lut 20 22 0 # SB_LUT4 (LogicCell: eeprom.i2c.i1686_4_lut_LC_99)
set_location eeprom.i2c.i1690_2_lut 20 19 6 # SB_LUT4 (LogicCell: eeprom.i2c.enable_slow_121_LC_100)
set_location eeprom.i2c.enable_slow_121 20 19 6 # SB_DFFESS (LogicCell: eeprom.i2c.enable_slow_121_LC_100)
set_location eeprom.i2c.i1692_4_lut_4_lut 19 21 7 # SB_LUT4 (LogicCell: eeprom.i2c.i1692_4_lut_4_lut_LC_101)
set_location eeprom.i2c.i1699_2_lut_3_lut 19 20 6 # SB_LUT4 (LogicCell: eeprom.i2c.write_enable_132_LC_102)
set_location eeprom.i2c.write_enable_132 19 20 6 # SB_DFFNESS (LogicCell: eeprom.i2c.write_enable_132_LC_102)
set_location eeprom.i2c.i17_4_lut 20 22 2 # SB_LUT4 (LogicCell: eeprom.i2c.i17_4_lut_LC_103)
set_location eeprom.i2c.i1_2_lut 20 18 1 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_LC_104)
set_location eeprom.i2c.i1_2_lut_3_lut 20 22 1 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_3_lut_LC_105)
set_location eeprom.i2c.i1_2_lut_3_lut_4_lut 21 20 5 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_3_lut_4_lut_LC_106)
set_location eeprom.i2c.i1_2_lut_3_lut_4_lut_adj_12 21 20 3 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_3_lut_4_lut_adj_12_LC_107)
set_location eeprom.i2c.i1_2_lut_3_lut_adj_11 20 18 3 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_3_lut_adj_11_LC_108)
set_location eeprom.i2c.i1_2_lut_adj_10 18 20 2 # SB_LUT4 (LogicCell: eeprom.i2c.i1_2_lut_adj_10_LC_109)
set_location eeprom.i2c.i1_2_lut_adj_7 19 19 2 # SB_LUT4 (LogicCell: eeprom.i2c.i2c_clk_122_LC_110)
set_location eeprom.i2c.i2c_clk_122 19 19 2 # SB_DFF (LogicCell: eeprom.i2c.i2c_clk_122_LC_110)
set_location eeprom.i2c.i1_3_lut 20 20 4 # SB_LUT4 (LogicCell: eeprom.i2c.i1_3_lut_LC_111)
set_location eeprom.i2c.i1_3_lut_2_lut 20 22 3 # SB_LUT4 (LogicCell: eeprom.i2c.i1_3_lut_2_lut_LC_112)
set_location eeprom.i2c.i1_3_lut_adj_8 19 21 6 # SB_LUT4 (LogicCell: eeprom.i2c.i1_3_lut_adj_8_LC_113)
set_location eeprom.i2c.i1_3_lut_adj_9 19 21 4 # SB_LUT4 (LogicCell: eeprom.i2c.i1_3_lut_adj_9_LC_114)
set_location eeprom.i2c.i1_4_lut 21 21 7 # SB_LUT4 (LogicCell: eeprom.i2c.i1_4_lut_LC_115)
set_location eeprom.i2c.i1_4_lut_4_lut 19 21 5 # SB_LUT4 (LogicCell: eeprom.i2c.i1_4_lut_4_lut_LC_116)
set_location eeprom.i2c.i22_3_lut_3_lut 19 21 0 # SB_LUT4 (LogicCell: eeprom.i2c.i22_3_lut_3_lut_LC_117)
set_location eeprom.i2c.i26_2_lut 22 20 3 # SB_LUT4 (LogicCell: eeprom.i2c.i26_2_lut_LC_118)
set_location eeprom.i2c.i2_4_lut_4_lut 20 21 2 # SB_LUT4 (LogicCell: eeprom.i2c.i2_4_lut_4_lut_LC_119)
set_location eeprom.i2c.i463_2_lut 20 22 4 # SB_LUT4 (LogicCell: eeprom.i2c.i463_2_lut_LC_120)
set_location eeprom.i2c.i4_4_lut 20 18 2 # SB_LUT4 (LogicCell: eeprom.i2c.i4_4_lut_LC_121)
set_location eeprom.i2c.i56_3_lut 19 21 1 # SB_LUT4 (LogicCell: eeprom.i2c.i56_3_lut_LC_122)
set_location eeprom.i2c.i5_4_lut 21 21 5 # SB_LUT4 (LogicCell: eeprom.i2c.i5_4_lut_LC_123)
set_location eeprom.i2c.i6_4_lut 21 21 6 # SB_LUT4 (LogicCell: eeprom.i2c.i6_4_lut_LC_124)
set_location eeprom.i2c.i986_2_lut 21 21 4 # SB_LUT4 (LogicCell: eeprom.i2c.i986_2_lut_LC_125)
set_location eeprom.i2c.i989_2_lut 23 21 7 # SB_LUT4 (LogicCell: eeprom.i2c.i989_2_lut_LC_126)
set_location eeprom.i2c.i995_3_lut_4_lut_4_lut 22 20 5 # SB_LUT4 (LogicCell: eeprom.i2c.i995_3_lut_4_lut_4_lut_LC_127)
set_location eeprom.i2c.state_7__I_0_139_i11_2_lut_4_lut 21 20 2 # SB_LUT4 (LogicCell: eeprom.i2c.state_7__I_0_139_i11_2_lut_4_lut_LC_128)
set_location eeprom.i2c.state_7__I_0_140_i11_2_lut_3_lut_4_lut 19 21 2 # SB_LUT4 (LogicCell: eeprom.i2c.state_7__I_0_140_i11_2_lut_3_lut_4_lut_LC_129)
set_location eeprom.i2c.state_7__I_0_142_i10_2_lut 20 21 6 # SB_LUT4 (LogicCell: eeprom.i2c.state_7__I_0_142_i10_2_lut_LC_130)
set_location eeprom.i2c.state_7__I_0_142_i9_2_lut 20 22 7 # SB_LUT4 (LogicCell: eeprom.i2c.state_7__I_0_142_i9_2_lut_LC_131)
set_location eeprom.i2c.state_7__I_0_143_i10_2_lut 21 20 4 # SB_LUT4 (LogicCell: eeprom.i2c.state_7__I_0_143_i10_2_lut_LC_132)
set_location eeprom.i2c.sub_34_add_2_2_lut 21 22 0 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i0_LC_133)
set_location eeprom.i2c.counter_i0 21 22 0 # SB_DFFESS (LogicCell: eeprom.i2c.counter_i0_LC_133)
set_location eeprom.i2c.sub_34_add_2_2 21 22 0 # SB_CARRY (LogicCell: eeprom.i2c.counter_i0_LC_133)
set_location eeprom.i2c.sub_34_add_2_3_lut 21 22 1 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i1_LC_134)
set_location eeprom.i2c.counter_i1 21 22 1 # SB_DFFESS (LogicCell: eeprom.i2c.counter_i1_LC_134)
set_location eeprom.i2c.sub_34_add_2_3 21 22 1 # SB_CARRY (LogicCell: eeprom.i2c.counter_i1_LC_134)
set_location eeprom.i2c.sub_34_add_2_4_lut 21 22 2 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i2_LC_135)
set_location eeprom.i2c.counter_i2 21 22 2 # SB_DFFESS (LogicCell: eeprom.i2c.counter_i2_LC_135)
set_location eeprom.i2c.sub_34_add_2_4 21 22 2 # SB_CARRY (LogicCell: eeprom.i2c.counter_i2_LC_135)
set_location eeprom.i2c.sub_34_add_2_5_lut 21 22 3 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i3_LC_136)
set_location eeprom.i2c.counter_i3 21 22 3 # SB_DFFESR (LogicCell: eeprom.i2c.counter_i3_LC_136)
set_location eeprom.i2c.sub_34_add_2_5 21 22 3 # SB_CARRY (LogicCell: eeprom.i2c.counter_i3_LC_136)
set_location eeprom.i2c.sub_34_add_2_6_lut 21 22 4 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i4_LC_137)
set_location eeprom.i2c.counter_i4 21 22 4 # SB_DFFESR (LogicCell: eeprom.i2c.counter_i4_LC_137)
set_location eeprom.i2c.sub_34_add_2_6 21 22 4 # SB_CARRY (LogicCell: eeprom.i2c.counter_i4_LC_137)
set_location eeprom.i2c.sub_34_add_2_7_lut 21 22 5 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i5_LC_138)
set_location eeprom.i2c.counter_i5 21 22 5 # SB_DFFESR (LogicCell: eeprom.i2c.counter_i5_LC_138)
set_location eeprom.i2c.sub_34_add_2_7 21 22 5 # SB_CARRY (LogicCell: eeprom.i2c.counter_i5_LC_138)
set_location eeprom.i2c.sub_34_add_2_8_lut 21 22 6 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i6_LC_139)
set_location eeprom.i2c.counter_i6 21 22 6 # SB_DFFESR (LogicCell: eeprom.i2c.counter_i6_LC_139)
set_location eeprom.i2c.sub_34_add_2_8 21 22 6 # SB_CARRY (LogicCell: eeprom.i2c.counter_i6_LC_139)
set_location eeprom.i2c.sub_34_add_2_9_lut 21 22 7 # SB_LUT4 (LogicCell: eeprom.i2c.counter_i7_LC_140)
set_location eeprom.i2c.counter_i7 21 22 7 # SB_DFFESR (LogicCell: eeprom.i2c.counter_i7_LC_140)
set_location eeprom.i525_3_lut 18 20 3 # SB_LUT4 (LogicCell: eeprom.i525_3_lut_LC_141)
set_location eeprom.i5_4_lut 18 19 2 # SB_LUT4 (LogicCell: eeprom.i5_4_lut_LC_142)
set_location eeprom.i5_4_lut_adj_15 18 19 0 # SB_LUT4 (LogicCell: eeprom.i5_4_lut_adj_15_LC_143)
set_location eeprom.i6_4_lut 17 19 0 # SB_LUT4 (LogicCell: eeprom.i6_4_lut_LC_144)
set_location eeprom.i872_4_lut_4_lut 18 19 3 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i1_LC_145)
set_location eeprom.delay_counter_i0_i1 18 19 3 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i1_LC_145)
set_location eeprom.i875_4_lut_4_lut 17 19 6 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i2_LC_146)
set_location eeprom.delay_counter_i0_i2 17 19 6 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i2_LC_146)
set_location eeprom.i878_4_lut_4_lut 19 17 3 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i3_LC_147)
set_location eeprom.delay_counter_i0_i3 19 17 3 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i3_LC_147)
set_location eeprom.i880_4_lut_4_lut 18 19 7 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i4_LC_148)
set_location eeprom.delay_counter_i0_i4 18 19 7 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i4_LC_148)
set_location eeprom.i883_4_lut_4_lut 18 19 5 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i5_LC_149)
set_location eeprom.delay_counter_i0_i5 18 19 5 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i5_LC_149)
set_location eeprom.i885_4_lut_4_lut 17 19 4 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i6_LC_150)
set_location eeprom.delay_counter_i0_i6 17 19 4 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i6_LC_150)
set_location eeprom.i887_4_lut_4_lut 19 17 2 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i7_LC_151)
set_location eeprom.delay_counter_i0_i7 19 17 2 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i7_LC_151)
set_location eeprom.i889_4_lut_4_lut 17 19 2 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i8_LC_152)
set_location eeprom.delay_counter_i0_i8 17 19 2 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i8_LC_152)
set_location eeprom.i891_4_lut_4_lut 19 18 1 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i9_LC_153)
set_location eeprom.delay_counter_i0_i9 19 18 1 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i9_LC_153)
set_location eeprom.i893_4_lut_4_lut 18 19 6 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i10_LC_154)
set_location eeprom.delay_counter_i0_i10 18 19 6 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i10_LC_154)
set_location eeprom.i896_4_lut_4_lut 19 18 0 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i11_LC_155)
set_location eeprom.delay_counter_i0_i11 19 18 0 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i11_LC_155)
set_location eeprom.i899_4_lut_4_lut 17 19 1 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i12_LC_156)
set_location eeprom.delay_counter_i0_i12 17 19 1 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i12_LC_156)
set_location eeprom.i902_4_lut_4_lut 19 19 7 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i13_LC_157)
set_location eeprom.delay_counter_i0_i13 19 19 7 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i13_LC_157)
set_location eeprom.i905_4_lut_4_lut 19 18 6 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i14_LC_158)
set_location eeprom.delay_counter_i0_i14 19 18 6 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i14_LC_158)
set_location eeprom.i908_4_lut_4_lut 19 18 4 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i15_LC_159)
set_location eeprom.delay_counter_i0_i15 19 18 4 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i15_LC_159)
set_location eeprom.i911_4_lut_4_lut 18 19 4 # SB_LUT4 (LogicCell: eeprom.delay_counter_i0_i0_LC_160)
set_location eeprom.delay_counter_i0_i0 18 19 4 # SB_DFF (LogicCell: eeprom.delay_counter_i0_i0_LC_160)
set_location eeprom.mux_182_Mux_0_i1_4_lut 17 20 2 # SB_LUT4 (LogicCell: eeprom.mux_182_Mux_0_i1_4_lut_LC_161)
set_location i1011_4_lut 18 23 7 # SB_LUT4 (LogicCell: i1011_4_lut_LC_162)
set_location i12_3_lut 18 20 7 # SB_LUT4 (LogicCell: eeprom.state__i1_LC_163)
set_location eeprom.state__i1 18 20 7 # SB_DFF (LogicCell: eeprom.state__i1_LC_163)
set_location i14_4_lut 20 20 5 # SB_LUT4 (LogicCell: eeprom.i2c.state_i0_i2_LC_164)
set_location eeprom.i2c.state_i0_i2 20 20 5 # SB_DFF (LogicCell: eeprom.i2c.state_i0_i2_LC_164)
set_location i1566_4_lut 18 20 5 # SB_LUT4 (LogicCell: i1566_4_lut_LC_165)
set_location i1630_4_lut_4_lut 20 20 6 # SB_LUT4 (LogicCell: i1630_4_lut_4_lut_LC_166)
set_location i1635_4_lut 13 23 3 # SB_LUT4 (LogicCell: i1635_4_lut_LC_167)
set_location i1636_4_lut 13 23 5 # SB_LUT4 (LogicCell: i1636_4_lut_LC_168)
set_location i1637_3_lut 13 23 4 # SB_LUT4 (LogicCell: i1637_3_lut_LC_169)
set_location i1673_2_lut_3_lut 19 21 3 # SB_LUT4 (LogicCell: i1673_2_lut_3_lut_LC_170)
set_location i1674_3_lut_4_lut 20 21 7 # SB_LUT4 (LogicCell: i1674_3_lut_4_lut_LC_171)
set_location i1676_4_lut 21 20 7 # SB_LUT4 (LogicCell: i1676_4_lut_LC_172)
set_location i1_2_lut 18 23 1 # SB_LUT4 (LogicCell: i1_2_lut_LC_173)
set_location i1_3_lut_3_lut 21 20 6 # SB_LUT4 (LogicCell: i1_3_lut_3_lut_LC_174)
set_location i1_4_lut 20 21 3 # SB_LUT4 (LogicCell: i1_4_lut_LC_175)
set_location i1_4_lut_adj_17 20 21 5 # SB_LUT4 (LogicCell: eeprom.i2c.state_i0_i3_LC_176)
set_location eeprom.i2c.state_i0_i3 20 21 5 # SB_DFF (LogicCell: eeprom.i2c.state_i0_i3_LC_176)
set_location i1_4_lut_adj_19 18 23 6 # SB_LUT4 (LogicCell: i1_4_lut_adj_19_LC_177)
set_location i28_4_lut 20 20 0 # SB_LUT4 (LogicCell: eeprom.i2c.state_i0_i0_LC_178)
set_location eeprom.i2c.state_i0_i0 20 20 0 # SB_DFF (LogicCell: eeprom.i2c.state_i0_i0_LC_178)
set_location i2_2_lut 18 24 5 # SB_LUT4 (LogicCell: i2_2_lut_LC_179)
set_location i2_3_lut_4_lut 20 21 4 # SB_LUT4 (LogicCell: i2_3_lut_4_lut_LC_180)
set_location i2_4_lut 18 22 2 # SB_LUT4 (LogicCell: i2_4_lut_LC_181)
set_location i31_4_lut 20 20 7 # SB_LUT4 (LogicCell: eeprom.i2c.state_i0_i1_LC_182)
set_location eeprom.i2c.state_i0_i1 20 20 7 # SB_DFF (LogicCell: eeprom.i2c.state_i0_i1_LC_182)
set_location i3_3_lut 18 23 0 # SB_LUT4 (LogicCell: i3_3_lut_LC_183)
set_location i3_4_lut 18 22 4 # SB_LUT4 (LogicCell: i3_4_lut_LC_184)
set_location i4_4_lut 18 22 3 # SB_LUT4 (LogicCell: i4_4_lut_LC_185)
set_location i6_4_lut 18 22 6 # SB_LUT4 (LogicCell: i6_4_lut_LC_186)
set_location i6_4_lut_adj_18 18 24 6 # SB_LUT4 (LogicCell: i6_4_lut_adj_18_LC_187)
set_location i7_4_lut 18 22 0 # SB_LUT4 (LogicCell: i7_4_lut_LC_188)
set_location i867_4_lut 20 20 1 # SB_LUT4 (LogicCell: eeprom.i2c.saved_addr__i1_LC_189)
set_location eeprom.i2c.saved_addr__i1 20 20 1 # SB_DFF (LogicCell: eeprom.i2c.saved_addr__i1_LC_189)
set_location i869_4_lut 17 20 3 # SB_LUT4 (LogicCell: eeprom.rw_43_LC_190)
set_location eeprom.rw_43 17 20 3 # SB_DFF (LogicCell: eeprom.rw_43_LC_190)
set_location i912_4_lut 21 21 2 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i1_LC_191)
set_location eeprom.i2c.data_out_i0_i1 21 21 2 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i1_LC_191)
set_location i913_4_lut 22 22 7 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i2_LC_192)
set_location eeprom.i2c.data_out_i0_i2 22 22 7 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i2_LC_192)
set_location i914_4_lut 22 22 0 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i3_LC_193)
set_location eeprom.i2c.data_out_i0_i3 22 22 0 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i3_LC_193)
set_location i915_4_lut 22 22 5 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i4_LC_194)
set_location eeprom.i2c.data_out_i0_i4 22 22 5 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i4_LC_194)
set_location i916_4_lut 22 22 3 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i5_LC_195)
set_location eeprom.i2c.data_out_i0_i5 22 22 3 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i5_LC_195)
set_location i917_4_lut 21 21 0 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i6_LC_196)
set_location eeprom.i2c.data_out_i0_i6 21 21 0 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i6_LC_196)
set_location i918_4_lut 21 20 0 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i7_LC_197)
set_location eeprom.i2c.data_out_i0_i7 21 20 0 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i7_LC_197)
set_location i938_4_lut 21 21 1 # SB_LUT4 (LogicCell: eeprom.i2c.data_out_i0_i0_LC_198)
set_location eeprom.i2c.data_out_i0_i0 21 21 1 # SB_DFF (LogicCell: eeprom.i2c.data_out_i0_i0_LC_198)
set_location i9_4_lut 18 23 2 # SB_LUT4 (LogicCell: i9_4_lut_LC_199)
set_location eeprom.i1682_2_lut_3_lut_eeprom.state__i0_REP_LUT4_0 18 21 0 # SB_LUT4 (LogicCell: eeprom.state__i0_LC_200)
set_location eeprom.state__i0 18 21 0 # SB_DFFE (LogicCell: eeprom.state__i0_LC_200)
set_location eeprom.mux_182_Mux_0_i1_4_lut_eeprom.enable_39_REP_LUT4_0 17 18 0 # SB_LUT4 (LogicCell: eeprom.enable_39_LC_201)
set_location eeprom.enable_39 17 18 0 # SB_DFFSR (LogicCell: eeprom.enable_39_LC_201)
set_location i1011_4_lut_read_15_REP_LUT4_0 18 23 3 # SB_LUT4 (LogicCell: read_15_LC_202)
set_location read_15 18 23 3 # SB_DFF (LogicCell: read_15_LC_202)
set_io CS_CLK_pad 33 2 1 # ICE_IO
set_io CS_pad 33 17 0 # ICE_IO
set_io DE_pad 3 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io INHA_pad 23 33 0 # ICE_IO
set_io INHB_pad 27 33 0 # ICE_IO
set_io INHC_pad 28 33 1 # ICE_IO
set_io INLA_pad 24 33 0 # ICE_IO
set_io INLB_pad 25 33 1 # ICE_IO
set_io INLC_pad 30 33 1 # ICE_IO
set_io LED_pad 5 33 1 # ICE_IO
set_io NEOPXL_pad 0 17 1 # ICE_IO
set_io TX_pad 3 0 1 # ICE_IO
set_io USBPU_pad 6 33 0 # ICE_IO
set_io scl_output 33 21 1 # ICE_IO
set_io sda_output 33 4 1 # ICE_IO
set_io CLK_pad 0 30 0 # ICE_IO
set_io CLK_pad_gb 0 17 0 # ICE_GB
set_location INV_eeprom.i2c.i2c_clk -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 21 24 0 # SB_LUT4 (LogicCell: LC_203)
