set_location blink_counter_131_add_4_10_lut 13 18 0 # SB_LUT4 (LogicCell: blink_counter_131__i8_LC_0)
set_location blink_counter_131__i8 13 18 0 # SB_DFF (LogicCell: blink_counter_131__i8_LC_0)
set_location blink_counter_131_add_4_10 13 18 0 # SB_CARRY (LogicCell: blink_counter_131__i8_LC_0)
set_location blink_counter_131_add_4_11_lut 13 18 1 # SB_LUT4 (LogicCell: blink_counter_131__i9_LC_1)
set_location blink_counter_131__i9 13 18 1 # SB_DFF (LogicCell: blink_counter_131__i9_LC_1)
set_location blink_counter_131_add_4_11 13 18 1 # SB_CARRY (LogicCell: blink_counter_131__i9_LC_1)
set_location blink_counter_131_add_4_12_lut 13 18 2 # SB_LUT4 (LogicCell: blink_counter_131__i10_LC_2)
set_location blink_counter_131__i10 13 18 2 # SB_DFF (LogicCell: blink_counter_131__i10_LC_2)
set_location blink_counter_131_add_4_12 13 18 2 # SB_CARRY (LogicCell: blink_counter_131__i10_LC_2)
set_location blink_counter_131_add_4_13_lut 13 18 3 # SB_LUT4 (LogicCell: blink_counter_131__i11_LC_3)
set_location blink_counter_131__i11 13 18 3 # SB_DFF (LogicCell: blink_counter_131__i11_LC_3)
set_location blink_counter_131_add_4_13 13 18 3 # SB_CARRY (LogicCell: blink_counter_131__i11_LC_3)
set_location blink_counter_131_add_4_14_lut 13 18 4 # SB_LUT4 (LogicCell: blink_counter_131__i12_LC_4)
set_location blink_counter_131__i12 13 18 4 # SB_DFF (LogicCell: blink_counter_131__i12_LC_4)
set_location blink_counter_131_add_4_14 13 18 4 # SB_CARRY (LogicCell: blink_counter_131__i12_LC_4)
set_location blink_counter_131_add_4_15_lut 13 18 5 # SB_LUT4 (LogicCell: blink_counter_131__i13_LC_5)
set_location blink_counter_131__i13 13 18 5 # SB_DFF (LogicCell: blink_counter_131__i13_LC_5)
set_location blink_counter_131_add_4_15 13 18 5 # SB_CARRY (LogicCell: blink_counter_131__i13_LC_5)
set_location blink_counter_131_add_4_16_lut 13 18 6 # SB_LUT4 (LogicCell: blink_counter_131__i14_LC_6)
set_location blink_counter_131__i14 13 18 6 # SB_DFF (LogicCell: blink_counter_131__i14_LC_6)
set_location blink_counter_131_add_4_16 13 18 6 # SB_CARRY (LogicCell: blink_counter_131__i14_LC_6)
set_location blink_counter_131_add_4_17_lut 13 18 7 # SB_LUT4 (LogicCell: blink_counter_131__i15_LC_7)
set_location blink_counter_131__i15 13 18 7 # SB_DFF (LogicCell: blink_counter_131__i15_LC_7)
set_location blink_counter_131_add_4_17 13 18 7 # SB_CARRY (LogicCell: blink_counter_131__i15_LC_7)
set_location blink_counter_131_add_4_18_lut 13 19 0 # SB_LUT4 (LogicCell: blink_counter_131__i16_LC_8)
set_location blink_counter_131__i16 13 19 0 # SB_DFF (LogicCell: blink_counter_131__i16_LC_8)
set_location blink_counter_131_add_4_18 13 19 0 # SB_CARRY (LogicCell: blink_counter_131__i16_LC_8)
set_location blink_counter_131_add_4_19_lut 13 19 1 # SB_LUT4 (LogicCell: blink_counter_131__i17_LC_9)
set_location blink_counter_131__i17 13 19 1 # SB_DFF (LogicCell: blink_counter_131__i17_LC_9)
set_location blink_counter_131_add_4_19 13 19 1 # SB_CARRY (LogicCell: blink_counter_131__i17_LC_9)
set_location blink_counter_131_add_4_20_lut 13 19 2 # SB_LUT4 (LogicCell: blink_counter_131__i18_LC_10)
set_location blink_counter_131__i18 13 19 2 # SB_DFF (LogicCell: blink_counter_131__i18_LC_10)
set_location blink_counter_131_add_4_20 13 19 2 # SB_CARRY (LogicCell: blink_counter_131__i18_LC_10)
set_location blink_counter_131_add_4_21_lut 13 19 3 # SB_LUT4 (LogicCell: blink_counter_131__i19_LC_11)
set_location blink_counter_131__i19 13 19 3 # SB_DFF (LogicCell: blink_counter_131__i19_LC_11)
set_location blink_counter_131_add_4_21 13 19 3 # SB_CARRY (LogicCell: blink_counter_131__i19_LC_11)
set_location blink_counter_131_add_4_22_lut 13 19 4 # SB_LUT4 (LogicCell: blink_counter_131__i20_LC_12)
set_location blink_counter_131__i20 13 19 4 # SB_DFF (LogicCell: blink_counter_131__i20_LC_12)
set_location blink_counter_131_add_4_22 13 19 4 # SB_CARRY (LogicCell: blink_counter_131__i20_LC_12)
set_location blink_counter_131_add_4_23_lut 13 19 5 # SB_LUT4 (LogicCell: blink_counter_131__i21_LC_13)
set_location blink_counter_131__i21 13 19 5 # SB_DFF (LogicCell: blink_counter_131__i21_LC_13)
set_location blink_counter_131_add_4_23 13 19 5 # SB_CARRY (LogicCell: blink_counter_131__i21_LC_13)
set_location blink_counter_131_add_4_24_lut 13 19 6 # SB_LUT4 (LogicCell: blink_counter_131__i22_LC_14)
set_location blink_counter_131__i22 13 19 6 # SB_DFF (LogicCell: blink_counter_131__i22_LC_14)
set_location blink_counter_131_add_4_24 13 19 6 # SB_CARRY (LogicCell: blink_counter_131__i22_LC_14)
set_location blink_counter_131_add_4_25_lut 13 19 7 # SB_LUT4 (LogicCell: blink_counter_131__i23_LC_15)
set_location blink_counter_131__i23 13 19 7 # SB_DFF (LogicCell: blink_counter_131__i23_LC_15)
set_location blink_counter_131_add_4_25 13 19 7 # SB_CARRY (LogicCell: blink_counter_131__i23_LC_15)
set_location blink_counter_131_add_4_26_lut 13 20 0 # SB_LUT4 (LogicCell: blink_counter_131__i24_LC_16)
set_location blink_counter_131__i24 13 20 0 # SB_DFF (LogicCell: blink_counter_131__i24_LC_16)
set_location blink_counter_131_add_4_26 13 20 0 # SB_CARRY (LogicCell: blink_counter_131__i24_LC_16)
set_location blink_counter_131_add_4_27_lut 13 20 1 # SB_LUT4 (LogicCell: blink_counter_131__i25_LC_17)
set_location blink_counter_131__i25 13 20 1 # SB_DFF (LogicCell: blink_counter_131__i25_LC_17)
set_location blink_counter_131_add_4_2_lut 13 17 0 # SB_LUT4 (LogicCell: blink_counter_131__i0_LC_18)
set_location blink_counter_131__i0 13 17 0 # SB_DFF (LogicCell: blink_counter_131__i0_LC_18)
set_location blink_counter_131_add_4_2 13 17 0 # SB_CARRY (LogicCell: blink_counter_131__i0_LC_18)
set_location blink_counter_131_add_4_3_lut 13 17 1 # SB_LUT4 (LogicCell: blink_counter_131__i1_LC_19)
set_location blink_counter_131__i1 13 17 1 # SB_DFF (LogicCell: blink_counter_131__i1_LC_19)
set_location blink_counter_131_add_4_3 13 17 1 # SB_CARRY (LogicCell: blink_counter_131__i1_LC_19)
set_location blink_counter_131_add_4_4_lut 13 17 2 # SB_LUT4 (LogicCell: blink_counter_131__i2_LC_20)
set_location blink_counter_131__i2 13 17 2 # SB_DFF (LogicCell: blink_counter_131__i2_LC_20)
set_location blink_counter_131_add_4_4 13 17 2 # SB_CARRY (LogicCell: blink_counter_131__i2_LC_20)
set_location blink_counter_131_add_4_5_lut 13 17 3 # SB_LUT4 (LogicCell: blink_counter_131__i3_LC_21)
set_location blink_counter_131__i3 13 17 3 # SB_DFF (LogicCell: blink_counter_131__i3_LC_21)
set_location blink_counter_131_add_4_5 13 17 3 # SB_CARRY (LogicCell: blink_counter_131__i3_LC_21)
set_location blink_counter_131_add_4_6_lut 13 17 4 # SB_LUT4 (LogicCell: blink_counter_131__i4_LC_22)
set_location blink_counter_131__i4 13 17 4 # SB_DFF (LogicCell: blink_counter_131__i4_LC_22)
set_location blink_counter_131_add_4_6 13 17 4 # SB_CARRY (LogicCell: blink_counter_131__i4_LC_22)
set_location blink_counter_131_add_4_7_lut 13 17 5 # SB_LUT4 (LogicCell: blink_counter_131__i5_LC_23)
set_location blink_counter_131__i5 13 17 5 # SB_DFF (LogicCell: blink_counter_131__i5_LC_23)
set_location blink_counter_131_add_4_7 13 17 5 # SB_CARRY (LogicCell: blink_counter_131__i5_LC_23)
set_location blink_counter_131_add_4_8_lut 13 17 6 # SB_LUT4 (LogicCell: blink_counter_131__i6_LC_24)
set_location blink_counter_131__i6 13 17 6 # SB_DFF (LogicCell: blink_counter_131__i6_LC_24)
set_location blink_counter_131_add_4_8 13 17 6 # SB_CARRY (LogicCell: blink_counter_131__i6_LC_24)
set_location blink_counter_131_add_4_9_lut 13 17 7 # SB_LUT4 (LogicCell: blink_counter_131__i7_LC_25)
set_location blink_counter_131__i7 13 17 7 # SB_DFF (LogicCell: blink_counter_131__i7_LC_25)
set_location blink_counter_131_add_4_9 13 17 7 # SB_CARRY (LogicCell: blink_counter_131__i7_LC_25)
set_location i323_4_lut 12 19 2 # SB_LUT4 (LogicCell: i323_4_lut_LC_26)
set_location i324_4_lut 12 19 3 # SB_LUT4 (LogicCell: i324_4_lut_LC_27)
set_location i325_3_lut 12 20 2 # SB_LUT4 (LogicCell: i325_3_lut_LC_28)
set_location tli.bit_counter_134_add_4_2_lut 15 17 0 # SB_LUT4 (LogicCell: tli.bit_counter_134_add_4_2_lut_LC_29)
set_location tli.bit_counter_134_add_4_2 15 17 0 # SB_CARRY (LogicCell: tli.bit_counter_134_add_4_2_lut_LC_29)
set_location tli.bit_counter_134_add_4_3_lut 15 17 1 # SB_LUT4 (LogicCell: tli.bit_counter_134_add_4_3_lut_LC_30)
set_location tli.bit_counter_134_add_4_3 15 17 1 # SB_CARRY (LogicCell: tli.bit_counter_134_add_4_3_lut_LC_30)
set_location tli.bit_counter_134_add_4_4_lut 15 17 2 # SB_LUT4 (LogicCell: tli.bit_counter_134_add_4_4_lut_LC_31)
set_location tli.bit_counter_134_add_4_4 15 17 2 # SB_CARRY (LogicCell: tli.bit_counter_134_add_4_4_lut_LC_31)
set_location tli.bit_counter_134_add_4_5_lut 15 17 3 # SB_LUT4 (LogicCell: tli.bit_counter_134_add_4_5_lut_LC_32)
set_location tli.bit_counter_134_add_4_5 15 17 3 # SB_CARRY (LogicCell: tli.bit_counter_134_add_4_5_lut_LC_32)
set_location tli.bit_counter_134_add_4_6_lut 15 17 4 # SB_LUT4 (LogicCell: tli.bit_counter_134__i4_LC_33)
set_location tli.bit_counter_134__i4 15 17 4 # SB_DFFNESR (LogicCell: tli.bit_counter_134__i4_LC_33)
set_location tli.bit_counter_134_add_4_6 15 17 4 # SB_CARRY (LogicCell: tli.bit_counter_134__i4_LC_33)
set_location tli.bit_counter_134_add_4_7_lut 15 17 5 # SB_LUT4 (LogicCell: tli.bit_counter_134__i5_LC_34)
set_location tli.bit_counter_134__i5 15 17 5 # SB_DFFNESR (LogicCell: tli.bit_counter_134__i5_LC_34)
set_location tli.bit_counter_134_add_4_7 15 17 5 # SB_CARRY (LogicCell: tli.bit_counter_134__i5_LC_34)
set_location tli.bit_counter_134_add_4_8_lut 15 17 6 # SB_LUT4 (LogicCell: tli.bit_counter_134__i6_LC_35)
set_location tli.bit_counter_134__i6 15 17 6 # SB_DFFNESR (LogicCell: tli.bit_counter_134__i6_LC_35)
set_location tli.bit_counter_134_add_4_8 15 17 6 # SB_CARRY (LogicCell: tli.bit_counter_134__i6_LC_35)
set_location tli.bit_counter_134_add_4_9_lut 15 17 7 # SB_LUT4 (LogicCell: tli.bit_counter_134__i7_LC_36)
set_location tli.bit_counter_134__i7 15 17 7 # SB_DFFNESR (LogicCell: tli.bit_counter_134__i7_LC_36)
set_location tli.bit_counter_134_mux_6_i1_4_lut_3_lut 15 18 5 # SB_LUT4 (LogicCell: tli.bit_counter_134__i0_LC_37)
set_location tli.bit_counter_134__i0 15 18 5 # SB_DFFNE (LogicCell: tli.bit_counter_134__i0_LC_37)
set_location tli.bit_counter_134_mux_6_i2_3_lut 15 18 6 # SB_LUT4 (LogicCell: tli.bit_counter_134__i1_LC_38)
set_location tli.bit_counter_134__i1 15 18 6 # SB_DFFNE (LogicCell: tli.bit_counter_134__i1_LC_38)
set_location tli.bit_counter_134_mux_6_i3_3_lut 16 17 0 # SB_LUT4 (LogicCell: tli.bit_counter_134__i2_LC_39)
set_location tli.bit_counter_134__i2 16 17 0 # SB_DFFNE (LogicCell: tli.bit_counter_134__i2_LC_39)
set_location tli.bit_counter_134_mux_6_i4_3_lut 16 17 1 # SB_LUT4 (LogicCell: tli.bit_counter_134__i3_LC_40)
set_location tli.bit_counter_134__i3 16 17 1 # SB_DFFNE (LogicCell: tli.bit_counter_134__i3_LC_40)
set_location tli.clk_slow_I_0_71_2_lut 15 16 5 # SB_LUT4 (LogicCell: tli.clk_slow_62_LC_41)
set_location tli.clk_slow_62 15 16 5 # SB_DFF (LogicCell: tli.clk_slow_62_LC_41)
set_location tli.counter_135_136_add_4_2_lut 14 16 0 # SB_LUT4 (LogicCell: tli.counter_135_136__i1_LC_42)
set_location tli.counter_135_136__i1 14 16 0 # SB_DFFSR (LogicCell: tli.counter_135_136__i1_LC_42)
set_location tli.counter_135_136_add_4_2 14 16 0 # SB_CARRY (LogicCell: tli.counter_135_136__i1_LC_42)
set_location tli.counter_135_136_add_4_3_lut 14 16 1 # SB_LUT4 (LogicCell: tli.counter_135_136__i2_LC_43)
set_location tli.counter_135_136__i2 14 16 1 # SB_DFFSR (LogicCell: tli.counter_135_136__i2_LC_43)
set_location tli.counter_135_136_add_4_3 14 16 1 # SB_CARRY (LogicCell: tli.counter_135_136__i2_LC_43)
set_location tli.counter_135_136_add_4_4_lut 14 16 2 # SB_LUT4 (LogicCell: tli.counter_135_136__i3_LC_44)
set_location tli.counter_135_136__i3 14 16 2 # SB_DFFSR (LogicCell: tli.counter_135_136__i3_LC_44)
set_location tli.counter_135_136_add_4_4 14 16 2 # SB_CARRY (LogicCell: tli.counter_135_136__i3_LC_44)
set_location tli.counter_135_136_add_4_5_lut 14 16 3 # SB_LUT4 (LogicCell: tli.counter_135_136__i4_LC_45)
set_location tli.counter_135_136__i4 14 16 3 # SB_DFFSR (LogicCell: tli.counter_135_136__i4_LC_45)
set_location tli.counter_135_136_add_4_5 14 16 3 # SB_CARRY (LogicCell: tli.counter_135_136__i4_LC_45)
set_location tli.counter_135_136_add_4_6_lut 14 16 4 # SB_LUT4 (LogicCell: tli.counter_135_136__i5_LC_46)
set_location tli.counter_135_136__i5 14 16 4 # SB_DFFSR (LogicCell: tli.counter_135_136__i5_LC_46)
set_location tli.delay_counter_132_133_add_4_10_lut 15 20 0 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i9_LC_47)
set_location tli.delay_counter_132_133__i9 15 20 0 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i9_LC_47)
set_location tli.delay_counter_132_133_add_4_10 15 20 0 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i9_LC_47)
set_location tli.delay_counter_132_133_add_4_11_lut 15 20 1 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i10_LC_48)
set_location tli.delay_counter_132_133__i10 15 20 1 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i10_LC_48)
set_location tli.delay_counter_132_133_add_4_11 15 20 1 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i10_LC_48)
set_location tli.delay_counter_132_133_add_4_12_lut 15 20 2 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i11_LC_49)
set_location tli.delay_counter_132_133__i11 15 20 2 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i11_LC_49)
set_location tli.delay_counter_132_133_add_4_12 15 20 2 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i11_LC_49)
set_location tli.delay_counter_132_133_add_4_13_lut 15 20 3 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i12_LC_50)
set_location tli.delay_counter_132_133__i12 15 20 3 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i12_LC_50)
set_location tli.delay_counter_132_133_add_4_13 15 20 3 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i12_LC_50)
set_location tli.delay_counter_132_133_add_4_14_lut 15 20 4 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i13_LC_51)
set_location tli.delay_counter_132_133__i13 15 20 4 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i13_LC_51)
set_location tli.delay_counter_132_133_add_4_14 15 20 4 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i13_LC_51)
set_location tli.delay_counter_132_133_add_4_15_lut 15 20 5 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i14_LC_52)
set_location tli.delay_counter_132_133__i14 15 20 5 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i14_LC_52)
set_location tli.delay_counter_132_133_add_4_2_lut 15 19 0 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i1_LC_53)
set_location tli.delay_counter_132_133__i1 15 19 0 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i1_LC_53)
set_location tli.delay_counter_132_133_add_4_2 15 19 0 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i1_LC_53)
set_location tli.delay_counter_132_133_add_4_3_lut 15 19 1 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i2_LC_54)
set_location tli.delay_counter_132_133__i2 15 19 1 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i2_LC_54)
set_location tli.delay_counter_132_133_add_4_3 15 19 1 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i2_LC_54)
set_location tli.delay_counter_132_133_add_4_4_lut 15 19 2 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i3_LC_55)
set_location tli.delay_counter_132_133__i3 15 19 2 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i3_LC_55)
set_location tli.delay_counter_132_133_add_4_4 15 19 2 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i3_LC_55)
set_location tli.delay_counter_132_133_add_4_5_lut 15 19 3 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i4_LC_56)
set_location tli.delay_counter_132_133__i4 15 19 3 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i4_LC_56)
set_location tli.delay_counter_132_133_add_4_5 15 19 3 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i4_LC_56)
set_location tli.delay_counter_132_133_add_4_6_lut 15 19 4 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i5_LC_57)
set_location tli.delay_counter_132_133__i5 15 19 4 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i5_LC_57)
set_location tli.delay_counter_132_133_add_4_6 15 19 4 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i5_LC_57)
set_location tli.delay_counter_132_133_add_4_7_lut 15 19 5 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i6_LC_58)
set_location tli.delay_counter_132_133__i6 15 19 5 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i6_LC_58)
set_location tli.delay_counter_132_133_add_4_7 15 19 5 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i6_LC_58)
set_location tli.delay_counter_132_133_add_4_8_lut 15 19 6 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i7_LC_59)
set_location tli.delay_counter_132_133__i7 15 19 6 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i7_LC_59)
set_location tli.delay_counter_132_133_add_4_8 15 19 6 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i7_LC_59)
set_location tli.delay_counter_132_133_add_4_9_lut 15 19 7 # SB_LUT4 (LogicCell: tli.delay_counter_132_133__i8_LC_60)
set_location tli.delay_counter_132_133__i8 15 19 7 # SB_DFFNSR (LogicCell: tli.delay_counter_132_133__i8_LC_60)
set_location tli.delay_counter_132_133_add_4_9 15 19 7 # SB_CARRY (LogicCell: tli.delay_counter_132_133__i8_LC_60)
set_location tli.i121_1_lut 16 18 6 # SB_LUT4 (LogicCell: tli.i121_1_lut_LC_61)
set_location tli.i154_4_lut 15 16 4 # SB_LUT4 (LogicCell: tli.i154_4_lut_LC_62)
set_location tli.i159_4_lut 16 20 1 # SB_LUT4 (LogicCell: tli.i159_4_lut_LC_63)
set_location tli.i1_2_lut_4_lut 16 19 4 # SB_LUT4 (LogicCell: tli.i1_2_lut_4_lut_LC_64)
set_location tli.i235_2_lut 16 18 5 # SB_LUT4 (LogicCell: tli.i235_2_lut_LC_65)
set_location tli.i244_2_lut_4_lut 16 19 7 # SB_LUT4 (LogicCell: tli.i244_2_lut_4_lut_LC_66)
set_location tli.i246_2_lut_3_lut_2_lut 16 18 4 # SB_LUT4 (LogicCell: tli.i246_2_lut_3_lut_2_lut_LC_67)
set_location tli.i250_3_lut_3_lut 17 17 7 # SB_LUT4 (LogicCell: tli.slave_select_65_LC_68)
set_location tli.slave_select_65 17 17 7 # SB_DFFN (LogicCell: tli.slave_select_65_LC_68)
set_location tli.i2_2_lut 16 19 5 # SB_LUT4 (LogicCell: tli.i2_2_lut_LC_69)
set_location tli.i2_2_lut_adj_4 15 16 3 # SB_LUT4 (LogicCell: tli.i2_2_lut_adj_4_LC_70)
set_location tli.i2_2_lut_adj_5 16 17 2 # SB_LUT4 (LogicCell: tli.i2_2_lut_adj_5_LC_71)
set_location tli.i344_2_lut 16 18 2 # SB_LUT4 (LogicCell: tli.state_i0_LC_72)
set_location tli.state_i0 16 18 2 # SB_DFFNESS (LogicCell: tli.state_i0_LC_72)
set_location tli.i347_4_lut_4_lut 17 18 6 # SB_LUT4 (LogicCell: tli.clk_out_66_LC_73)
set_location tli.clk_out_66 17 18 6 # SB_DFFN (LogicCell: tli.clk_out_66_LC_73)
set_location tli.i3_4_lut 16 19 0 # SB_LUT4 (LogicCell: tli.i3_4_lut_LC_74)
set_location tli.i3_4_lut_adj_2 16 19 1 # SB_LUT4 (LogicCell: tli.i3_4_lut_adj_2_LC_75)
set_location tli.i3_4_lut_adj_3 16 20 0 # SB_LUT4 (LogicCell: tli.i3_4_lut_adj_3_LC_76)
set_location tli.i6_4_lut 15 18 4 # SB_LUT4 (LogicCell: tli.i6_4_lut_LC_77)
set_location tli.i7_4_lut 16 18 1 # SB_LUT4 (LogicCell: tli.i7_4_lut_LC_78)
set_location tli.mux_149_i2_3_lut 16 18 7 # SB_LUT4 (LogicCell: tli.state_i1_LC_79)
set_location tli.state_i1 16 18 7 # SB_DFFNESR (LogicCell: tli.state_i1_LC_79)
set_location tli.spi_clk_I_0_i1_3_lut 17 17 2 # SB_LUT4 (LogicCell: tli.spi_clk_I_0_i1_3_lut_LC_80)
set_io CS_CLK_pad 33 2 1 # ICE_IO
set_io CS_pad 33 17 0 # ICE_IO
set_io DE_pad 3 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io INHA_pad 23 33 0 # ICE_IO
set_io INHB_pad 27 33 0 # ICE_IO
set_io INHC_pad 28 33 1 # ICE_IO
set_io INLA_pad 24 33 0 # ICE_IO
set_io INLB_pad 25 33 1 # ICE_IO
set_io INLC_pad 30 33 1 # ICE_IO
set_io LED_pad 5 33 1 # ICE_IO
set_io NEOPXL_pad 0 17 1 # ICE_IO
set_io TX_pad 3 0 1 # ICE_IO
set_io USBPU_pad 6 33 0 # ICE_IO
set_io hall1_input 0 30 1 # ICE_IO
set_io hall2_input 0 28 0 # ICE_IO
set_io hall3_input 0 28 1 # ICE_IO
set_io CLK_pad 0 30 0 # ICE_IO
set_io CLK_pad_gb 0 17 0 # ICE_GB
set_location INV_tli.clk_slow -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 14 17 3 # SB_LUT4 (LogicCell: LC_81)
