# ##############################################################################

# iCEcube PCF

# Version:            2017.01.27914

# File Generated:     Jun 24 2017 13:04:57

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 24
set_io CLK B2
set_io LED B3
set_io USBPU A3
set_io ENCODER0_A A1
set_io ENCODER0_B D1
set_io ENCODER1_A E1
set_io ENCODER1_B G1
set_io HALL3 B1
set_io HALL2 C1
set_io HALL1 C2
set_io FAULT_N A2
set_io NEOPXL E2
set_io DE H1
set_io TX J1
set_io RX H2
set_io CS_CLK G9
set_io CS D8
set_io CS_MISO D9
set_io SCL C9
set_io SDA A9
set_io INLC B8
set_io INHC A8
set_io INLB B7
set_io INHB A7
set_io INLA B6
set_io INHA A6
